:root {
  // Screen sizes (do not change)
  --media-phone: 768px;
  --media-tablet: 992px;
  --media-laptop-small: 1200px;

  // Color Cont Scheme (do not change)
  --vd-unset: unset;
  --vd-white: #ffffff;
  --vd-dirty-white: #fefefe;
  --vd-black: #000000;
  --vd-grey: #777777;
  --vd-dark-grey: #333333;
  --vd-mosque: #454545;
  --vd-mosque-light: #6c757d;
  --vd-gainsboro: #e7e7e7;
  --vd-light-grey: #fafafa;
  --vd-lighter-grey: #f5f5f5;
  --vd-white-smoke: #eeeeee;
  --vd-curios-blue: #428bca;
  --vd-mountain: #f8f8f8;
  --vd-mortar: #555555;

  --vd-red: #f44336;
  --vd-pink: #e91e63;
  --vd-purple: #9c27b0;
  --vd-deep-purple: #673ab7;
  --vd-indigo: #3f51b5;
  --vd-blue: #2196f3;
  --vd-blue-ocean: #007bff;
  --vd-light-blue: #03a9f4;
  --vd-strong-cyan: #31adce;
  --vd-cyan: #00bcd4;
  --vd-teal: #009688;
  --vd-green: #4caf50;
  --vd-light-green: #8bc34a;
  --vd-lime: #cddc39;
  --vd-yellow: #ffeb3b;
  --vd-amber: #f0ad4e;
  --vd-orange: #ff9800;
  --vd-deep-orange: #d9534f;
  --vd-brown: #795548;
  --vd-blue-grey: #607d8b;
  --vd-endeavour: #2a6496;
  --vd-white-blue: #e9ecef;

  --vd-transparent: transparent;

  --vd-transparent-white: rgba(255, 255, 255, 0.75);
  --vd-transparent-white-lighten-1: rgba(255, 255, 255, 0.5);
  --vd-transparent-white-lighten-2: rgba(255, 255, 255, 0.25);
  --vd-transparent-white-lighten-3: rgba(255, 255, 255, 0.2);
  --vd-transparent-white-lighten-4: rgba(255, 255, 255, 0.15);
  --vd-transparent-white-lighten-5: rgba(255, 255, 255, 0.125);

  --vd-transparent-black: rgba(0, 0, 0, 0.75);
  --vd-transparent-black-lighten-1: rgba(0, 0, 0, 0.5);
  --vd-transparent-black-lighten-2: rgba(0, 0, 0, 0.25);
  --vd-transparent-black-lighten-3: rgba(0, 0, 0, 0.2);
  --vd-transparent-black-lighten-4: rgba(0, 0, 0, 0.15);
  --vd-transparent-black-lighten-5: rgba(0, 0, 0, 0.125);
  --vd-transparent-black-lighten-6: rgba(0, 0, 0, 0.075);

  --vd-transparent-grey: rgba(0, 0, 0, 0.15);
  --vd-transparent-grey-lighten-1: rgba(0, 0, 0, 0.1);

  --vd-success: var(--vd-green);
  --vd-error: var(--vd-red);

  // Background colors
  --background-body: var(--vd-white);
  --background-header: var(--vd-mountain);
  --background-image: var(--vd-white-smoke);
  --background-select: var(--vd-dirty-white);
  --background-menu: var(--vd-dirty-white);
  --background-breadcrumbs: var(--vd-white-blue);

  --background-sidebar: var(--vd-mountain);
  --background-sidebar-link: var(--vd-white-smoke);
  --background-sidebar-link-active: var(--vd-curios-blue);
  --background-square-info-block: var(--vd-strong-cyan);
  --background-square-info-block-link: var(--vd-transparent-grey-lighten-1);

  --background-modal: var(--vd-light-grey);
  --background-modal-header: var(--vd-white-smoke);

  --background-remove-info-list: var(--vd-grey);

  --background-data-table-filter: var(--vd-lighter-grey);

  --background-blurred: var(--vd-transparent-black);
  --background-no-blurred: var(--vd-black);

  // Text colors
  --text-primary: var(--vd-black);
  --text-secondary: var(--vd-white);
  --text-link: var(--vd-curios-blue);
  --text-header-title: var(--vd-grey);
  --text-sidebar-title: var(--vd-mortar);
  --text-sidebar-link: var(--vd-curios-blue);
  --text-sidebar-link-hover: var(--vd-endeavour);
  --text-heading: var(--vd-dark-grey);
  --text-breadcrumbs: var(--vd-mosque-light);
  --text-breadcrumbs-link: var(--vd-blue-ocean);


  // Shadow colors
  --shadow-primary: var(--vd-mosque);
  --shadow-secondary: var(--vd-grey);

  // Border colors
  --border-header: var(--vd-gainsboro);
  --border-sidebar: var(--vd-gainsboro);
  --border-modal-header: var(--vd-gainsboro);
  --border-data-table-filter: var(--vd-light-grey);

  // Button colors
  --btn-primary: var(--vd-blue);

  // Sizes
  --width-sidebar: 13em;
}
