<template>
  <div class="vd-home-page scroller__body">
    <div class="vd-admin-abonent">
      <p class="vd-heading-2 _underlined">{{ title }}</p>

      <BaseBreadcrumbs fill/>

      <BaseTabs
        name="Типи обліку"
        :tabs="tabs"
      />

      <AdminRecordTypesList
        v-if="currentTab === 'list'"
        :data="items"
        :headers="headers"
      />

      <AdminRecordTypeItemEdit v-if="currentTab === 'create'"/>

      <AdminRecordTypesExport v-if="currentTab === 'export'"/>
    </div>
  </div>
</template>

<script lang="ts">
  import { Vue, Component } from 'vue-property-decorator';

  import Utils from '@/scripts/utils';
  import { RecordTypes } from '@/scripts/store';

  @Component({
    name: 'AdminRecordTypesListPage',
    components: {
      AdminRecordTypeItemEdit: () => import('@/components/page/admin/record-types/AdminRecordTypeItemEdit.vue'),
      AdminRecordTypesExport: () => import('@/components/page/admin/record-types/AdminRecordTypesExport.vue'),
      AdminRecordTypesList: () => import('@/components/page/admin/record-types/AdminRecordTypesList.vue')
    }
  })
  export default class AdminRecordTypesListPage extends Vue {
    @RecordTypes.Getter('assignedList') recordTypes;
    @RecordTypes.Action('init') loadRecordTypes;

    headers = [
      {
        text: 'id', value: 'id'
      },
      { text: 'Тип обліку', value: 'name' },
      { text: 'Знімати абонплату', value: 'abonplataFlag' },
      { text: 'Created at', value: 'created_at' },
      { text: 'Updated at', value: 'updated_at' }
    ];

    tabs = [
      {
        id: 1,
        text: 'Список',
        iconBefore: 'view-list',
        to: {
          name: 'admin-record-types-tab',
          params: { tab: 'list' }
        }
      },
      {
        id: 2,
        text: 'Створити',
        iconBefore: 'plus-thick',
        to: {
          name: 'admin-record-types-tab',
          params: { tab: 'create' }
        }
      },
      {
        id: 3,
        text: 'Експорт',
        iconBefore: 'file-download',
        to: {
          name: 'admin-record-types-tab',
          params: { tab: 'export' }
        }
      }
    ];

    get currentTab() {
      return this.$route.params.tab;
    }

    get title() {
      switch (this.currentTab) {
        case 'list':
          return 'Типи обліку';
        case 'create':
          return 'Новий Тип обліку';
        case 'export':
          return 'Експорт Тип обліку';
        default:
          return 'Типи обліку';
      }
    }

    get items() {
      return this.recordTypes.map((item) => ({
        ...item,
        abonplataFlag: parseInt(item.abonplata, 10) === 1
      }));
    }

    async mounted() {
      Utils.Document.setLoading(true);
      await this.loadRecordTypes();
      Utils.Document.setLoading(false);
    }
  }
</script>
