<template>
  <div class="vd-remove-info-list">
    <div class="vd-remove-info-list__head">
      <p
        v-if="title"
        class="vd-remove-info-list__title mr-2"
      >
        {{ title }}
      </p>

      <p
        v-if="subTitle"
        class="vd-remove-info-list__subtitle"
      >
        <template v-if="to">
          <router-link
            class="vd-breadcrumbs__item-link"
            tag="a"
            :to="to"
          >
            {{ subTitle }}
          </router-link>
        </template>

        <template v-else>
          {{ subTitle }}
        </template>
      </p>
    </div>

    <ul class="vd-remove-info-list__items">
      <li
        v-for="(item, ii) in items"
        :key="ii"
      >
        <span>{{ item.preText }}</span>

        <template v-if="item.text && item.to">
          <router-link
            class="vd-breadcrumbs__item-link"
            tag="a"
            :to="item.to"
          >
            {{ item.text }}
          </router-link>
        </template>

        <template v-else>
          {{ item.text }}
        </template>
      </li>
    </ul>
  </div>
</template>

<script lang="ts">
  import { Vue, Component, Prop } from 'vue-property-decorator';

  @Component({})
  export default class RemoveInfoList extends Vue {
    @Prop() to;
    @Prop(Array) items;
    @Prop(String) title;
    @Prop(String) preText;
    @Prop(String) subTitle;
  }
</script>
