<template>
  <div class="vd-admin-abonent__remove">
    <p class="vd-heading-3 mb-2">
      {{ text }}.
      Наступні об’єкти будуть видалені:
    </p>

    <RemoveInfoList
      :title="title"
      :sub-title="subTitle"
      :items="items"
      :to="to"
    />

    <BaseButton
      class="mr-1 mt-2"
      color="red"
      icon="check-bold"
      text="Так, впевнений"
    />

    <BaseButton
      class="mt-2"
      color="grey"
      icon="close-thick"
      text="Відміна"
    />
  </div>
</template>

<script lang="ts">
  import { Vue, Component, Prop } from 'vue-property-decorator';

  @Component({
    name: 'RemoveInfoTabContent',
    components: {
      RemoveInfoList: () => import('@/components/common/remove-info-list/RemoveInfoList.vue')
    }
  })
  export default class RemoveInfoTabContent extends Vue {
    @Prop(String) type;
    title = '';
    subTitle = '';
    text = '';
    items = [];
    to = {};

    // Получать данные из нужного стора по типу.
    // abonent
    abonentTitle = 'Абоненти';
    abonentSubTitle = 'Абоненти';
    abonentText = 'Ви впевнені, що хочете видалити абонента "000001 Тестовий тест Тестович"';
    abonentItems = [
      {
        id: '1',
        preText: 'Transactions',
        text: 'Transactions #227542',
        to: { name: 'admin-home' }
      }
    ];

    abonentTo = {
      name: 'admin-home'
    };

    // types-list
    paymentTypeTitle = 'Вид оплати';
    paymentTypeSubTitle = 'Пiльги';
    paymentTypeText = 'Ви впевнені, що хочете видалити вид оплати "Пiльги"';
    paymentTypeItems = [
      {
        id: '1',
        preText: 'Transactions',
        text: 'Transactions #227542',
        to: { name: 'admin-home' }
      }
    ];

    paymentTypeTo = {
      name: 'admin-payment-type'
    };

    // privilege
    privilegeTitle = 'Пiльга';
    privilegeSubTitle = 'Ветеран працi';
    privilegeText = 'Ви впевнені, що хочете видалити пiльгу "Назва пiльги"';
    privilegeItems = [
      {
        id: '1',
        preText: 'Abonents',
        text: '050612 Some text',
        to: { name: 'admin-home' }
      }
    ];

    privilegeTo = {
      name: 'admin-privilege'
    };

    // villages
    villageTitle = 'Село';
    villageSubTitle = 'Вишеньки';
    villageText = 'Ви впевнені, що хочете видалити село "Вишеньки"';
    villageItems = [
      {
        id: '1',
        preText: 'Abonents',
        text: '050612 Some text',
        to: { name: 'admin-home' }
      }
    ];

    villageTo = {
      name: 'admin-village'
    };

    // record-type
    recordTypeTitle = 'Тип облiку';
    recordTypeSubTitle = 'Лiчильник ЛК-15Г';
    recordTypeText = 'Ви впевнені, що хочете видалити тип облiку "Лiчильник ЛК-15Г"';
    recordTypeItems = [
      {
        id: '1',
        preText: 'Abonents',
        text: '050612 Some text',
        to: { name: 'admin-home' }
      }
    ];

    recordTypeTo = {
      name: 'admin-record-type'
    };

    // transaction
    transactionTitle = 'Транзакцiї';
    transactionSubTitle = 'Transaction #000001';
    transactionText = 'Ви впевнені, що хочете видалити транзакцiї "Transaction #000001"';
    transactionItems = [
      {
        id: '1',
        preText: 'Transaction',
        text: 'Transaction #000001',
        to: { name: 'admin-home' }
      }
    ];

    transactionTo = {
      name: 'admin-transaction'
    };

    // user-legal
    userLegalTitle = 'Юридичнi особи';
    userLegalSubTitle = 'Киiв град';
    userLegalText = 'Ви впевнені, що хочете видалити Юридичну особу "Киiв град"';
    userLegalItems = [
      {
        id: '1',
        preText: 'Абонент',
        text: 'Transaction #000001',
        to: { name: 'admin-home' }
      }
    ];

    userLegalTo = {
      name: 'admin-user-legal'
    };

    // company
    companyTitle = 'Господарства';
    companySubTitle = 'ТОВ "КЕГ"';
    companyText = 'Ви впевнені, що хочете видалити Господарство "ТОВ "КЕГ""';
    companyItems = [
      {
        id: '1',
        preText: 'Село',
        text: 'Эркiвцi',
        to: { name: 'admin-home' }
      },
      {
        id: '2',
        preText: 'Село',
        text: 'Шевченкове',
        to: { name: 'admin-home' }
      }
    ];

    companyTo = {
      name: 'admin-company'
    };

    // user
    userTitle = 'Користувач';
    userSubTitle = 'yasko@ukr.net';
    userText = 'Ви впевнені, що хочете видалити Користувача "yasko@ukr.net"';
    userItems = [
    ];

    userTo = {
      name: 'admin-user'
    };

    getData() {
      switch (this.type) {
        case 'abonent':
          this.title = this.abonentTitle;
          this.subTitle = this.abonentSubTitle;
          this.text = this.abonentText;
          this.items = this.abonentItems;
          this.to = this.abonentTo;
          break;
        case 'payment-type':
          this.title = this.paymentTypeTitle;
          this.subTitle = this.paymentTypeSubTitle;
          this.text = this.paymentTypeText;
          this.items = this.paymentTypeItems;
          this.to = this.paymentTypeTo;
          break;
        case 'privilege':
          this.title = this.privilegeTitle;
          this.subTitle = this.privilegeSubTitle;
          this.text = this.privilegeText;
          this.items = this.privilegeItems;
          this.to = this.privilegeTo;
          break;
        case 'village':
          this.title = this.villageTitle;
          this.subTitle = this.villageSubTitle;
          this.text = this.villageText;
          this.items = this.villageItems;
          this.to = this.villageTo;
          break;
        case 'record-type':
          this.title = this.recordTypeTitle;
          this.subTitle = this.recordTypeSubTitle;
          this.text = this.recordTypeText;
          this.items = this.recordTypeItems;
          this.to = this.recordTypeTo;
          break;
        case 'transaction':
          this.title = this.transactionTitle;
          this.subTitle = this.transactionSubTitle;
          this.text = this.transactionText;
          this.items = this.transactionItems;
          this.to = this.transactionTo;
          break;
        case 'user-legal':
          this.title = this.userLegalTitle;
          this.subTitle = this.userLegalSubTitle;
          this.text = this.userLegalText;
          this.items = this.userLegalItems;
          this.to = this.userLegalTo;
          break;
        case 'company':
          this.title = this.companyTitle;
          this.subTitle = this.companySubTitle;
          this.text = this.companyText;
          this.items = this.companyItems;
          this.to = this.companyTo;
          break;
        case 'user':
          this.title = this.userTitle;
          this.subTitle = this.userSubTitle;
          this.text = this.userText;
          this.items = this.userItems;
          this.to = this.userTo;
          break;
      }
    }

    mounted() {
      this.getData();
    }
  }
</script>
