<template>
  <div class="vd-home-page scroller__body">
    <div class="vd-admin-abonent">
      <p class="vd-heading-2 _underlined">{{ title }}</p>

      <BaseBreadcrumbs fill/>

      <BaseTabs :tabs="tabs"/>

      <InfoTabContent
        v-if="currentTab === 'info'"
        :data="infoData"
      />

      <AdminTransactionItemEdit
        v-if="currentTab === 'edit'"
      />

      <RemoveInfoTabContent
        v-if="currentTab === 'remove'"
        type="transaction"
      />
    </div>
  </div>
</template>

<script lang="ts">
  import { Vue, Component } from 'vue-property-decorator';

  @Component({
    name: 'AdminTransactionItemPage',
    components: {
      InfoTabContent: () => import('@/components/common/info-block/InfoTabContent.vue'),
      RemoveInfoTabContent: () => import('@/components/common/remove-info-list/RemoveInfoTabContent.vue'),
      AdminTransactionItemEdit: () => import('@/components/page/admin/transactions/AdminTransactionItemEdit.vue')
    }
  })
  export default class AdminTransactionItemPage extends Vue {
    tabs = [
      {
        id: 1,
        text: 'Iнформація',
        iconBefore: 'information',
        to: {
          name: 'admin-transaction-tab',
          params: { id: '1', tab: 'info' }
        }
      },
      {
        id: 2,
        text: 'Редагування',
        iconBefore: 'pencil',
        to: {
          name: 'admin-transaction-tab',
          params: { id: '1', tab: 'edit' }
        }
      },
      {
        id: 3,
        text: 'Видалення',
        iconBefore: 'close-thick',
        to: {
          name: 'admin-transaction-tab',
          params: { id: '1', tab: 'remove' }
        }
      }
    ];

    infoData = [
      {
        id: '1',
        title: 'Опис',
        type: 'text',
        content: 'Додано абонента'
      },
      {
        id: '2',
        title: 'Було, грн',
        type: 'text',
        content: '0.0'
      },
      {
        id: '3',
        title: 'Додано, грн',
        type: 'text',
        content: '0.0'
      },
      {
        id: '4',
        title: 'Стало, грн',
        type: 'text',
        content: '0.0'
      },
      {
        id: '5',
        title: 'Було, куб',
        type: 'text',
        content: '0'
      },
      {
        id: '6',
        title: 'Додано, куб',
        type: 'text',
        content: '0'
      },
      {
        id: '7',
        title: 'Стало, куб',
        type: 'text',
        content: '0.0'
      },
      {
        id: '8',
        title: 'Цiна за куб',
        type: 'text',
        content: '14.0'
      },
      {
        id: '9',
        title: 'Тип оплати',
        type: 'link',
        text: 'Система',
        to: { name: 'admin-home' }
      },
      {
        id: '10',
        title: 'Користувач',
        type: 'link',
        text: 'balr@ukr.net',
        to: { name: 'admin-home' }
      },
      {
        id: '11',
        title: 'Абонент',
        type: 'link',
        text: '010495 Тест Тест Тестович',
        to: { name: 'admin-home' }
      }
    ];

    get currentTab() {
      return this.$route.params.tab;
    }

    get title() {
      switch (this.currentTab) {
        case 'info':
          return 'Деталi транзакцiї "Назва"';
        case 'edit':
          return 'Редагування транзакцiї "Назва"';
        case 'remove':
          return 'Видалення транзакцiї "Назва"';
        default:
          return 'Транзакцiя "Назва"';
      }
    }
  }
</script>
