<template>
  <div class="vd-home-page scroller__body">
    <div class="vd-admin-abonent">
      <p class="vd-heading-2 _underlined">{{ title }}</p>

      <BaseBreadcrumbs fill/>

      <BaseTabs
        name="Транзакції"
        :tabs="tabs"
      />

      <AdminTransactionsList
        v-if="currentTab === 'list'"
        :data="items"
        :headers="headers"
      />

      <AdminTransactionItemEdit v-if="currentTab === 'create'"/>

      <AdminTransactionsListExport v-if="currentTab === 'export'"/>
    </div>
  </div>
</template>

<script lang="ts">
  import { Vue, Component } from 'vue-property-decorator';

  import Utils from '@/scripts/utils';
  import { Transactions } from '@/scripts/store';

  @Component({
    name: 'AdminTransactionsListPage',
    components: {
      AdminTransactionsListExport: () => import('@/components/page/admin/transactions/AdminTransactionsListExport.vue'),
      AdminTransactionItemEdit: () => import('@/components/page/admin/transactions/AdminTransactionItemEdit.vue'),
      AdminTransactionsList: () => import('@/components/page/admin/transactions/AdminTransactionsList.vue')
    }
  })
  export default class AdminTransactionsListPage extends Vue {
    @Transactions.Getter('assignedList') transactions;
    @Transactions.Action('init') loadTransactions;

    additionalFilter = [];

    headers = [
      { text: 'id', value: 'id' },
      { text: 'Опис', value: 'description' },
      { text: 'Було, грн', value: 'bulo' },
      { text: 'Стало, грн', value: 'stalo' },
      { text: 'Додано, грн', value: 'dobavleno' },
      { text: 'Було, куб', value: 'bulokub' }
    ];

    tabs = [
      {
        id: 1,
        text: 'Список',
        iconBefore: 'view-list',
        to: {
          name: 'admin-transactions-tab',
          params: { tab: 'list' }
        }
      },
      {
        id: 2,
        text: 'Створити',
        iconBefore: 'plus-thick',
        to: {
          name: 'admin-transactions-tab',
          params: { tab: 'create' }
        }
      },
      {
        id: 3,
        text: 'Експорт',
        iconBefore: 'file-download',
        to: {
          name: 'admin-transactions-tab',
          params: { tab: 'export' }
        }
      }
    ];

    get currentTab() {
      return this.$route.params.tab;
    }

    get title() {
      switch (this.currentTab) {
        case 'list':
          return 'Транзакції';
        case 'create':
          return 'Нова транзакція';
        case 'export':
          return 'Експорт транзакції';
        default:
          return 'Транзакції';
      }
    }

    get items() {
      return this.transactions.map((item) => ({
        ...item
      }));
    }

    async mounted() {
      Utils.Document.setLoading(true);
      await this.loadTransactions();
      Utils.Document.setLoading(false);
    }
  }
</script>
