.vd-square-info-block {
  position: relative;
  min-height: 15.9375rem;
  margin-bottom: 2rem;
  padding: 1rem;
  color: var(--text-secondary);
  background-color: var(--background-square-info-block);
  border-radius: 3px;

  &__icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  &__value {
    font-size: 2rem;
    margin-bottom: 0;
  }

  &__footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--background-square-info-block-link);

    &-icon {
      padding-left: .5rem;
    }

    &:hover {
      text-decoration: none;
      color: var(--text-secondary);
    }
  }

  &__general-list {
    padding-bottom: 1rem;

    &-head {
      padding-top: 2rem;
      padding-bottom: 1rem;
      margin: 0;
      font-size: 1.1rem;
    }

    &-item {
      display: flex;
      justify-content: space-between;
      margin-bottom: 0;
      font-size: .9rem;
      line-height: 1rem;

      :first-child {
        min-width: 5.5rem;
      }

      :nth-child(2) {
        min-width: 2.8rem;
      }
    }
  }

}