<template>
  <div class="vd-admin-abonent__user">
    <TextField
      title="Iм'я"
      text="Опцiонально, довжина не бiльше 255."
    />

    <TextField
      title="Опис"
      text="Опцiонально."
    />

    <TextField
      title="Мiсто"
      text="Опцiонально, довжина не бiльше 255."
    />

    <TextField
      title="Адреса"
      text="Опцiонально, довжина не бiльше 255."
    />

    <TextField
      title="Рахунок"
      text="Опцiонально, довжина не бiльше 255."
    />

    <TextField
      title="Банк"
      text="Опцiонально, довжина не бiльше 255."
    />

    <TextField
      title="Мфо"
      text="Опцiонально, довжина не бiльше 255."
    />

    <TextField
      title="Едрпо"
      text="Опцiонально, довжина не бiльше 255."
    />

    <TextField
      title="Телефон"
      text="Опцiонально, довжина не бiльше 255."
    />

    <TextField
      title="Баланс"
      text="Опцiонально."
    />

    <div class="row">
      <div class="col-12 col-md-2">
        <p class="vd-heading-4 _text-align-right mb-2">Село</p>
      </div>

      <div class="col-12 col-md-10">
        <div class="vd-admin-abonent__user-com">
          <BaseSelect
            class="mb-2"
            placeholder=""
            :items="items"
          />

          <BaseModal
            class="ml-2 mb-2"
            title="Додавання села"
          >
            <template #activator="{ on }">
              <BaseButton
                v-on="on"
                color="primary"
                icon="plus-thick"
                text="Додати вид оплати"
              />
            </template>
            <span>Додавання села</span>
          </BaseModal>

          <BaseModal
            class="ml-2 mb-2"
            title="Редагування села"
          >
            <template #activator="{ on }">
              <BaseButton
                v-on="on"
                color="primary"
                icon="pencil"
                text="Редагувати село"
              />
            </template>
            <span>Редагування села</span>
          </BaseModal>
        </div>

        <p class="vd-heading-info">Опцiонально.</p>
      </div>
    </div>

    <TextField
      title="Договор"
      text="Опцiонально, довжина не бiльше 255."
    />

    <ControllButtons :list="controllButtons"/>
  </div>
</template>

<script lang="ts">
  import { Vue, Component } from 'vue-property-decorator';

  @Component({
    name: 'AdminUserLegalItemEdit',
    components: {
      TextField: () => import('@/components/common/text-field/TextField.vue'),
      ControllButtons: () => import('@/components/common/controll-buttons/ControllButtons.vue')
    }
  })
  export default class AdminUserLegalItemEdit extends Vue {
    controllButtons = [
      {
        icon: 'check-bold',
        color: 'primary',
        text: 'Зберегти',
        event: ''
      },
      {
        color: 'primary',
        text: 'Зберегти та додати нову',
        event: ''
      },
      {
        color: 'primary',
        text: 'Зберегти та продовжити редагування',
        event: ''
      },
      {
        icon: 'close-thick',
        color: 'grey',
        text: 'Вiдмiна',
        event: ''
      }
    ];

    items = [
      { value: '1', text: '2%' },
      { value: '2', text: '10%' },
      { value: '4', text: '50%' }
    ];
  }
</script>
