<template>
  <div class="vd-admin-abonent__user">
    <TextField
      title="Пiльга"
      text="Опцiонально, довжина не бiльше 255."
    />

    <SelectField
      title="Вiдсоток знижки"
      text="Опцiонально."
      :list="items"
    />

    <ControllButtons :list="controllButtons"/>
  </div>
</template>

<script lang="ts">
  import { Vue, Component } from 'vue-property-decorator';

  @Component({
    name: 'AdminPrivilegeItemEdit',
    components: {
      TextField: () => import('@/components/common/text-field/TextField.vue'),
      SelectField: () => import('@/components/common/select-field/SelectField.vue'),
      ControllButtons: () => import('@/components/common/controll-buttons/ControllButtons.vue')
    }
  })
  export default class AdminPrivilegeItemEdit extends Vue {
    items = [
      { value: '1', text: '2%' },
      { value: '2', text: '10%' },
      { value: '4', text: '50%' }
    ];

    controllButtons = [
      {
        icon: 'check-bold',
        color: 'primary',
        text: 'Зберегти',
        event: ''
      },
      {
        color: 'primary',
        text: 'Зберегти та додати нову',
        event: ''
      },
      {
        color: 'primary',
        text: 'Зберегти та продовжити редагування',
        event: ''
      },
      {
        icon: 'close-thick',
        color: 'grey',
        text: 'Вiдмiна',
        event: ''
      }
    ];
  }
</script>
