.vd-remove-info-list {
  &__head {
    display: flex;
    align-items: center;
  }

  &__title {
    margin: 0;
    padding: 0.1rem 0.4rem;
    color: #fff;
    background-color: var(--background-remove-info-list);
    border-radius: 3px;
    font-size: 0.7rem;
    font-weight: 500;
    display: inline-block;
  }

  &__subtitle {
    margin: 0;
    font-size: 0.9rem;
  }

  &__items {
    margin: 0 0 0 2rem;
    font-size: 0.9rem;
    list-style-type: circle;
  }
}
