<template>
  <div class="vd-admin-abonent__remove">
    <p class="vd-heading-3 _underlined _font-weight-bold mb-3">
      <BaseIcon
        size="1"
        name="check-bold"
        color="grey"
      />

      Оберiть поля для експорту
    </p>

    <div>
      checkbox Обрати всi поля
    </div>

    <ExportCheckList
      class="mt-3"
      title="Поля: Транзакцiї"
      :list="transactionsList"
    />

    <ExportCheckList
      class="mt-3"
      title="Поля: Тип оплати"
      :list="payTypeList"
    />

    <ExportCheckList
      class="mt-3"
      title="Поля: Користувач"
      :list="usersList"
    />

    <ExportCheckList
      class="mt-3"
      title="Поля: Абонент"
      :list="abonentList"
    />

    <ExportFormats/>

    <ControllButtons :list="controllButtons"/>
  </div>
</template>

<script lang="ts">
  import { Vue, Component } from 'vue-property-decorator';

  @Component({
    name: 'AdminTransactionsListExport',
    components: {
      ExportCheckList: () => import('@/components/common/export-check-list/ExportCheckList.vue'),
      ControllButtons: () => import('@/components/common/controll-buttons/ControllButtons.vue'),
      ExportFormats: () => import('@/components/common/export-formats/ExportFormats.vue'),
      SelectField: () => import('@/components/common/select-field/SelectField.vue')
    }
  })
  export default class AdminTransactionsListExport extends Vue {
    controllButtons = [
      {
        icon: 'check-bold',
        color: 'primary',
        text: 'Експортувати як csv',
        event: ''
      },
      {
        color: 'primary',
        text: 'Експортувати як json',
        event: ''
      },
      {
        color: 'primary',
        text: 'Експортувати як xml',
        event: ''
      },
      {
        icon: 'close-thick',
        color: 'grey',
        text: 'Вiдмiна',
        event: ''
      }
    ];

    transactionsList = [
      {
        title: 'Id'
      },
      {
        title: 'Опис'
      },
      {
        title: 'Було, грн'
      },
      {
        title: 'Додано, грн'
      },
      {
        title: 'Стало, грн'
      },
      {
        title: 'Було, грн'
      },
      {
        title: 'Додано, куб'
      },
      {
        title: 'Стало, куб'
      },
      {
        title: 'Цiна за куб'
      },
      {
        title: 'Створено'
      },
      {
        title: 'Оновлено'
      }
    ];

    payTypeList = [
      {
        title: 'Id'
      },
      {
        title: 'Тип оплат'
      },
      {
        title: 'Створено'
      },
      {
        title: 'Оновлено'
      }
    ];

    usersList = [
      {
        title: 'Id'
      },
      {
        title: 'E-mail'
      },
      {
        title: 'Сброс пароля отправлен'
      },
      {
        title: 'Запомнен'
      },
      {
        title: 'Количество входов'
      },
      {
        title: 'Текущий вход'
      },
      {
        title: 'Последний вход'
      },
      {
        title: 'Текущий вход IP'
      },
      {
        title: 'Последний вход IP'
      },
      {
        title: 'Створено'
      },
      {
        title: 'Оновлено'
      }
    ];

    abonentList = [
      {
        id: '1',
        title: 'Id'
      },
      {
        title: 'Рахунок'
      },
      {
        title: 'Прiзвище, iм\'я'
      },
      {
        title: 'Адреса'
      },
      {
        title: 'Паспорт'
      },
      {
        title: 'Iдент. код'
      },
      {
        title: 'Телефон'
      },
      {
        title: 'Примiтки'
      },
      {
        title: 'Номер'
      },
      {
        title: 'Встановлено'
      },
      {
        title: 'Повiрка'
      },
      {
        title: 'Показник'
      },
      {
        title: 'Баланс'
      },
      {
        title: 'Створений'
      },
      {
        title: 'Оновлено'
      },
      {
        title: 'Активний'
      },
      {
        title: 'К-сть осiб'
      },
      {
        title: 'Водовiдведення'
      },
      {
        title: 'Дачник'
      },
      {
        title: 'Квартплата'
      },
      {
        title: 'Вiдключ.'
      },
      {
        title: 'Пломба'
      }
    ];
  }
</script>
