<template>
  <div class="vd-admin-abonent__user">
    <TextField
      title="Опис"
      text="Опцiонально, довжина не бiльше 255."
    />

    <TextField
      title="Було, грн"
      text="Опцiонально."
    />

    <TextField
      title="Додано, грн"
      text="Опцiонально."
    />

    <TextField
      title="Стало, грн"
      text="Опцiонально."
    />

    <TextField
      title="Було, куб"
      text="Опцiонально."
    />

    <TextField
      title="Додано, куб"
      text="Опцiонально."
    />

    <TextField
      title="Стало, куб"
      text="Опцiонально."
    />

    <TextField
      title="Цiна за куб"
      text="Опцiонально."
    />

    <div class="row">
      <div class="col-12 col-md-2">
        <p class="vd-heading-4 _text-align-right mb-2">Тип оплати</p>
      </div>

      <div class="col-12 col-md-10">
        <div class="vd-admin-abonent__user-com">
          <BaseSelect
            class="mb-2"
            placeholder=""
            :items="items"
          />

          <BaseModal
            class="ml-2 mb-2"
            title="Додавання виду оплати"
          >
            <template #activator="{ on }">
              <BaseButton
                v-on="on"
                color="primary"
                icon="plus-thick"
                text="Додати вид оплати"
              />
            </template>
            <span>Додавання виду оплати</span>
          </BaseModal>

          <BaseModal
            class="ml-2 mb-2"
            title="Редагування виду оплати"
          >
            <template #activator="{ on }">
              <BaseButton
                v-on="on"
                color="primary"
                icon="pencil"
                text="Редагувати вид оплати"
              />
            </template>
            <span>Редагування виду оплати</span>
          </BaseModal>
        </div>

        <p class="vd-heading-info">Опцiонально.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-2">
        <p class="vd-heading-4 _text-align-right mb-2">Користувач</p>
      </div>

      <div class="col-12 col-md-10">
        <div class="vd-admin-abonent__user-com">
          <BaseSelect
            class="mb-2"
            placeholder=""
            :items="items"
          />

          <BaseModal
            class="ml-2 mb-2"
            title="Додавання користувачi"
          >
            <template #activator="{ on }">
              <BaseButton
                v-on="on"
                color="primary"
                icon="plus-thick"
                text="Додати користувачi"
              />
            </template>
            <span>Додавання користувачi</span>
          </BaseModal>

          <BaseModal
            class="ml-2 mb-2"
            title="Редагування користувачi"
          >
            <template #activator="{ on }">
              <BaseButton
                v-on="on"
                color="primary"
                icon="pencil"
                text="Редагувати користувачi"
              />
            </template>
            <span>Редагування користувача</span>
          </BaseModal>
        </div>

        <p class="vd-heading-info">Опцiонально.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-2">
        <p class="vd-heading-4 _text-align-right mb-2">Абонент</p>
      </div>

      <div class="col-12 col-md-10">
        <div class="vd-admin-abonent__user-com">
          <BaseSelect
            class="mb-2"
            placeholder=""
            :items="items"
          />

          <BaseModal
            class="ml-2 mb-2"
            title="Додавання абоненти"
          >
            <template #activator="{ on }">
              <BaseButton
                v-on="on"
                color="primary"
                icon="plus-thick"
                text="Додати абоненти"
              />
            </template>
            <span>Додавання абоненти</span>
          </BaseModal>

          <BaseModal
            class="ml-2 mb-2"
            title="Редагування абоненти"
          >
            <template #activator="{ on }">
              <BaseButton
                v-on="on"
                color="primary"
                icon="pencil"
                text="Редагувати абоненти"
              />
            </template>
            <span>Редагування абоненти</span>
          </BaseModal>
        </div>

        <p class="vd-heading-info">Опцiонально.</p>
      </div>
    </div>

    <ControllButtons :list="controllButtons"/>
  </div>
</template>

<script lang="ts">
  import { Vue, Component } from 'vue-property-decorator';

  @Component({
    name: 'AdminTransactionItemEdit',
    components: {
      TextField: () => import('@/components/common/text-field/TextField.vue'),
      ControllButtons: () => import('@/components/common/controll-buttons/ControllButtons.vue')
    }
  })
  export default class AdminTransactionItemEdit extends Vue {
    controllButtons = [
      {
        icon: 'check-bold',
        color: 'primary',
        text: 'Зберегти',
        event: ''
      },
      {
        color: 'primary',
        text: 'Зберегти та додати нову',
        event: ''
      },
      {
        color: 'primary',
        text: 'Зберегти та продовжити редагування',
        event: ''
      },
      {
        icon: 'close-thick',
        color: 'grey',
        text: 'Вiдмiна',
        event: ''
      }
    ];

    items = [
      { value: '1', text: '2%' },
      { value: '2', text: '10%' },
      { value: '4', text: '50%' }
    ];
  }
</script>
