<template>
  <div class="vd-table__wrapper">
    <table class="vd-table">
      <thead class="vd-table__head">
        <tr class="vd-table__tr vd-table__tr_head">
          <th
            v-for="head in headings"
            class="vd-table__th"
            :key="head.id"
          >
            {{ head.title }}
          </th>
        </tr>
      </thead>

      <tbody>
        <tr
          v-for="item in data"
          class="vd-table__tr vd-table__tr_body"
          :key="item.id"
        >
          <td
            class="vd-table__td"
            width="15%"
          >
            <span class="vd-heading-4">{{ item.name }}</span>
          </td>

          <td
            class="vd-table__td"
            width="15%"
          >
            <span class="vd-heading-4">{{ item.statisticText }}</span>
          </td>

          <td
            class="vd-table__td"
          >
            <BaseProgressBar
              max-val="10000"
              :last-time-changes="item.lastTimeChanges"
              :value="item.count"
            />
          </td>

          <td
            class="vd-table__td"
            width="5%"
          >
            <router-link
              v-for="(link, il) in item.links"
              class="vd-breadcrumbs__item-link"
              tag="a"
              :key="il"
              :to="link.to"
            >
              <BaseIcon color="blue">
                {{ link.icon }}
              </BaseIcon>
            </router-link>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script lang="ts">
  import { Vue, Component } from 'vue-property-decorator';

  @Component({
    name: 'AdminControlBlock'
  })
  export default class AdminControlBlock extends Vue {
    headings = [
      {
        id: '1',
        title: 'Назва'
      },
      {
        id: '2',
        title: 'Використовувалось'
      },
      {
        id: '3',
        title: 'Записи'
      },
      {
        id: '4',
        title: ''
      }
    ];

    data = [
      {
        id: '1',
        name: 'Абоненти',
        statisticText: 'близько 3 годин назад',
        lastTimeChanges: '0000001',
        count: '5363',
        links: [
          {
            icon: 'view-list',
            to: {
              name: 'admin-abonents-tab',
              params: { tab: 'list' }
            }
          },
          {
            icon: 'plus-thick',
            to: {
              name: 'admin-abonents-tab',
              params: { tab: 'create' }
            }
          },
          {
            icon: 'file-download',
            to: {
              name: 'admin-abonents-tab',
              params: { tab: 'export' }
            }
          }
        ]
      },
      {
        id: '2',
        name: 'Види оплат',
        statisticText: 'бiльше 1 року назад',
        lastTimeChanges: '0000000',
        count: '120',
        links: [
          {
            icon: 'view-list',
            to: {
              name: 'admin-payment-types-tab',
              params: { tab: 'list' }
            }
          },
          {
            icon: 'plus-thick',
            to: {
              name: 'admin-payment-types-tab',
              params: { tab: 'create' }
            }
          },
          {
            icon: 'file-download',
            iconBefore: 'close-thick',
            to: {
              name: 'admin-payment-types-tab',
              params: { tab: 'export' }
            }
          }
        ]
      },
      {
        id: '3',
        name: 'Господарства',
        statisticText: '5 мiсяцiв назад',
        lastTimeChanges: '0000000',
        count: '2',
        links: [
          {
            icon: 'view-list',
            to: {
              name: 'admin-companies-tab',
              params: { tab: 'list' }
            }
          },
          {
            icon: 'plus-thick',
            to: {
              name: 'admin-companies-tab',
              params: { tab: 'create' }
            }
          },
          {
            icon: 'file-download',
            iconBefore: 'close-thick',
            to: {
              name: 'admin-companies-tab',
              params: { tab: 'export' }
            }
          }
        ]
      },
      {
        id: '4',
        name: 'Користувачi',
        statisticText: 'близько 4 години назад',
        lastTimeChanges: '0000000',
        count: '11',
        links: [
          {
            icon: 'view-list',
            to: {
              name: 'admin-users-tab',
              params: { tab: 'list' }
            }
          },
          {
            icon: 'plus-thick',
            to: {
              name: 'admin-users-tab',
              params: { tab: 'create' }
            }
          },
          {
            icon: 'file-download',
            iconBefore: 'close-thick',
            to: {
              name: 'admin-users-tab',
              params: { tab: 'export' }
            }
          }
        ]
      },
      {
        id: '7',
        name: 'Пiльги',
        statisticText: 'майже 2 роки назад',
        lastTimeChanges: '0000000',
        count: '11',
        links: [
          {
            icon: 'view-list',
            to: {
              name: 'admin-privileges-tab',
              params: { tab: 'list' }
            }
          },
          {
            icon: 'plus-thick',
            to: {
              name: 'admin-privileges-tab',
              params: { tab: 'create' }
            }
          },
          {
            icon: 'file-download',
            iconBefore: 'close-thick',
            to: {
              name: 'admin-privileges-tab',
              params: { tab: 'export' }
            }
          }
        ]
      },
      {
        id: '9',
        name: 'Села',
        statisticText: 'близько 1 мiсяця назад',
        lastTimeChanges: '0000000',
        count: '17',
        links: [
          {
            icon: 'view-list',
            to: {
              name: 'admin-villages-tab',
              params: { tab: 'list' }
            }
          },
          {
            icon: 'plus-thick',
            to: {
              name: 'admin-villages-tab',
              params: { tab: 'create' }
            }
          },
          {
            icon: 'file-download',
            iconBefore: 'close-thick',
            to: {
              name: 'admin-villages-tab',
              params: { tab: 'export' }
            }
          }
        ]
      },
      {
        id: '10',
        name: 'Тип облiку',
        statisticText: 'бiльше 4 рокiв назад',
        lastTimeChanges: '0000000',
        count: '3',
        links: [
          {
            icon: 'view-list',
            to: {
              name: 'admin-record-types-tab',
              params: { tab: 'list' }
            }
          },
          {
            icon: 'plus-thick',
            to: {
              name: 'admin-record-types-tab',
              params: { tab: 'create' }
            }
          },
          {
            icon: 'file-download',
            iconBefore: 'close-thick',
            to: {
              name: 'admin-record-types-tab',
              params: { tab: 'export' }
            }
          }
        ]
      },
      {
        id: '11',
        name: 'Транзакцiї',
        statisticText: 'близько 3 години назад',
        lastTimeChanges: '0000001',
        count: '214119',
        links: [
          {
            icon: 'view-list',
            to: {
              name: 'admin-transactions-tab',
              params: { tab: 'list' }
            }
          },
          {
            icon: 'plus-thick',
            to: {
              name: 'admin-transactions-tab',
              params: { tab: 'create' }
            }
          },
          {
            icon: 'file-download',
            iconBefore: 'close-thick',
            to: {
              name: 'admin-transactions-tab',
              params: { tab: 'export' }
            }
          }
        ]
      },
      {
        id: '13',
        name: 'Юредичнi особи',
        statisticText: 'бiльше 3 рокiв назад',
        lastTimeChanges: '0000000',
        count: '1',
        links: [
          {
            icon: 'view-list',
            to: {
              name: 'admin-users-legal-tab',
              params: { tab: 'list' }
            }
          },
          {
            icon: 'plus-thick',
            to: {
              name: 'admin-users-legal-tab',
              params: { tab: 'create' }
            }
          },
          {
            icon: 'file-download',
            iconBefore: 'close-thick',
            to: {
              name: 'admin-users-legal-tab',
              params: { tab: 'export' }
            }
          }
        ]
      }
    ];
  }
</script>
