<template>
  <div class="vd-home-page scroller__body">
    <div class="vd-admin-abonent">
      <p class="vd-heading-2 _underlined">{{ title }}</p>

      <BaseBreadcrumbs fill/>

      <BaseTabs
        name="Абоненти"
        :tabs="tabs"
      />

      <AdminAbonentsList
        v-if="currentTab === 'list'"
        :items="items"
        :headers="headers"
      />

      <AdminAbonentItemEdit
        v-if="currentTab === 'create'"
      />

      <AdminAbonentsExport
        v-if="currentTab === 'export'"
      />
    </div>
  </div>
</template>

<script lang="ts">
  import { Vue, Component } from 'vue-property-decorator';

  import Utils from '@/scripts/utils';
  import { Abonents } from '@/scripts/store';

  @Component({
    name: 'AdminAbonentsListPage',
    components: {
      AdminAbonentsList: () => import('@/components/page/admin/abonents/AdminAbonentsList.vue'),
      AdminAbonentsExport: () => import('@/components/page/admin/abonents/AdminAbonentsExport.vue'),
      AdminAbonentItemEdit: () => import('@/components/page/admin/abonents/AdminAbonentItemEdit.vue')
    }
  })

  export default class AdminAbonentsListPage extends Vue {
    @Abonents.Getter('assignedList') abonents;
    @Abonents.Action('init') loadAbonents;

    tabs = [
      {
        id: 1,
        text: 'Список',
        iconBefore: 'view-list',
        to: {
          name: 'admin-abonents-tab',
          params: { tab: 'list' }
        },

        filter: true
      },
      {
        id: 2,
        text: 'Створити',
        iconBefore: 'plus-thick',
        to: {
          name: 'admin-abonents-tab',
          params: { tab: 'create' }
        }
      },
      {
        id: 3,
        text: 'Експорт',
        iconBefore: 'file-download',
        to: {
          name: 'admin-abonents-tab',
          params: { tab: 'export' }
        }
      }
    ];

    headers = [
      {
        text: 'id', value: 'id'
      },
      { text: 'Рахунок', value: 'dogovor' },
      { text: 'Прізвище, ім\'я', value: 'fio' },
      { text: 'Село', value: 'village' },
      { text: 'Адреса', value: 'adress' },
      { text: 'Паспорт', value: 'passport' }
    ];

    get currentTab() {
      return this.$route.params.tab;
    }

    get title() {
      switch (this.currentTab) {
        case 'list':
          return 'Список абонентiв';
        case 'create':
          return 'Створення абонентa';
        case 'export':
          return 'Експорт абонентiв';
        default:
          return 'Абоненти';
      }
    }

    get items() {
      return this.abonents.map((item) => ({
        ...item,
        village: item.selo_pkg.name
      }));
    }

    async mounted() {
      Utils.Document.setLoading(true);
      await this.loadAbonents();
      Utils.Document.setLoading(false);
    }
  }
</script>
