<template>
  <div class="vd-home-page scroller__body">
    <div class="vd-admin-abonent">
      <p class="vd-heading-2 _underlined">{{ title }}</p>

      <BaseBreadcrumbs fill/>

      <BaseTabs :tabs="tabs"/>

      <InfoTabContent
        v-if="currentTab === 'info'"
        :data="userInfoData"
      />

      <AdminAbonentItemEdit
        v-if="currentTab === 'edit'"
      />

      <RemoveInfoTabContent
        v-if="currentTab === 'remove'"
        type="abonent"
      />
    </div>
  </div>
</template>

<script lang="ts">
  import { Vue, Component } from 'vue-property-decorator';

  @Component({
    name: 'AdminAbonentItemPage',
    components: {
      RemoveInfoTabContent: () => import('@/components/common/remove-info-list/RemoveInfoTabContent.vue'),
      AdminAbonentItemEdit: () => import('@/components/page/admin/abonents/AdminAbonentItemEdit.vue'),
      InfoTabContent: () => import('@/components/common/info-block/InfoTabContent.vue')
    }
  })
  export default class AdminAbonentItemPage extends Vue {
    tabs = [
      {
        id: 1,
        text: 'Iнформація',
        iconBefore: 'information',
        to: {
          name: 'admin-abonent-tab',
          params: { id: '1', tab: 'info' }
        }
      },
      {
        id: 2,
        text: 'Редагування',
        iconBefore: 'pencil',
        to: {
          name: 'admin-abonent-tab',
          params: { id: '1', tab: 'edit' }
        }
      },
      {
        id: 3,
        text: 'Видалення',
        iconBefore: 'close-thick',
        to: {
          name: 'admin-abonent-tab',
          params: { id: '1', tab: 'remove' }
        }
      },
      {
        id: 4,
        text: 'Показати в додатку',
        iconBefore: 'eye-outline',
        to: { name: 'admin-home' }
      }
    ];

    userInfoData = [
      {
        id: '1',
        title: 'Рахунок',
        type: 'text',
        content: '010495'
      },
      {
        id: '2',
        title: 'Прізвище, ім\'я',
        type: 'text',
        content: 'Шевченко Олександр Володимирович'
      },
      {
        id: '3',
        title: 'Село',
        type: 'link',
        text: 'Эрківці',
        to: { name: 'admin-home' }
      },
      {
        id: '4',
        title: 'Адреса',
        type: 'text',
        content: 'вул. Мисливська 17'
      },
      {
        id: '5',
        title: 'Паспорт',
        type: 'text',
        content: 'СО 356097'
      },
      {
        id: '6',
        title: 'Идент. код',
        type: 'text',
        content: '1865202871'
      },
      {
        id: '7',
        title: 'Телефони',
        type: 'text',
        content: '066-861-43-09'
      },
      {
        id: '8',
        title: 'Пильга',
        type: 'link',
        text: 'Без пильг',
        to: { name: 'admin-home' }
      },
      {
        id: '9',
        title: 'Тип облику',
        type: 'link',
        text: 'Личильник ЛК-15Х',
        to: { name: 'admin-home' }
      },
      {
        id: '10',
        title: 'Номер',
        type: 'text',
        content: '9200337133'
      },
      {
        id: '11',
        title: 'Встановлено',
        type: 'text',
        content: 'буд. 17'
      },
      {
        id: '12',
        title: 'Повирка',
        type: 'text',
        content: '01 Липня 2020'
      },
      {
        id: '13',
        title: 'Показник',
        type: 'text',
        content: '0'
      },
      {
        id: '14',
        title: 'Баланс',
        type: 'text',
        content: '0.0'
      },
      {
        id: '15',
        title: 'Active',
        type: 'bool',
        value: true
      },
      {
        id: '16',
        title: 'К-сть осиб',
        type: 'text',
        content: '1'
      },
      {
        id: '17',
        title: 'Сума пильг',
        type: 'text',
        content: '0.0'
      },
      {
        id: '18',
        title: 'Квартплата',
        type: 'text',
        content: '0.0'
      },
      {
        id: '19',
        title: 'Транзакции',
        type: 'link',
        text: 'Transaction #227542',
        to: { name: 'admin-home' }
      }
    ];

    get currentTab() {
      return this.$route.params.tab;
    }

    get title() {
      switch (this.currentTab) {
        case 'info':
          return 'Деталi абонента 000001 Тест Тест Тестович';
        case 'edit':
          return 'Редагування абонента 000001 Тест Тест Тестович';
        case 'remove':
          return 'Видалення абонента 000001 Тест Тест Тестович';
        default:
          return 'Абонент 000001 Тест Тест Тестович';
      }
    }
  }
</script>
