.vd-modal {
  display: inline-block;

  &__wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: 200ms opacity;
    pointer-events: none;
    opacity: 0;

    &._shown {
      pointer-events: all;
      opacity: 1;
    }
  }

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background: var(--vd-transparent-black);
  }

  &__content {
    position: relative;
    max-width: 100%;
    width: 500px;
    padding: 2em 2em;
    z-index: 2;

    border-radius: 3px;
    background: var(--background-modal);

    transition: 200ms transform;
    transform: translateY(15%) scale(0.9);

    .vd-modal__wrapper._shown & {
      transform: translateY(0) scale(1);
    }
  }

  &__header {
    padding: 1em 2em;
    margin: -2em -2em 2em;

    border-radius: 3px 3px 0 0;
    border-bottom: 1px solid var(--border-modal-header);
    background: var(--background-modal-header);

    &-text {
      font-size: 1.5em;
    }
  }
}
