.vd-promiser {
  &__filters {
    display: flex;
    padding: 2rem 0;
  }

  &__filter {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 1rem;

    p, label {
      margin-bottom: 0;
      padding: 0 .3rem;
    }

    .vd-input {
      min-width: 100px !important;
      width: 100px;
    }
  }
}