<template>
  <div class="vd-home-page scroller__body">
    <div class="vd-admin-abonent">
      <p class="vd-heading-2 _underlined">{{ title }}</p>

      <BaseBreadcrumbs fill/>

      <BaseTabs :tabs="tabs"/>

      <InfoTabContent
        v-if="currentTab === 'info'"
        :data="infoData"
      />

      <AdminCompanyItemEdit
        v-if="currentTab === 'edit'"
      />

      <RemoveInfoTabContent
        v-if="currentTab === 'remove'"
        type="company"
      />
    </div>
  </div>
</template>

<script lang="ts">
  import { Vue, Component } from 'vue-property-decorator';

  @Component({
    name: 'AdminCompanyItemPage',
    components: {
      InfoTabContent: () => import('@/components/common/info-block/InfoTabContent.vue'),
      AdminCompanyItemEdit: () => import('@/components/page/admin/companies/AdminCompanyItemEdit.vue'),
      RemoveInfoTabContent: () => import('@/components/common/remove-info-list/RemoveInfoTabContent.vue')
    }
  })
  export default class AdminCompanyItemPage extends Vue {
    tabs = [
      {
        id: 1,
        text: 'Iнформація',
        iconBefore: 'information',
        to: {
          name: 'admin-company-tab',
          params: { id: '1', tab: 'info' }
        }
      },
      {
        id: 2,
        text: 'Редагування',
        iconBefore: 'pencil',
        to: {
          name: 'admin-company-tab',
          params: { id: '1', tab: 'edit' }
        }
      },
      {
        id: 3,
        text: 'Видалення',
        iconBefore: 'close-thick',
        to: {
          name: 'admin-company-tab',
          params: { id: '1', tab: 'remove' }
        }
      }
    ];

    infoData = [
      {
        id: '1',
        title: 'Назва',
        type: 'text',
        content: 'ТОВ "КЕГ"'
      },
      {
        id: '2',
        title: 'Мiсто',
        type: 'text',
        content: 'м. Переяслав-Хмельничький'
      },
      {
        id: '5',
        title: 'Рахунок',
        type: 'text',
        content: 'UA 7872384923485312904803248239'
      },
      {
        id: '5',
        title: 'Банк',
        type: 'text',
        content: 'ПАТ КБ"ПРИВАТБАНК"'
      },
      {
        id: '5',
        title: 'Мфо',
        type: 'text',
        content: '321842'
      },
      {
        id: '6',
        title: 'Телефон',
        type: 'text',
        content: '05452455234, 4234242342, 2342423424'
      },
      {
        id: '7',
        title: 'Edrpo',
        type: 'text',
        content: '40086628'
      },
      {
        id: '8',
        title: 'Села',
        type: 'link',
        list: [
          {
            text: 'Эркiвцi',
            to: { name: 'admin-home' }
          },
          {
            text: 'Сомкова Долина',
            to: { name: 'admin-home' }
          }
        ]
      }
    ];

    get currentTab() {
      return this.$route.params.tab;
    }

    get title() {
      switch (this.currentTab) {
        case 'info':
          return 'Деталi господарства "Назва"';
        case 'edit':
          return 'Редагування господарства "Назва"';
        case 'remove':
          return 'Видалення господарства "Назва"';
        default:
          return 'Господарство "Назва"';
      }
    }
  }
</script>
