<template>
  <div class="vd-home-page scroller__body">
    <div class="vd-admin-abonent">
      <p class="vd-heading-2 _underlined">{{ title }}</p>

      <BaseBreadcrumbs fill/>

      <BaseTabs
        name="Господарства"
        :tabs="tabs"
      />

      <AdminCompaniesList
        v-if="currentTab === 'list'"
        :data="items"
        :headers="headers"
      />

      <AdminCompanyItemEdit v-if="currentTab === 'create'"/>

      <AdminCompaniesExport v-if="currentTab === 'export'"/>
    </div>
  </div>
</template>

<script lang="ts">
  import { Vue, Component } from 'vue-property-decorator';

  import { Firms } from '@/scripts/store';
  import Utils from '@/scripts/utils';

  @Component({
    name: 'AdminCompaniesListPage',
    components: {
      AdminCompaniesExport: () => import('@/components/page/admin/companies/AdminCompaniesExport.vue'),
      AdminCompanyItemEdit: () => import('@/components/page/admin/companies/AdminCompanyItemEdit.vue'),
      AdminCompaniesList: () => import('@/components/page/admin/companies/AdminCompaniesList.vue')
    }
  })
  export default class AdminCompaniesListPage extends Vue {
    @Firms.Getter('assignedList') firms;
    @Firms.Action('init') loadFirms;

    headers = [
      { text: 'id', value: 'id' },
      { text: 'Name', value: 'name' },
      { text: 'Description', value: 'description' },
      { text: 'Misto', value: 'misto' },
      { text: 'Rahunok', value: 'rahunok' },
      { text: 'Bank', value: 'bank' }
    ];

    tabs = [
      {
        id: 1,
        text: 'Список',
        iconBefore: 'view-list',
        to: {
          name: 'admin-companies-tab',
          params: { tab: 'list' }
        }
      },
      {
        id: 2,
        text: 'Створити',
        iconBefore: 'plus-thick',
        to: {
          name: 'admin-companies-tab',
          params: { tab: 'create' }
        }
      },
      {
        id: 3,
        text: 'Експорт',
        iconBefore: 'file-download',
        to: {
          name: 'admin-companies-tab',
          params: { tab: 'export' }
        }
      }
    ];

    get currentTab() {
      return this.$route.params.tab;
    }

    get title() {
      switch (this.currentTab) {
        case 'list':
          return 'Господарства';
        case 'create':
          return 'Нове господарство';
        case 'export':
          return 'Експорт господарств';
        default:
          return 'Господарства';
      }
    }

    get items() {
      return this.firms.map((item) => ({
        ...item
      }));
    }

    async mounted() {
      Utils.Document.setLoading(true);
      await this.loadFirms();
      Utils.Document.setLoading(false);
    }
  }
</script>
