.error-page {
  &-404 {
    display: flex;
    align-items: center;
    justify-content: center;

    &__content {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      &-icon {
        position: relative;
        margin-bottom: 1.5rem;

        &-circle {
          position: absolute;
          top: 0;
          left: 0;
          margin: -34% -26%;
          fill: none !important;
          font-size: 8rem !important;
        }
      }

      &-text {
        text-align: center;
        line-height: 1.2;

        i {
          font-size: 0.8em;
          color: rgba(255, 255, 255, 0.6);
        }
      }

      &-back-button {
        margin: 5rem 0 -5rem;
      }
    }
  }
}
