<template>
  <div class="vd-home-page scroller__body">
    <div class="vd-admin-abonent">
      <p class="vd-heading-2 _underlined">{{ title }}</p>

      <BaseBreadcrumbs fill/>

      <BaseTabs
        name="Села"
        :tabs="tabs"
      />

      <AdminVillagesList
        v-if="currentTab === 'list'"
        :data="items"
        :headers="headers"
      />

      <AdminVillageItemEdit v-if="currentTab === 'create'"/>

      <AdminVillagesListExport v-if="currentTab === 'export'"/>
    </div>
  </div>
</template>

<script lang="ts">
  import { Vue, Component } from 'vue-property-decorator';

  import Utils from '@/scripts/utils';
  import { Villages } from '@/scripts/store';

  @Component({
    name: 'AdminVillagesListPage',
    components: {
      AdminVillagesListExport: () => import('@/components/page/admin/villages/AdminVillagesListExport.vue'),
      AdminVillageItemEdit: () => import('@/components/page/admin/villages/AdminVillageItemEdit.vue'),
      AdminVillagesList: () => import('@/components/page/admin/villages/AdminVillagesList.vue')
    }
  })
  export default class AdminVillagesListPage extends Vue {
    @Villages.Getter('assignedList') villages;
    @Villages.Action('init') loadVillages;

    headers = [
      {
        text: 'id', value: 'id'
      },
      { text: 'Село', value: 'name' },
      { text: 'Ціна куба', value: 'price' },
      { text: 'На особу, куб', value: 'forperson' },
      { text: 'На полив, куб', value: 'forpoliv' },
      { text: 'На двір, куб', value: 'fordvir' }
    ];

    tabs = [
      {
        id: 1,
        text: 'Список',
        iconBefore: 'view-list',
        to: {
          name: 'admin-villages-tab',
          params: { tab: 'list' }
        }
      },
      {
        id: 2,
        text: 'Створити',
        iconBefore: 'plus-thick',
        to: {
          name: 'admin-villages-tab',
          params: { tab: 'create' }
        }
      },
      {
        id: 3,
        text: 'Експорт',
        iconBefore: 'file-download',
        to: {
          name: 'admin-villages-tab',
          params: { tab: 'export' }
        }
      }
    ];

    get currentTab() {
      return this.$route.params.tab;
    }

    get title() {
      switch (this.currentTab) {
        case 'list':
          return 'Села';
        case 'create':
          return 'Нове село';
        case 'export':
          return 'Експорт сiл';
        default:
          return 'Села';
      }
    }

    get items() {
      return this.villages.map((item) => ({
        ...item
      }));
    }

    async mounted() {
      Utils.Document.setLoading(true);
      await this.loadVillages();
      Utils.Document.setLoading(false);
    }
  }
</script>
