<template>
  <div class="vd-home-page scroller__body">
    <div class="vd-admin-abonent">
      <p class="vd-heading-2 _underlined">{{ title }}</p>

      <BaseBreadcrumbs fill/>

      <BaseTabs :tabs="tabs"/>

      <InfoTabContent
        v-if="currentTab === 'info'"
        :data="infoData"
      />

      <AdminVillageItemEdit
        v-if="currentTab === 'edit'"
      />

      <RemoveInfoTabContent
        v-if="currentTab === 'remove'"
        type="village"
      />
    </div>
  </div>
</template>

<script lang="ts">
  import { Vue, Component } from 'vue-property-decorator';

  @Component({
    name: 'AdminVillageItemPage',
    components: {
      InfoTabContent: () => import('@/components/common/info-block/InfoTabContent.vue'),
      AdminVillageItemEdit: () => import('@/components/page/admin/villages/AdminVillageItemEdit.vue'),
      RemoveInfoTabContent: () => import('@/components/common/remove-info-list/RemoveInfoTabContent.vue')
    }
  })
  export default class AdminVillageItemPage extends Vue {
    tabs = [
      {
        id: 1,
        text: 'Iнформація',
        iconBefore: 'information',
        to: {
          name: 'admin-village-tab',
          params: { id: '1', tab: 'info' }
        }
      },
      {
        id: 2,
        text: 'Редагування',
        iconBefore: 'pencil',
        to: {
          name: 'admin-village-tab',
          params: { id: '1', tab: 'edit' }
        }
      },
      {
        id: 3,
        text: 'Видалення',
        iconBefore: 'close-thick',
        to: {
          name: 'admin-village-tab',
          params: { id: '1', tab: 'remove' }
        }
      }
    ];

    infoData = [
      {
        id: '1',
        title: 'Село',
        type: 'text',
        content: 'Вишеньки'
      },
      {
        id: '2',
        title: 'Цiна куба',
        type: 'text',
        content: '14.0'
      },
      {
        id: '5',
        title: 'На особу, куб',
        type: 'text',
        content: '15'
      },
      {
        id: '5',
        title: 'На полив, куб',
        type: 'text',
        content: '15'
      },
      {
        id: '5',
        title: 'На двiр, куб',
        type: 'text',
        content: '0'
      },
      {
        id: '6',
        title: 'Цiна водовiдведення',
        type: 'text',
        content: '8.0'
      },
      {
        id: '7',
        title: 'Квартплата',
        type: 'text',
        content: '0.0'
      },
      {
        id: '8',
        title: 'Фiрма',
        type: 'link',
        text: 'ТОВ "КЕГ"',
        to: { name: 'admin-home' }
      }
    ];

    get currentTab() {
      return this.$route.params.tab;
    }

    get title() {
      switch (this.currentTab) {
        case 'info':
          return 'Деталi села';
        case 'edit':
          return 'Редагування села';
        case 'remove':
          return 'Видалення села';
        default:
          return 'Села';
      }
    }
  }
</script>
