.vd-data-table {
  width: 100%;
  overflow-x: scroll;
}

.vd-table {
  width: 100%;
  font-size: .9rem;

  &__wrapper {
    overflow-x: auto;
  }

  &__head {
    background-color: var(--vd-light-grey);
  }

  &__tr {
    &_head {
      border-bottom: 1px solid var(--vd-transparent-black-lighten-2);
    }

    &_body {
      border-bottom: 1px solid var(--vd-transparent-black-lighten-4);

      &:nth-child(even) {
        background-color: var(--vd-light-grey);
      }

      &:hover {
        background-color: var(--vd-transparent-black-lighten-6);
      }
    }
  }

  &__th {
    position: relative;
    padding: 1rem .5rem;
    cursor: pointer;

    &_arrows {
      position: absolute;
      top: 0;
      bottom: 0;
      height: 1rem;
      margin: auto;
      visibility: hidden;

      &._active {
        visibility: visible;
        background: var(--background-body);
      }
    }

    &:hover ._arrow-up {
      visibility: visible;
    }
  }

  &__td {
    max-width: 11rem;
    padding: .4rem .5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    a {
      color: var(--text-link);
    }

    &._wide {
      white-space: inherit;
    }
  }

  &__action {
    padding-right: .3rem;
  }

  &__counter {
    padding-top: 1rem;
  }
}