.vd-input {
  position: relative;
  display: inline-block;
  max-width: 100%;
  padding: 0.594em 1em;

  line-height: 1;
  border-radius: 3px;
  border: 1px solid transparent;
  background: var(--background-select);

  user-select: none;
}
