<template>
  <div class="vd-admin-abonent__remove">
    <BaseDataTable
      name="Типи обліку"
      disable-details
      :items="data"
      :headers="headers"
      :actions="true"
    >
      <template
        #item.abonplataFlag="{ item }"
      >
        <BaseIcon
          size="1.3"
          :color="item.abonplataFlag ? 'success' : 'error'"
        >
          {{ item.abonplataFlag ? 'checkbox-marked' : 'close-box' }}
        </BaseIcon>
      </template>
    </BaseDataTable>
  </div>
</template>

<script lang="ts">
  import { Vue, Component, Prop } from 'vue-property-decorator';

  @Component({
    name: 'AdminRecordTypesList',
    components: { DataTableFilter: () => import('@/components/common/data-table-filter/DataTableFilter.vue') }
  })
  export default class AdminRecordTypesList extends Vue {
    @Prop() data;
    @Prop() headers;
  }
</script>
