<template>
  <div class="vd-admin-abonent__remove">
    <TextField
      title="Тип облiку"
      text="Опцiонально, довжина не бiльше 255."
    />

    <div class="row mb-3">
      <div class="col-12 col-md-2">
        <p class="vd-heading-4 _text-align-right mb-2">Знiмати абонплату</p>
      </div>

      <div class="col-12 col-md-10">
        checkbox
      </div>
    </div>

    <ControllButtons :list="controllButtons"/>
  </div>
</template>

<script lang="ts">
  import { Vue, Component } from 'vue-property-decorator';

  @Component({
    name: 'AdminRecordTypeItemEdit',
    components: {
      TextField: () => import('@/components/common/text-field/TextField.vue'),
      ControllButtons: () => import('@/components/common/controll-buttons/ControllButtons.vue')
    }
  })
  export default class AdminRecordTypeItemEdit extends Vue {
    controllButtons = [
      {
        icon: 'check-bold',
        color: 'primary',
        text: 'Зберегти',
        event: ''
      },
      {
        color: 'primary',
        text: 'Зберегти та додати нове',
        event: ''
      },
      {
        color: 'primary',
        text: 'Зберегти та продовжити редагування',
        event: ''
      },
      {
        icon: 'close-thick',
        color: 'grey',
        text: 'Вiдмiна',
        event: ''
      }
    ];
  }
</script>
