<template>
  <div class="vd-home-page scroller__body">
    <div class="vd-admin-abonent">
      <p class="vd-heading-2 _underlined">{{ title }}</p>

      <BaseBreadcrumbs fill/>

      <BaseTabs :tabs="tabs"/>

      <InfoTabContent
        v-if="currentTab === 'info'"
        :data="infoData"
      />

      <AdminPrivilegeItemEdit
        v-if="currentTab === 'edit'"
      />

      <RemoveInfoTabContent
        v-if="currentTab === 'remove'"
        type="privilege"
      />
    </div>
  </div>
</template>

<script lang="ts">
  import { Vue, Component } from 'vue-property-decorator';

  @Component({
    name: 'AdminPrivilegeItemPage',
    components: {
      InfoTabContent: () => import('@/components/common/info-block/InfoTabContent.vue'),
      RemoveInfoTabContent: () => import('@/components/common/remove-info-list/RemoveInfoTabContent.vue'),
      AdminPrivilegeItemEdit: () => import('@/components/page/admin/privileges/AdminPrivilegeItemEdit.vue')
    }
  })
  export default class AdminPrivilegeItemPage extends Vue {
    tabs = [
      {
        id: 1,
        text: 'Iнформація',
        iconBefore: 'information',
        to: {
          name: 'admin-privilege-tab',
          params: { id: '1', tab: 'info' }
        }
      },
      {
        id: 2,
        text: 'Редагування',
        iconBefore: 'pencil',
        to: {
          name: 'admin-privilege-tab',
          params: { id: '1', tab: 'edit' }
        }
      },
      {
        id: 3,
        text: 'Видалення',
        iconBefore: 'close-thick',
        to: {
          name: 'admin-privilege-tab',
          params: { id: '1', tab: 'remove' }
        }
      }
    ];

    infoData = [
      {
        id: '1',
        title: 'Пiльга',
        type: 'text',
        content: 'Ветеран працi'
      },
      {
        id: '2',
        title: 'Вiдсоток знижки',
        type: 'text',
        content: '0'
      }
    ];

    get currentTab() {
      return this.$route.params.tab;
    }

    get title() {
      switch (this.currentTab) {
        case 'info':
          return 'Деталi пiльги';
        case 'edit':
          return 'Редагування пiльги';
        case 'remove':
          return 'Видалення пiльги';
        default:
          return 'Пiльга';
      }
    }
  }
</script>
