<template>
  <div class="vd-home-page scroller__body">
    <div class="vd-admin-abonent">
      <p class="vd-heading-2 _underlined">{{ title }}</p>

      <BaseBreadcrumbs fill/>

      <BaseTabs
        name="Пiльги"
        :tabs="tabs"
      />

      <AdminPrivilegesList
        v-if="currentTab === 'list'"
        :data="items"
        :headers="headers"
      />

      <AdminPrivilegeItemEdit v-if="currentTab === 'create'"/>

      <AdminPrivilegesExport v-if="currentTab === 'export'"/>
    </div>
  </div>
</template>

<script lang="ts">
  import { Vue, Component } from 'vue-property-decorator';

  import { Privileges } from '@/scripts/store';
  import Utils from '@/scripts/utils';

  @Component({
    name: 'AdminPrivilegesListPage',
    components: {
      AdminPrivilegesExport: () => import('@/components/page/admin/privileges/AdminPrivilegesExport.vue'),
      AdminPrivilegeItemEdit: () => import('@/components/page/admin/privileges/AdminPrivilegeItemEdit.vue'),
      AdminPrivilegesList: () => import('@/components/page/admin/privileges/AdminPrivilegesList.vue')
    }
  })
  export default class AdminPrivilegesListPage extends Vue {
    @Privileges.Getter('assignedList') privileges;
    @Privileges.Action('init') loadPrivileges;

    headers = [
      {
        text: 'id', value: 'id'
      },
      { text: 'Пільга', value: 'name' },
      { text: 'Процент знижки', value: 'percent' },
      { text: 'Created at', value: 'created_at' },
      { text: 'Updated at', value: 'updated_at' }
    ];

    tabs = [
      {
        id: 1,
        text: 'Список',
        iconBefore: 'view-list',
        to: {
          name: 'admin-privileges-tab',
          params: { tab: 'list' }
        }
      },
      {
        id: 2,
        text: 'Створити',
        iconBefore: 'plus-thick',
        to: {
          name: 'admin-privileges-tab',
          params: { tab: 'create' }
        }
      },
      {
        id: 3,
        text: 'Експорт',
        iconBefore: 'file-download',
        to: {
          name: 'admin-privileges-tab',
          params: { tab: 'export' }
        }
      }
    ];

    get currentTab() {
      return this.$route.params.tab;
    }

    get title() {
      switch (this.currentTab) {
        case 'list':
          return 'Пiльги';
        case 'create':
          return 'Нова пiльга';
        case 'export':
          return 'Експорт видiв пiльг';
        default:
          return 'Пiльги';
      }
    }

    get items() {
      return this.privileges.map((item) => ({
        ...item
      }));
    }

    async mounted() {
      Utils.Document.setLoading(true);
      await this.loadPrivileges();
      Utils.Document.setLoading(false);
    }
  }
</script>
