.vd-auth {
  &__wrapper {
    border: 1px solid var(--border-header);
    border-radius: 4px;
  }

  &__header {
    background-color: var(--background-header);
    border-bottom: 1px solid var(--border-header);
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}