.vd-menu {
  display: inline-block;

  &__wrapper {
    position: fixed;

    z-index: 99;

    border-radius: 3px;
    background: var(--background-menu);

    transition: 200ms opacity, 200ms transform;
    transform: translateY(-5%) scale(0.9);
    pointer-events: none;
    opacity: 0;

    &._shown {
      transform: translateY(0) scale(1);
      pointer-events: all;
      opacity: 1;
    }
  }
}
