<template>
  <div>
    <h1>Buttons</h1>

    <div class="d-flex flex-wrap align-items-center">
      <BaseButton/>

      <BaseButton
        class="ml-2"
        color="primary"
        text="Button with text prop"
      />

      <BaseButton
        class="ml-2"
        color="primary"
      >
        Button with text slot
      </BaseButton>

      <BaseButton
        class="ml-2"
        color="primary"
        text="Button with icon #1"
        icon="test"
      />

      <BaseButton
        class="ml-2"
        color="primary"
        text="Button with icon #2"
        icon="home"
      />

      <BaseButton
        class="ml-2"
        color="primary"
        text="Button with icon #3"
        icon="home"
        icon-right
      />
    </div>

    <div class="mt-2 d-flex flex-wrap align-items-center">
      <BaseButton
        color="primary"
        text="Primary color button (from --btn-primary variable)"
      />

      <BaseButton
        class="ml-2"
        color="red"
        text="Red color button (from --vd-primary variable)"
      />
    </div>

    <div class="mt-2 d-flex flex-wrap align-items-center">
      <BaseButton
        color="text-sidebar-title"
        text="Sidebar-title color button (from --text-sidebar-title variable)"
      />

      <BaseButton
        class="ml-2"
        color="#c3d033"
        text="#c3d033 button (from hex code)"
      />
    </div>

    <div class="mt-2 d-flex flex-wrap align-items-center">
      <BaseButton
        x-large
      />

      <BaseButton
        class="ml-2"
        large
      />

      <BaseButton
        class="ml-2"
      />

      <BaseButton
        class="ml-2"
        small
      />

      <BaseButton
        class="ml-2"
        x-small
      />
    </div>

    <div class="mt-2 d-flex flex-wrap align-items-center">
      <BaseButton
        text="Block Button"
        block
      />
    </div>
  </div>
</template>

<script lang="ts">
  import { Vue, Component } from 'vue-property-decorator';

  @Component({})
  export default class DevelopButtons extends Vue {
  }
</script>
