<template>
  <div>
    <h1>Image</h1>

    <div>
      <BaseButton
        class="mb-4"
        text="Load image"
        @click="imgUrl = imgNewUrl"
      />
    </div>

    <BaseImage
      class="vd-elevation"
      width="600"
      height="338"
      :src="imgUrl"
    />
  </div>
</template>

<script lang="ts">
  import { Vue, Component } from 'vue-property-decorator';

  @Component({})
  export default class DevelopImage extends Vue {
    imgUrl = '';
    imgNewUrl = 'https://images3.alphacoders.com/954/954241.jpg';
  }
</script>
