<template>
  <div>
    <p class="vd-heading-2 _underlined">Some text</p>
    <p class="vd-heading-3 mt-2">Some text</p>
  </div>
</template>

<script lang="ts">
  import { Vue, Component } from 'vue-property-decorator';

  @Component({})
  export default class DevelopHeading extends Vue {
  }
</script>
