<template>
  <div>
    <h1>Menus</h1>

    <p>X-Axis</p>
    <div class="d-flex justify-content-center">
      <BaseMenu>
        <template #activator="{ on }">
          <BaseButton v-on="on"/>
        </template>

        <span>Default (left-right & bottom-bottom)</span>
      </BaseMenu>

      <BaseMenu
        class="ml-2"
        x-to="left"
      >
        <template #activator="{ on }">
          <BaseButton v-on="on"/>
        </template>

        <span>left-left & bottom-bottom</span>
      </BaseMenu>

      <BaseMenu
        class="ml-2"
        x-from="right"
      >
        <template #activator="{ on }">
          <BaseButton v-on="on"/>
        </template>

        <span>right-right & bottom-bottom</span>
      </BaseMenu>

      <BaseMenu
        class="ml-2"
        x-from="right"
        x-to="left"
      >
        <template #activator="{ on }">
          <BaseButton v-on="on"/>
        </template>

        <span>right-left & bottom-bottom</span>
      </BaseMenu>
    </div>

    <p class="mt-3">Y-Axis</p>
    <div class="d-flex justify-content-center">
      <BaseMenu>
        <template #activator="{ on }">
          <BaseButton v-on="on"/>
        </template>

        <span>Default (left-right & bottom-bottom)</span>
      </BaseMenu>

      <BaseMenu
        class="ml-2"
        y-to="top"
      >
        <template #activator="{ on }">
          <BaseButton v-on="on"/>
        </template>

        <span>left-right & bottom-top</span>
      </BaseMenu>

      <BaseMenu
        class="ml-2"
        y-from="top"
      >
        <template #activator="{ on }">
          <BaseButton v-on="on"/>
        </template>

        <span>left-right & top-bottom</span>
      </BaseMenu>

      <BaseMenu
        class="ml-2"
        y-from="top"
        y-to="top"
      >
        <template #activator="{ on }">
          <BaseButton v-on="on"/>
        </template>

        <span>left-right & top-top</span>
      </BaseMenu>
    </div>

    <p class="mt-3">XY-Axis</p>
    <div class="d-flex justify-content-center">
      <BaseMenu
        x-to="left"
        y-to="top"
      >
        <template #activator="{ on }">
          <BaseButton v-on="on"/>
        </template>

        <span>left-left & bottom-top</span>
      </BaseMenu>

      <BaseMenu
        class="ml-2"
        x-from="right"
        x-to="left"
        y-from="top"
        y-to="top"
      >
        <template #activator="{ on }">
          <BaseButton v-on="on"/>
        </template>

        <span>right-left & top-top</span>
      </BaseMenu>
    </div>

    <p class="mt-3">Centering</p>
    <div class="d-flex justify-content-center">
      <BaseMenu
        x-center
      >
        <template #activator="{ on }">
          <BaseButton v-on="on"/>
        </template>

        <span>Centered by X-Axis</span>
      </BaseMenu>

      <BaseMenu
        class="ml-2"
        y-center
      >
        <template #activator="{ on }">
          <BaseButton v-on="on"/>
        </template>

        <span>Centered by Y-Axis</span>
      </BaseMenu>

      <BaseMenu
        class="ml-2"
        x-center
        y-center
      >
        <template #activator="{ on }">
          <BaseButton v-on="on"/>
        </template>

        <span>Centered by XY-Axis</span>
      </BaseMenu>
    </div>

    <p class="mt-3">Other prop</p>
    <div class="d-flex justify-content-center">
      <BaseMenu fill-width>
        <template #activator="{ on }">
          <BaseButton v-on="on"/>
        </template>

        <span>Fill<br> minimal<br> width</span>
      </BaseMenu>

      <BaseMenu
        class="ml-2"
        fill-height
      >
        <template #activator="{ on }">
          <BaseButton v-on="on"/>
        </template>

        <span>Fill minimal height</span>
      </BaseMenu>
    </div>
  </div>
</template>

<script lang="ts">
  import { Vue, Component } from 'vue-property-decorator';

  @Component({})
  export default class DevelopMenus extends Vue {
  }
</script>
