<template>
  <div>
    <h1>Icons</h1>

    <div class="d-flex align-items-center">
      <BaseIcon
        class="mr-3"
        name="test"
        size="3"
      />

      <BaseIcon
        class="mr-3"
        name="test"
        size="3"
        color="red"
      />

      <BaseIcon
        class="mr-3"
        name="test"
        size="3"
        color="red"
        stroke
      />

      <BaseIcon
        class="mr-3"
        name="test"
        size="3"
        stroke-color="grey"
      />

      <BaseIcon
        class="mr-3"
        name="test"
        size="3"
        color="red"
        stroke-color="grey"
      />

      <BaseIcon
        class="mr-3"
        name="test"
        size="3"
        color="red"
        stroke-color="grey"
        stroke-width="2"
      />

      <span>
          <span>SVG-Icon from </span>
          <a
            href="/assets/icons/home.svg"
            target="_blank"
          >
            /assets/icons/home.svg
          </a>
        </span>
    </div>

    <div class="mt-2 d-flex align-items-center">
      <BaseIcon
        class="mr-3"
        name="home"
        size="3"
      />

      <BaseIcon
        class="mr-3"
        name="home"
        size="3"
        color="red"
      />

      <BaseIcon
        class="mr-3"
        name="home"
        size="3"
        color="red"
        stroke
      />

      <BaseIcon
        class="mr-3"
        name="home"
        size="3"
        stroke-color="grey"
      />

      <BaseIcon
        class="mr-3"
        name="home"
        size="3"
        color="red"
        stroke-color="grey"
      />

      <BaseIcon
        class="mr-3"
        name="home"
        size="3"
        color="red"
        stroke-color="grey"
        stroke-width="2"
      />

      <span>
          <span>Icon from </span>
          <a
            href="https://materialdesignicons.com/"
            target="_blank"
          >
            materialdesignicons.com
          </a>
        </span>
    </div>
  </div>
</template>

<script lang="ts">
  import { Vue, Component } from 'vue-property-decorator';

  @Component({})
  export default class DevelopIcons extends Vue {
  }
</script>
