<template>
  <div>
    <h1>Modal</h1>

    <BaseModal>
      <template #activator="{ on }">
        <BaseButton
          v-on="on"
          text="Open simple modal"
        />
      </template>

      <span>Hello there</span>
    </BaseModal>

    <BaseModal title="Test header">
      <template #activator="{ on }">
        <BaseButton
          v-on="on"
          class="mt-2 ml-2"
          text="Open modal with title"
        />
      </template>

      <span>Hello there, modal with title</span>
    </BaseModal>

    <BaseButton
      class="mt-2 ml-2"
      @click="isModalOpened = true"
    >
      Open modal by v-model (current state: {{ isModalOpened }})
    </BaseButton>

    <BaseModal v-model="isModalOpened">
      <span>Hello there, modal by v-model</span>
    </BaseModal>
  </div>
</template>

<script lang="ts">
  import { Vue, Component } from 'vue-property-decorator';

  @Component({})
  export default class DevelopModals extends Vue {
    isModalOpened = false;
  }
</script>
