<template>
  <div>
    <BaseDataTable
      :items="users"
      :headers="headers"
      :actions="true"
    />
  </div>
</template>

<script lang="ts">
  import { Vue, Component } from 'vue-property-decorator';

  @Component({})
  export default class DevelopDataTable extends Vue {
    users = [
      {
        id: 1,
        name: 'German Mesky',
        account: 500494,
        village: 'Пристроми',
        address: 'вул. Староруднівська 23',
        passport: 'МЕ 966470'
      },

      {
        id: 2,
        name: 'Lilya Mesky',
        account: 200099,
        village: 'Велика Стариця',
        address: 'вул. Козацька 36',
        passport: 'СО 275806'
      },

      {
        id: 3,
        name: 'Самонова Ніна Іванівна',
        account: 210495,
        village: 'Єрківці',
        address: 'вул. Гоголя 11 б',
        passport: 'СК 785121'
      },

      {
        id: 4,
        name: 'Савко Наталія Юріївна',
        account: 600406,
        village: 'Рогозів',
        address: 'вул. Сонячна 7',
        passport: 'ТТ 292796'
      }
    ];

    headers = [
      {
        text: 'id', value: 'id'
      },
      { text: 'Рахунок', value: 'account' },
      { text: 'Прізвище, ім\'я', value: 'name' },
      { text: 'Село', value: 'village' },
      { text: 'Адреса', value: 'address' },
      { text: 'Паспорт', value: 'passport' }
    ];
  }
</script>
