<template>
  <div>
    <h1>Selects</h1>

    <p>Simple Select</p>
    <div>
      <BaseSelect
        :items="items"
      />

      <BaseSelect
        class="ml-3"
        placeholder="Custom placeholder"
        :items="items"
      />

      <BaseSelect
        class="ml-3"
        width="400"
        placeholder="Custom min-width"
        :items="items"
      />
    </div>

    <p class="mt-3">Colored Select</p>
    <div>
      <BaseSelect
        color="white-smoke"
        :items="items"
      />

      <BaseSelect
        class="ml-3"
        color="primary"
        icon-color="white"
        dark
        :items="items"
      />

      <BaseSelect
        class="ml-3"
        color="#c3d033"
        icon-color="white"
        dark
        :items="items"
      />

      <BaseSelect
        class="ml-3"
        color="mosque"
        icon-color="white"
        dark
        :items="items"
      />
    </div>

    <div class="mt-3">
      <span>Value is: </span>
      <pre>{{ current }}</pre>
    </div>

    <div>
      <BaseSelect
        v-model="current"
        :items="items"
      />

      <BaseSelect
        class="ml-3"
        :items="items"
        :value="current"
      />
    </div>

    <p class="mt-3">Open programmatically</p>
    <div>
      <BaseButton @click="opened = !opened">
        Toggle select ({{ opened }})
      </BaseButton>

      <div class="mt-3">
        <BaseSelect
          color="white-smoke"
          :items="items"
          :opened="opened"
        />

        <BaseSelect
          class="ml-3"
          color="white-smoke"
          placeholder="With .sync (like v-model)"
          :items="items"
          :opened.sync="opened"
        />
      </div>
    </div>

    <p class="mt-3">With customizable menu</p>
    <div>
      <BaseSelect
        :items="items"
        :menu="{
          fillWidth: false,
          xFrom: 'right',
          xTo: 'left'
        }"
      />
    </div>
  </div>
</template>

<script lang="ts">
  import { Vue, Component } from 'vue-property-decorator';

  @Component({})
  export default class DevelopSelects extends Vue {
    opened = false;

    current = { value: 'val1', text: 'Value 1' };
    items = [
      { value: 'val1', text: 'Value 1' },
      { value: 'val2', text: 'Value 2' },
      { value: 'val3', text: 'Value 3', group: 'Group 1' },
      { value: 'val4', text: 'Value 4', group: 'Group 1' },
      { value: 'val5', text: 'Value 5', group: 'Group 1' },
      { value: 'val6', text: 'Value 6', group: 'Group 2' },
      { value: 'val7', text: 'Value 7', group: 'Group 2' }
    ];
  }
</script>
