<template>
  <div>
    <h1>Long List</h1>

    <div style="height: 200px; overflow: auto">
      <BaseAsyncList
        v-slot="{ listItem }"
        tag="ul"
        :delay="150"
        :items="items"
      >
        <li>{{ listItem }}</li>
      </BaseAsyncList>
    </div>
  </div>
</template>

<script lang="ts">
  import { Vue, Component } from 'vue-property-decorator';

  @Component({})
  export default class DevelopList extends Vue {
    items = new Array(10000).fill(0).map((e, i) => i);
  }
</script>
