<template>
  <div>
    <h1>Inputs</h1>

    <p>Value is: {{ value }}</p>
    <BaseInput
      v-model="value"
    />
  </div>
</template>

<script lang="ts">
  import { Vue, Component } from 'vue-property-decorator';
  import BaseInput from '@/components/ui/BaseInput.vue';

  @Component({
    components: { BaseInput }
  })
  export default class DevelopInputs extends Vue {
    value = 'Hello, world';
  }
</script>
