<template>
  <div>
    <BaseBreadcrumbs
      fill
      :items="items"
    />

    <BaseBreadcrumbs
      class="mt-2"
      :items="items"
    />
  </div>
</template>

<script lang="ts">
  import { Vue, Component } from 'vue-property-decorator';

  @Component({})
  export default class DevelopBreadcrumbs extends Vue {
    items = [
      {
        id: 1,
        text: 'Панель управления',
        to: { name: 'admin-home' }
      },
      {
        id: 2,
        text: 'Абоненты',
        to: { name: 'admin-abonents' }
      },
      {
        id: 3,
        text: '000001 Тест Тест Тестович',
        active: true
      }
    ];
  }
</script>
