<template>
  <div>
    <p class="vd-heading-2 _underlined">Згрупованi елементи:</p>
    <hr class="vd-break">

    <TextField
      title="Текстове поле"
      text="Опцiонально."
    />
    <hr class="vd-break">

    <SelectField
      title="Випадаючий список"
      text="Опцiонально."
      placeholder=""
      :list="items"
    />
    <hr class="vd-break">

    <ExportCheckList
      class="mb-3"
      title="Поля: Тип облiку"
      :list="typeList"
    />
    <hr class="vd-break">

    <ControllButtons :list="controllButtons"/>
    <hr class="vd-break">

    <RemoveInfoList
      title="Абоненти"
      sub-title="000001 Тестовий тест Тестович"
      :to="{ name: 'admin-home' }"
      :items="removeItems"
    />
    <hr class="vd-break">

    <div>
      <InfoBlock
        class="mb-2"
        title="Текст"
        type="text"
        content="Содержимое"
      />

      <InfoBlock
        class="mb-2"
        title="Ссилка"
        type="link"
        text="Эрківці"
        :to="{ name: 'admin-home' }"
      />

      <InfoBlock
        class="mb-2"
        title="bool - true"
        type="bool"
        :value="true"
      />

      <InfoBlock
        title="bool - false"
        type="bool"
        :value="false"
      />
    </div>
  </div>
</template>

<script lang="ts">
  import { Vue, Component } from 'vue-property-decorator';

  @Component({
    components: {
      ExportCheckList: () => import('@/components/common/export-check-list/ExportCheckList.vue'),
      ControllButtons: () => import('@/components/common/controll-buttons/ControllButtons.vue'),
      RemoveInfoList: () => import('@/components/common/remove-info-list/RemoveInfoList.vue'),
      SelectField: () => import('@/components/common/select-field/SelectField.vue'),
      InfoBlock: () => import('@/components/common/info-block/InfoBlock.vue'),
      TextField: () => import('@/components/common/text-field/TextField.vue')
    }
  })
  export default class DevelopFormItems extends Vue {
    items = [
      { value: '1', text: 'Some text' }
    ];

    controllButtons = [
      {
        icon: 'check-bold',
        color: 'primary',
        text: 'Зберегти',
        event: ''
      },
      {
        color: 'primary',
        text: 'Зберегти та додати новий',
        event: ''
      },
      {
        color: 'primary',
        text: 'Зберегти та продовжити редагування',
        event: ''
      },
      {
        icon: 'close-thick',
        color: 'grey',
        text: 'Вiдмiна',
        event: ''
      }
    ];

    typeList = [
      {
        title: 'Id'
      },
      {
        title: 'Тип облiку'
      },
      {
        title: 'Знiмати абонплату'
      },
      {
        title: 'Створено'
      },
      {
        title: 'Оновлено'
      }
    ];

    removeItems = [
      {
        id: '1',
        preText: 'Transactions',
        text: 'Transactions #227542',
        to: { name: 'admin-home' }
      }
    ];
  }
</script>
