<template>
  <div class="vd-home-page scroller__body">
    <div class="container">
      <div class="row">
        <div class="vd-water-privileged__action col-12">
          <input type="file">
          <BaseButton
            class="ml-2"
            color="primary"
            text="Завантажити"
          />
        </div>

        <BaseDataTable
          class="col-6"
          disable-checkbox
          disable-details
          disable-delete
          disable-edit
          actions
          name="Пільговики"
          type="front"
          :items="users"
          :headers="headers"
        >
          <template
            #item.account="{ item }"
          >
            <router-link
              to="/abonent/1"
            >
              {{ item.account }}
            </router-link>
          </template>
        </BaseDataTable>

        <BaseDataTable
          class="col-6"
          disable-checkbox
          full-width
          name="Пільговики"
          type="front"
          :items="users2"
          :headers="headers2"
        >
          <template
            #item.priceCube="{ item }"
          >
            {{ item.priceCube }}
            <BaseButton
              class="ml-2"
              color="primary"
              text="Видалити"
            />
          </template>
        </BaseDataTable>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
  import { Vue, Component } from 'vue-property-decorator';

  @Component({
    name: 'WaterSubsidiesPage'
  })
  export default class WaterSubsidiesPage extends Vue {
    users = [
      {
        account: '010198',
        abonentPhone: 'Перчук Тетяна Миколаївна Єрківці вул. Жовтнева 24 0638596636',
        description: 'Лічильник ЛК-15Г вдова ветерана прож. 1',
        balance: '360.2 грн. 448 куб.'
      }
    ];

    headers = [
      { text: 'Рахунок', value: 'account' },
      { text: 'Абонент/Телефон', value: 'abonentPhone' },
      { text: 'Примітки/Пільги', value: 'description' },
      { text: 'Баланс/Показник', value: 'balance' }
    ];

    users2 = [
      {
        wasUah: '-169.68',
        addedUah: '-56.0',
        sumUah: '-225.68',
        wasCube: '376',
        addedCube: '4',
        sumCube: '380',
        priceCube: '14.0'
      },

      {
        wasUah: '-169.68',
        addedUah: '-56.0',
        sumUah: '-225.68',
        wasCube: '376',
        addedCube: '4',
        sumCube: '380',
        priceCube: '14.0'
      }
    ];

    headers2 = [
      { text: 'Було, грн', value: 'wasUah' },
      { text: 'Додано, грн', value: 'addedUah' },
      { text: 'Стало, грн', value: 'sumUah' },
      { text: 'Було, куб', value: 'wasCube' },
      { text: 'Додано, куб', value: 'addedCube' },
      { text: 'Стало, куб', value: 'sumCube' },
      { text: 'Ціна за куб', value: 'priceCube' }
    ];
  }
</script>
