<template>
  <div class="vd-admin-abonent__user">
    <TextField
      title="Iм'я"
      text="Опцiонально, довжина не бiльше 255."
    />

    <TextField
      title="Опис"
      text="Опцiонально."
    />

    <TextField
      title="Мiсто"
      text="Опцiонально, довжина не бiльше 255."
    />

    <TextField
      title="Рахунок"
      text="Опцiонально, довжина не бiльше 255."
    />

    <TextField
      title="Банк"
      text="Опцiонально, довжина не бiльше 255."
    />

    <TextField
      title="Мфо"
      text="Опцiонально, довжина не бiльше 255."
    />

    <TextField
      title="Телефон"
      text="Опцiонально, довжина не бiльше 255."
    />

    <TextField
      title="Едрпо"
      text="Опцiонально, довжина не бiльше 255."
    />

    <div class="row">
      <div class="col-12 col-md-2">
        <p class="vd-heading-4 _text-align-right mb-2">Села</p>
      </div>

      <div class="col-12 col-md-10">
        Big component

        <p class="vd-heading-info mb-2">Опцiонально.</p>
      </div>
    </div>

    <ControllButtons :list="controllButtons"/>
  </div>
</template>

<script lang="ts">
  import { Vue, Component } from 'vue-property-decorator';

  @Component({
    name: 'AdminCompanyItemEdit',
    components: {
      TextField: () => import('@/components/common/text-field/TextField.vue'),
      ControllButtons: () => import('@/components/common/controll-buttons/ControllButtons.vue')
    }
  })
  export default class AdminCompanyItemEdit extends Vue {
    controllButtons = [
      {
        icon: 'check-bold',
        color: 'primary',
        text: 'Зберегти',
        event: ''
      },
      {
        color: 'primary',
        text: 'Зберегти та додати нову',
        event: ''
      },
      {
        color: 'primary',
        text: 'Зберегти та продовжити редагування',
        event: ''
      },
      {
        icon: 'close-thick',
        color: 'grey',
        text: 'Вiдмiна',
        event: ''
      }
    ];
  }
</script>
