<template>
  <div class="vd-admin-abonent__user">
    <TextField
      title="Село"
      text="Опцiонально, довжина не бiльше 255."
    />

    <TextField
      title="Цiна куба"
      text="Опцiонально."
    />

    <TextField
      title="На особу, куб"
      text="Опцiонально."
    />

    <TextField
      title="На полив, куб"
      text="Опцiонально."
    />

    <TextField
      title="На двiр, куб"
      text="Опцiонально."
    />

    <TextField
      title="Цiна водовiдведення"
      text="Опцiонально."
    />

    <TextField
      title="Квартплата"
      text="Опцiонально."
    />

    <div class="row">
      <div class="col-12 col-md-2">
        <p class="vd-heading-4 _text-align-right mb-2">Тип облiку</p>
      </div>

      <div class="col-12 col-md-10">
        <div class="vd-admin-abonent__user-com">
          <BaseSelect
            class="mb-2"
            placeholder=""
            :items="items"
          />

          <BaseModal
            class="ml-2 mb-2"
            title="Додавання господарства"
          >
            <template #activator="{ on }">
              <BaseButton
                v-on="on"
                color="primary"
                icon="plus-thick"
                text="Додати господарство"
              />
            </template>
            <span>Додавання господарства</span>
          </BaseModal>

          <BaseModal
            class="ml-2 mb-2"
            title="Редагування господарства"
          >
            <template #activator="{ on }">
              <BaseButton
                v-on="on"
                color="primary"
                icon="pencil"
                text="Редагувати господарство"
              />
            </template>
            <span>Редагування господарства</span>
          </BaseModal>
        </div>

        <p class="vd-heading-info">Опцiонально.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-2">
        <p class="vd-heading-4 _text-align-right mb-2">Трансакції</p>
      </div>

      <div class="col-12 col-md-10">
        Big component

        <p class="vd-heading-info mb-2">Опцiонально.</p>
      </div>
    </div>

    <ControllButtons :list="controllButtons"/>
  </div>
</template>

<script lang="ts">
  import { Vue, Component } from 'vue-property-decorator';

  @Component({
    name: 'AdminVillageItemEdit',
    components: {
      TextField: () => import('@/components/common/text-field/TextField.vue'),
      ControllButtons: () => import('@/components/common/controll-buttons/ControllButtons.vue')
    }
  })
  export default class AdminVillageItemEdit extends Vue {
    controllButtons = [
      {
        icon: 'check-bold',
        color: 'primary',
        text: 'Зберегти',
        event: ''
      },
      {
        color: 'primary',
        text: 'Зберегти та додати нове',
        event: ''
      },
      {
        color: 'primary',
        text: 'Зберегти та продовжити редагування',
        event: ''
      },
      {
        icon: 'close-thick',
        color: 'grey',
        text: 'Вiдмiна',
        event: ''
      }
    ];

    items = [
      { value: '1', text: '2%' },
      { value: '2', text: '10%' },
      { value: '4', text: '50%' }
    ];
  }
</script>
