<template>
  <div class="vd-admin-abonent__remove">
    <p class="vd-heading-3 _underlined _font-weight-bold mb-3">
      <BaseIcon
        size="1"
        name="check-bold"
        color="grey"
      />

      Оберiть поля для експорту
    </p>

    <div>
      checkbox Обрати всi поля
    </div>

    <ExportCheckList
      class="mt-3"
      title="Поля: Села"
      :list="villageList"
    />

    <ExportCheckList
      class="mt-3"
      title="Поля: Фiрм"
      :list="firmList"
    />

    <ExportCheckList
      class="mt-3"
      title="Поля: Фейдери"
      :list="fidersList"
    />

    <ExportFormats/>

    <ControllButtons :list="controllButtons"/>
  </div>
</template>

<script lang="ts">
  import { Vue, Component } from 'vue-property-decorator';

  @Component({
    name: 'AdminVillagesListExport',
    components: {
      ExportCheckList: () => import('@/components/common/export-check-list/ExportCheckList.vue'),
      ControllButtons: () => import('@/components/common/controll-buttons/ControllButtons.vue'),
      ExportFormats: () => import('@/components/common/export-formats/ExportFormats.vue'),
      SelectField: () => import('@/components/common/select-field/SelectField.vue')
    }
  })
  export default class AdminVillagesListExport extends Vue {
    controllButtons = [
      {
        icon: 'check-bold',
        color: 'primary',
        text: 'Експортувати як csv',
        event: ''
      },
      {
        color: 'primary',
        text: 'Експортувати як json',
        event: ''
      },
      {
        color: 'primary',
        text: 'Експортувати як xml',
        event: ''
      },
      {
        icon: 'close-thick',
        color: 'grey',
        text: 'Вiдмiна',
        event: ''
      }
    ];

    villageList = [
      {
        title: 'Id'
      },
      {
        title: 'Село'
      },
      {
        title: 'Цiна куба'
      },
      {
        title: 'На особу, куб'
      },
      {
        title: 'На полив, куб'
      },
      {
        title: 'На двiр, куб'
      },
      {
        title: 'Створено'
      },
      {
        title: 'Оновлено'
      },
      {
        title: 'Цiна водовiдведення'
      },
      {
        title: 'Квартплата'
      }
    ];

    firmList = [
      {
        title: 'Id'
      },
      {
        title: 'Iм\'я'
      },
      {
        title: 'Опис'
      },
      {
        title: 'Мiсто'
      },
      {
        title: 'Рахунок'
      },
      {
        title: 'Банк'
      },
      {
        title: 'Мфо'
      },
      {
        title: 'Телефон'
      },
      {
        title: 'Створено'
      },
      {
        title: 'Оновлено'
      },
      {
        title: 'Едрпо'
      }
    ];

    fidersList = [
      {
        title: 'Id'
      },
      {
        title: 'Iм\'я'
      },
      {
        title: 'Опис'
      },
      {
        title: 'Створено'
      },
      {
        title: 'Оновлено'
      }
    ];
  }
</script>
