<template>
  <div class="vd-admin-abonent__remove">
    <BaseDataTable
      name="Села"
      disable-details
      :items="data"
      :headers="headers"
      :actions="true"
    />
  </div>
</template>

<script lang="ts">
  import { Vue, Component, Prop } from 'vue-property-decorator';

  @Component({
    name: 'AdminVillagesList',
    components: { DataTableFilter: () => import('@/components/common/data-table-filter/DataTableFilter.vue') }
  })
  export default class AdminVillagesList extends Vue {
    @Prop() data;
    @Prop() headers;
  }
</script>
