<template>
  <div>
    <p class="vd-heading-3 _underlined _font-weight-bold mt-3 mb-3">
      <BaseIcon
        size="1"
        name="check-bold"
        color="grey"
      />

      Налаштування для csv
    </p>

    <SelectField
      title="Декодувати як"
      text="Опцiонально, оберiть результуюче кодування."
      :list="itemsCod"
    />

    <div class="row">
      <div class="col-12 col-md-2">
        <p class="vd-heading-4 _text-align-right mb-2">Без заголовка</p>
      </div>

      <div class="col-12 col-md-10">
        checkbox

        <p class="vd-heading-info">Не виводити заголовок. (Без опису полiв)</p>
      </div>
    </div>

    <SelectField
      title="Розмежувач стовбчикiв"
      text="Опцiонально."
      :list="itemsDelay"
    />
  </div>
</template>

<script lang="ts">
  import { Vue, Component } from 'vue-property-decorator';

  @Component({
    components: {
      SelectField: () => import('@/components/common/select-field/SelectField.vue')
    }
  })
  export default class ExportFormats extends Vue {
    itemsCod = [
      { value: '1', text: 'Windows-1251' }
    ];

    itemsDelay = [
      { value: 1, text: ';' }
    ];
  }
</script>
