<template>
  <div class="vd-info-block">
    <div
      v-if="title"
      class="vd-info-block__title"
    >
      {{ title }}
    </div>

    <div class="vd-info-block__content">
      <span v-if="type === 'text' && content">{{ content }}</span>

      <router-link
        v-if="type === 'link' && to && text"
        class="vd-breadcrumbs__item-link"
        tag="a"
        :to="to"
      >
        {{ text }}
      </router-link>

      <template v-if="type === 'link' && list && list.length">
        <span
          v-for="(link, il) in list"
          class="vd-breadcrumbs__item-link"
          :key="il"
        >
          <router-link
            tag="a"
            :to="link.to"
          >
            {{ link.text }}
          </router-link>
          <span v-if="il !== list.length - 1">, </span>
        </span>
      </template>

      <BaseIcon
        v-if="type === 'bool'"
        size="1.5"
        :color="value ? 'green' : 'red'"
        :name="value ? 'checkbox-marked' : 'close-box'"
      />
    </div>
  </div>
</template>

<script lang="ts">
  import { Vue, Component, Prop } from 'vue-property-decorator';

  @Component({})
  export default class InfoBlock extends Vue {
    @Prop() to;
    @Prop(String) type;
    @Prop(Array) list;
    @Prop(String) text;
    @Prop(String) title;
    @Prop(String) content;
    @Prop(Boolean) value;
  }
</script>
