<template>
  <div class="vd-admin-abonent__info">
    <p class="vd-heading-3">Основна інформація</p>

    <ul class="vd-admin-abonent__info-list">
      <li
        v-for="(info, ii) in data"
        class="vd-admin-abonent__info-list-item"
        :key="ii"
      >
        <InfoBlock
          :type="info.type"
          :text="info.text"
          :title="info.title"
          :value="info.value"
          :list="info.list"
          :content="info.content"
          :to="info.to"
        />
      </li>
    </ul>
  </div>
</template>

<script lang="ts">
  import { Vue, Component, Prop } from 'vue-property-decorator';

  @Component({
    name: 'InfoTabContent',
    components: {
      InfoBlock: () => import('@/components/common/info-block/InfoBlock.vue')
    }
  })
  export default class InfoTabContent extends Vue {
    @Prop({ type: Array, default: () => [] }) data;
  }
</script>
