<template>
  <div class="vd-develop-page scroller__body">
    <DevelopButtons/>
    <hr class="vd-break">

    <DevelopInputs/>
    <hr class="vd-break">

    <DevelopSelects/>
    <hr class="vd-break">

    <DevelopModals/>
    <hr class="vd-break">

    <DevelopMenus/>
    <hr class="vd-break">

    <DevelopIcons/>
    <hr class="vd-break">

    <DevelopImage/>
    <hr class="vd-break">

    <DevelopList/>
    <hr class="vd-break">

    <DevelopHeading/>
    <hr class="vd-break">

    <DevelopBreadcrumbs/>
    <hr class="vd-break">

    <DevelopFormItems/>
    <hr class="vd-break">

    <DevelopDataTable/>
    <hr class="vd-break">
  </div>
</template>

<script lang="ts">
  import { Vue, Component } from 'vue-property-decorator';

  @Component({
    name: 'DevelopPage',
    components: {
      DevelopDataTable: () => import('@/components/page/develop/DevelopDataTable.vue'),
      DevelopBreadcrumbs: () => import('@/components/page/develop/DevelopBreadcrumbs.vue'),
      DevelopFormItems: () => import('@/components/page/develop/DevelopFormItems.vue'),
      DevelopButtons: () => import('@/components/page/develop/DevelopButtons.vue'),
      DevelopInputs: () => import('@/components/page/develop/DevelopInputs.vue'),
      DevelopSelects: () => import('@/components/page/develop/DevelopSelects.vue'),
      DevelopHeading: () => import('@/components/page/develop/DevelopHeading.vue'),
      DevelopModals: () => import('@/components/page/develop/DevelopModals.vue'),
      DevelopMenus: () => import('@/components/page/develop/DevelopMenus.vue'),
      DevelopIcons: () => import('@/components/page/develop/DevelopIcons.vue'),
      DevelopImage: () => import('@/components/page/develop/DevelopImage.vue'),
      DevelopList: () => import('@/components/page/develop/DevelopList.vue')
    }
  })

  export default class DevelopPage extends Vue {

  }
</script>
