<template>
  <div class="error-page-404 scroller__body">
    <div class="error-page-404__content">
      <div class="error-page-404__content-text">
        <div>Сторінку не знайдено</div>
        <i>( {{ $route.path }} )</i>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
  import { Vue, Component } from 'vue-property-decorator';

  @Component({
    name: 'Error404Page'
  })
  export default class Error404Page extends Vue {
  }
</script>
