<template>
  <div class="vd-home-page scroller__body">
    <div class="container">
      <div class="row">
        <SquareInfoBlock
          v-for="(item, i) in villages"
          type="simple"
          :key="i"
          :village="item.name"
          :users-count="item.abonents_count"
          :used-count="0"
        />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
  import { Vue, Component } from 'vue-property-decorator';

  import { Villages } from '@/scripts/store';
  import Utils from '@/scripts/utils';

  @Component({
    name: 'HomePage',
    components: {
      SquareInfoBlock: () => import('@/components/common/square-info-block/SquareInfoBlock.vue')
    }
  })
  export default class HomePage extends Vue {
    @Villages.Getter('assignedList') villages;
    @Villages.Action('init') loadVillages;

    async mounted() {
      Utils.Document.setLoading(true);
      await this.loadVillages();
      Utils.Document.setLoading(false);
    }
  }
</script>
