.vd-data-table-filter {
  position: relative;
  padding: 1rem;
  margin-bottom: 1rem;
  border: 1px solid var(--border-data-table-filter);
  border-radius: 4px;
  background-color: var(--background-data-table-filter);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);

  &_primary {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__additional {
    position: absolute;
    right: 0;
    top: -3.7rem;

    &-list {
      display: flex;
    }

    &-buttons {
      color: var(--text-link) !important;

      .vd-button__icon {
        color: var(--text-link) !important;
      }

      &._rotated {
        .vd-button__icon {
          transform: rotateX(180deg);
        }
      }

      &:hover {
        box-shadow: none;
      }
    }

    &-content {
      margin-bottom: 0;
    }

    &-item {
      cursor: pointer;
      padding: .3rem 1rem;

      &:hover {
        background-color: var(--background-data-table-filter);
      }
    }
  }

  &__item {
    padding-bottom: .5rem;
  }

  &__input {
    margin-left: 1rem;
    padding: .68rem 1rem;
  }
}