<template>
  <div class="row">
    <div class="col-12">
      <p class="_text-decor-bg">{{ title }}</p>
    </div>

    <div
      v-for="(item, il) in list"
      :key="il"
      class="col-12 col-sm-6 col-md-4 col-lg-3"
    >
      checkbox {{ item.title }}
    </div>
  </div>
</template>

<script lang="ts">
  import { Vue, Component, Prop } from 'vue-property-decorator';

  @Component({})
  export default class ExportCheckList extends Vue {
    @Prop(Array) list;
    @Prop(String) title;
  }
</script>
