<template>
  <div class="col-12 col-md-4 col-lg-3">
    <div class="vd-square-info-block">
      <div class="vd-square-info-block__inner">
        <h3 class="vd-square-info-block__value">{{ usersCount }}</h3>
        <span>Абонентів</span>
      </div>
      <div
        v-if="type === 'simple'"
        class="vd-square-info-block__inner"
      >
        <h3 class="vd-square-info-block__value">{{ usedCount }}</h3>
        <p>куб. споживання</p>
      </div>

      <div
        v-if="type === 'general'"
        class="vd-square-info-block__inner"
      >
        <p class="vd-square-info-block__general-list-head">
          {{ usedCount }} куб. споживання
        </p>
        <div class="vd-square-info-block__general-list">
          <div class="vd-square-info-block__general-list-item">
            <span>
              Система
            </span>
            <span>
              {{ system }}
            </span>
            <span>
            грн.
            </span>
          </div>

          <div class="vd-square-info-block__general-list-item">
            <span>
              Готівка
            </span>
            <span>
              {{ cash }}
            </span>
            <span>
            грн.
            </span>
          </div>

          <div class="vd-square-info-block__general-list-item">
            <span>
              Банк
            </span>
            <span>
              {{ bank }}
            </span>
            <span>
            грн.
            </span>
          </div>

          <div class="vd-square-info-block__general-list-item">
            <span>
              Субсидія
            </span>
            <span>
              {{ subsidy }}
            </span>
            <span>
            грн.
            </span>
          </div>

          <div class="vd-square-info-block__general-list-item">
            <span>
              Перерахунок
            </span>
            <span>
              {{ recount }}
            </span>
            <span>
            грн.
            </span>
          </div>

          <div class="vd-square-info-block__general-list-item">
            <span>
              Пільги
            </span>
            <span>
              {{ privileges }}
            </span>
            <span>
            грн.
            </span>
          </div>
        </div>
      </div>
      <router-link
        class="vd-square-info-block__footer"
        to="#"
      >
        {{ village }}
        <BaseIcon class="vd-square-info-block__footer-icon">
          arrow-right-drop-circle
        </BaseIcon>
      </router-link>

      <BaseIcon
        class="vd-square-info-block__icon"
        color="transparent-grey"
        size="5"
      >
        pencil-box-outline
      </BaseIcon>
    </div>
  </div>
</template>

<script lang="ts">
  import { Vue, Component, Prop } from 'vue-property-decorator';

  @Component({})
  export default class SquareInfoBlock extends Vue {
    @Prop() usersCount;
    @Prop({ type: String, default: 'simple' }) type;
    @Prop(String) village;
    @Prop(String) usedCount;
    @Prop(String) system;
    @Prop(String) cash;
    @Prop(String) bank;
    @Prop(String) subsidy;
    @Prop(String) recount;
    @Prop(String) privileges;
  }
</script>
