.vd-progress-bar {
  display: flex;
  align-items: center;
  background-color: var(--background-header);
  border-radius: 3px;
  border: 1px solid var(--border-header);
  overflow: hidden;

  &__indicator {
    position: relative;
    min-width: min-content;
    padding: 0 .4rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: var(--text-secondary);
    font-size: .8em;
    font-weight: 600;
    line-height: 1.25rem;
    overflow: hidden;
    transition: width 2s;

    &._default {
      width: 0%!important;
    }
    
    &._animated:after {
      content: "";
      position: absolute;
      top: 0; left: 0; bottom: 0; right: 0;
      background-image: linear-gradient(
        -45deg, 
        rgba(255, 255, 255, .2) 25%, 
        transparent 25%, 
        transparent 50%, 
        rgba(255, 255, 255, .2) 50%, 
        rgba(255, 255, 255, .2) 75%, 
        transparent 75%, 
        transparent
      );
      z-index: 1;
      background-size: 50px 50px;
      animation: cssProgressActiveRight 3s linear infinite;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      overflow: hidden;
    }
  }
}

@keyframes cssProgressActiveRight { 0% 
  {
    background-position:0 0
  }
  100% {
    background-position:-50px -50px
  }
}
