.vd-the-sidebar {
  max-width: 33vw;
  width: var(--width-sidebar);
  background-color: var(--background-sidebar);
  border-right: 1px solid var(--border-sidebar);

  &__title {
    margin: 1em 0 0.5em;
    font-size: 0.8em;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--text-sidebar-title);
  }

  &__menu {
    margin: 0 -15px;

    &-item {
      &-title {
        display: block;
        padding: 6px 15px;
        font-size: 0.9em;
        user-select: none;
        color: var(--text-sidebar-link);
        transition: 200ms background-color, 200ms color;

        .vd-the-sidebar__menu-item._sub & {
          padding-left: 30px;
        }

        &:hover {
          text-decoration: none;
          color: var(--text-sidebar-link-hover);
          background-color: var(--background-sidebar-link);
        }

        &.router-link-active {
          color: #ffffff;
          background-color: var(--background-sidebar-link-active);
        }
      }
    }
  }
}
