<template>
  <div class="vd-admin-abonent__user">
    <TextField
      title="Рахунок"
      text="Опцiонально, довжина не бiльше 255."
    />

    <TextField
      title="Прiзвище, iм'я"
      text="Опцiонально, довжина не бiльше 255."
    />

    <div class="row">
      <div class="col-12 col-md-2">
        <p class="vd-heading-4 _text-align-right mb-2">Село</p>
      </div>

      <div class="col-12 col-md-10">
        <div class="vd-admin-abonent__user-com">
          <BaseSelect
            class="mb-2"
            placeholder=""
            :items="items"
          />
          <BaseModal
            class="ml-2 mb-2"
            title="Додавання села"
          >
            <template #activator="{ on }">
              <BaseButton
                v-on="on"
                color="primary"
                icon="plus-thick"
                text="Додати села"
              />
            </template>
            <span>Додавання села</span>
          </BaseModal>

          <BaseModal
            class="ml-2 mb-2"
            title="Редагування села"
          >
            <template #activator="{ on }">
              <BaseButton
                v-on="on"
                color="primary"
                icon="pencil"
                text="Редагувати села"
              />
            </template>
            <span>Редагування села</span>
          </BaseModal>
        </div>

        <p class="vd-heading-info">Опцiонально.</p>
      </div>
    </div>

    <TextField
      title="Адреса"
      text="Опцiонально, довжина не бiльше 255."
    />

    <TextField
      title="Паспорт"
      text="Опцiонально, довжина не бiльше 255."
    />

    <TextField
      title="Iдент. код"
      text="Опцiонально, довжина не бiльше 255."
    />

    <TextField
      title="Телефон"
      text="Опцiонально, довжина не бiльше 255."
    />

    <div class="row">
      <div class="col-12 col-md-2">
        <p class="vd-heading-4 _text-align-right mb-2">Пiльги</p>
      </div>

      <div class="col-12 col-md-10">
        <div class="vd-admin-abonent__user-com">
          <BaseSelect
            class="mb-2"
            placeholder=""
            :items="items"
          />

          <BaseModal
            class="ml-2 mb-2"
            title="Додавання пiльг"
          >
            <template #activator="{ on }">
              <BaseButton
                v-on="on"
                color="primary"
                icon="plus-thick"
                text="Додати пiльги"
              />
            </template>
            <span>Додавання пiльг</span>
          </BaseModal>

          <BaseModal
            class="ml-2 mb-2"
            title="Редагування пiльг"
          >
            <template #activator="{ on }">
              <BaseButton
                v-on="on"
                color="primary"
                icon="pencil"
                text="Редагувати пiльги"
              />
            </template>
            <span>Редагування пiльг</span>
          </BaseModal>
        </div>

        <p class="vd-heading-info">Опцiонально.</p>
      </div>
    </div>

    <TextField
      title="Примiтки"
      text="Опцiонально."
    />

    <div class="row">
      <div class="col-12 col-md-2">
        <p class="vd-heading-4 _text-align-right mb-2">Тип облiку</p>
      </div>

      <div class="col-12 col-md-10">
        <div class="vd-admin-abonent__user-com">
          <BaseSelect
            class="mb-2"
            placeholder=""
            :items="items"
          />

          <BaseModal
            class="ml-2 mb-2"
            title="Додавання типу облiку"
          >
            <template #activator="{ on }">
              <BaseButton
                v-on="on"
                color="primary"
                icon="plus-thick"
                text="Додати тип облiку"
              />
            </template>
            <span>Додавання типу облiку</span>
          </BaseModal>

          <BaseModal
            class="ml-2 mb-2"
            title="Редагування типу облiку"
          >
            <template #activator="{ on }">
              <BaseButton
                v-on="on"
                color="primary"
                icon="pencil"
                text="Редагувати тип облiку"
              />
            </template>
            <span>Редагування типу облiку</span>
          </BaseModal>
        </div>

        <p class="vd-heading-info">Опцiонально.</p>
      </div>
    </div>

    <TextField
      title="Номер"
      text="Опцiонально, довжина не бiльше 255."
    />

    <TextField
      title="Встановлено"
      text="Опцiонально, довжина не бiльше 255."
    />

    <div class="row">
      <div class="col-12 col-md-2">
        <p class="vd-heading-4 _text-align-right mb-2">Повiрка</p>
      </div>

      <div class="col-12 col-md-10">
        datepicker

        <p class="vd-heading-info">Опцiонально.</p>
      </div>
    </div>

    <TextField
      title="Показник"
      text="Опцiонально."
    />

    <TextField
      title="Баланс"
      text="Опцiонально."
    />

    <div class="row">
      <div class="col-12 col-md-2">
        <p class="vd-heading-4 _text-align-right mb-2">Активний</p>
      </div>

      <div class="col-12 col-md-10">
        checkbox

        <p class="vd-heading-info">Опцiонально.</p>
      </div>
    </div>

    <TextField
      title="К-сть осiб"
      text="Опцiонально."
    />

    <div class="row mb-2">
      <div class="col-12 col-md-2">
        <p class="vd-heading-4 _text-align-right mb-2">Водовiдведення</p>
      </div>

      <div class="col-12 col-md-10">
        checkbox
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-12 col-md-2">
        <p class="vd-heading-4 _text-align-right mb-2">Дачник</p>
      </div>

      <div class="col-12 col-md-10">
        checkbox
      </div>
    </div>

    <TextField
      title="Квартплата"
      text="Опцiонально."
    />

    <div class="row mb-3">
      <div class="col-12 col-md-2">
        <p class="vd-heading-4 _text-align-right mb-2">Вiдключ.</p>
      </div>

      <div class="col-12 col-md-10">
        checkbox
      </div>
    </div>

    <TextField
      title="Пломба"
      text="Опцiонально."
    />

    <div class="row">
      <div class="col-12 col-md-2">
        <p class="vd-heading-4 _text-align-right mb-2">Трансакції</p>
      </div>

      <div class="col-12 col-md-10">
        Big component

        <p class="vd-heading-info mb-2">Опцiонально.</p>
      </div>
    </div>

    <ControllButtons :list="controllButtons"/>
  </div>
</template>

<script lang="ts">
  import { Vue, Component } from 'vue-property-decorator';

  @Component({
    name: 'AdminAbonentItemEdit',
    components: {
      TextField: () => import('@/components/common/text-field/TextField.vue'),
      ControllButtons: () => import('@/components/common/controll-buttons/ControllButtons.vue')
    }
  })
  export default class AdminAbonentItemEdit extends Vue {
    items = [
      { value: '1', text: 'Эркiвцi' },
      { value: '2', text: 'Кiвцi' },
      { value: '3', text: 'Рiвцi' },
      { value: '4', text: 'Садунiвцi' }
    ];

    controllButtons = [
      {
        icon: 'check-bold',
        color: 'primary',
        text: 'Зберегти',
        event: ''
      },
      {
        color: 'primary',
        text: 'Зберегти та додати новий',
        event: ''
      },
      {
        color: 'primary',
        text: 'Зберегти та продовжити редагування',
        event: ''
      },
      {
        icon: 'close-thick',
        color: 'grey',
        text: 'Вiдмiна',
        event: ''
      }
    ];
  }
</script>
