<template>
  <div class="abonents-list">
    <BaseDataTable
      name="Абоненти"
      actions
      :items="items"
      :headers="headers"
    >
      <template
        #item.village="{ item }"
      >
        <router-link to="/admin/village/1/info">
          {{ item.village }}
        </router-link>
      </template>
    </BaseDataTable>
  </div>
</template>

<script lang="ts">
  import { Vue, Component, Prop } from 'vue-property-decorator';

  import Utils from '@/scripts/utils';
  import { Vendors } from '@/scripts/store';

  @Component({})
  export default class AdminAbonentsList extends Vue {
    @Vendors.Action('loadStyle') loadStyle;

    @Prop({ type: Array, default: () => [] }) items;
    @Prop({ type: Array, default: () => [] }) headers;

    created() {
      Utils.Console.timelapse('HomePage/created');
      this.loadStyle({ path: 'page/home/home' });
    }

    mounted() {
      Utils.Console.timelapse('HomePage/mounted');
    }
  }
</script>
