<template>
  <div class="vd-home-page scroller__body">
    BillingRecountsPage
  </div>
</template>

<script lang="ts">
  import { Vue, Component } from 'vue-property-decorator';

  @Component({
    name: 'BillingRecountsPage'
  })
  export default class BillingRecountsPage extends Vue {
  }
</script>
