<template>
  <div class="vd-home-page scroller__body">
    BillingTransactionsPage
  </div>
</template>

<script lang="ts">
  import { Vue, Component } from 'vue-property-decorator';

  @Component({
    name: 'BillingTransactionsPage'
  })
  export default class BillingTransactionsPage extends Vue {
  }
</script>
