<template>
  <div class="vd-home-page scroller__body">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <highcharts :options="chartOptions"/>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
  import { Vue, Component } from 'vue-property-decorator';
  import { Chart } from 'highcharts-vue';
  import Highcharts from 'highcharts';

  @Component({
    name: 'BillingChartsPage',
    components: {
      highcharts: Chart
    }
  })
  export default class BillingChartsPage extends Vue {
    chartOptions = {
      chart: {
        type: 'area'
      },
      title: {
        text: 'Графiк'
      },
      subtitle: {
        text: 'Використання води'
      },
      legend: {
        enabled: false
      },
      xAxis: {
        type: 'datetime'
      },
      yAxis: {
        minRange: -10,
        title: {
          text: 'Куби'
        },
        labels: {
          format: '{value} к'
        }
      },
      plotOptions: {
        area: {
          fillColor: {
            linearGradient: {
              x1: 0,
              y1: 0,
              x2: 0,
              y2: 1
            },
            stops: [
              [0, Highcharts.getOptions().colors[0]],
              [1, Highcharts.color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
            ]
          },
          marker: {
            radius: 2
          },
          lineWidth: 1,
          states: {
            hover: {
              lineWidth: 1
            }
          },
          threshold: null
        }
      },
      series: [{
        name: 'куб',
        data: [35, 3, 2, 2.5, 4.5, 3.5, 4, 35, 3, 2, 2.5, 4.5, 3.5, 4, 35,
          3, 2, 2.5, 4.5, 3.5, 4, 35, 3, 2, 2.5, 4.5, 3.5, 4, 35, 3, 2, 2.5, 4.5, 3.5, 4, -2],
        pointStart: Date.UTC(2016, 0, 1),
        pointInterval: 4000 * 1000000
      }],
      exporting: {
        enabled: true
      }
    };
  }
</script>
