<template>
  <div class="vd-home-page scroller__body">
    BillingTotalsPage
  </div>
</template>

<script lang="ts">
  import { Vue, Component } from 'vue-property-decorator';

  @Component({
    name: 'BillingTotalsPage'
  })
  export default class BillingTotalsPage extends Vue {
  }
</script>
