<template>
  <div class="vd-data-table-filter">
    <div class="vd-data-table-filter__additional">
      <ul
        v-if="filters.length !== 0"
        class="vd-data-table-filter__additional-list"
      >
        <li>
          <BaseMenu
            fill-width
          >
            <template #activator="{ on }">
              <BaseButton
                v-on="on"
                icon-right
                class="vd-data-table-filter__additional-buttons"
                color="transparent"
                icon="menu-down"
                text="Добавить фильтр..."
              />
            </template>

            <ul class="vd-data-table-filter__additional-content">
              <li
                v-for="(items, ii) in filters"
                class="vd-data-table-filter__additional-item"
                @click="addFilter(items)"
                :key="ii"
              >
                {{ items.text }}
              </li>
            </ul>
          </BaseMenu>
        </li>

        <li>
          <BaseMenu
            fill-width
          >
            <template #activator="{ on }">
              <BaseButton
                v-on="on"
                icon-right
                class="vd-data-table-filter__additional-buttons"
                color="transparent"
                icon="menu-down"
                text="Выбранные элементы..."
              />
            </template>

            <ul class="vd-data-table-filter__additional-content">
              <li
                v-for="(items, ii) in selectedItems"
                class="vd-data-table-filter__additional-item"
                :key="ii"
              >
                {{ items.text }}
              </li>
            </ul>
          </BaseMenu>
        </li>
      </ul>
    </div>

    <div
        v-if="additionalFilter.length !== 0"
        class="vd-data-table-filter__additional-list"
    >
      <ul>
        <li
            v-for="(filter, fi) in additionalFilter"
            class="vd-data-table-filter__item"
            :key="fi"
        >
          <BaseButton
              icon="delete"
              @click="removeFilter(fi)"
          >
            {{ filter.text }}
          </BaseButton>

          <BaseSelect
              v-model="filter.select"
              class="ml-3"
              placeholder="Выберите тип фильтрации"
              :items="filter.value === 'id' ? filtrationTypeId : filtrationType"
          />

          <BaseInput
              v-model="filter.input"
              v-if="['contains', 'exactly', 'started', 'ended'].indexOf(filter.select.value) >= 0"
              class="vd-data-table-filter__input"
              placeholder=""
          />

          <BaseInput
              v-model="filter.input"
              v-if="filter.select.value === 'between' && filter.value === 'id'"
              class="vd-data-table-filter__input"
              placeholder="От"
          />

          <BaseInput
              v-model="filter.input2"
              v-if="filter.select.value === 'between' && filter.value === 'id'"
              class="vd-data-table-filter__input"
              placeholder="До"
          />
        </li>
      </ul>
    </div>
    <div class="vd-data-table-filter_primary">
      <div class="vd-data-table-filter__actions">
        <BaseInput
            v-model="value"
            placeholder="Фильтрация"
        />
        <BaseButton
            class="ml-2"
            color="indigo"
            text="Обновить"
            icon="update"
            @click="$emit('apply')"
        />
        <BaseButton
            class="ml-2"
            color="primary"
            icon="close"
            @click="$emit('remove')"
        />
      </div>
      <div class="vd-data-table-filter__export">
        <BaseButton
            class="ml-2"
            color="indigo"
            text="Экспорт всех найденных"
        />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator';

@Component({})
export default class DataTableFilter extends Vue {
  @Prop({ default: () => [] }) additionalFilter;
  @Prop({ type: Array, default: () => [] }) filters;
  @Prop(String) name;

  value = '';
  filterInput = ' ';
  filterSelect = {};

  filtrationType = [
    { value: 'contains', text: 'Содержит..' },
    { value: 'exactly', text: 'Точно совпадает' },
    { value: 'started', text: 'Начинается с' },
    { value: 'ended', text: 'Заканчивается на' },
    { value: 'non-empty', text: 'Не пустое', group: '--------' },
    { value: 'empty', text: 'Пустое', group: '--------' }
  ];

  filtrationTypeId = [
    { value: 'exactly', text: 'Число..' },
    { value: 'between', text: 'Между... и...' },
    { value: 'non-empty', text: 'Не пустое', group: '--------' },
    { value: 'empty', text: 'Пустое', group: '--------' }
  ];

  selectedItems = [
    { value: '1', text: 'Экспорт всех выбраных' },
    { value: '2', text: `Удалить выбранные ${this.name}` }
  ];

  addFilter(item) {
    this.$emit('changed', item);
  }

  removeFilter(index) {
    this.$emit('delete', index);
  }
}
</script>
