.vd-heading {
  &-2 {
    margin: 0;
    color: var(--text-heading);
    font-size: 2.3rem;
    font-weight: 400;

    &._underlined {
      padding-bottom: .6rem;
      border-bottom: 1px solid var(--border-header);
    }
  }
  
  &-3 {
    margin: 0;
    color: var(--text-heading);
    font-size: 1.3rem;
    font-weight: 400;

    &._underlined {
      padding-bottom: .3rem;
      border-bottom: 1px solid var(--border-header);
    }
  }
  
  &-4 {
    margin: 0;
    color: var(--text-heading);
    font-size: .9rem;
    font-weight: 500;
  }

  &-info {
    color: var(--text-heading);
    font-size: .8rem;
    font-weight: 400;
  }
}

._text-align {
  &-right {
    text-align: right;
  }
}

._font-weight {
  &-normal {
    font-weight: 400;
  }

  &-bold {
    font-weight: 500;
  }
}

._text-decor {
  &-bg {
    padding: 0.45rem 0.8rem;
    background-color: var(--background-breadcrumbs);
    border-radius: 3px;
    font-size: .9rem;
  }
}