<template>
  <div class="vd-admin-abonent__user">
    <p class="vd-heading-3 _underlined _font-weight-bold mb-3">
      <BaseIcon
        size="1"
        name="check-bold"
        color="grey"
      />

      Основнi
    </p>

    <TextField
      title="E-mail"
      text="Опцiонально, довжина не бiльше 255."
    />

    <TextField
      title="Пароль"
      text="Довжина 8-72."
    />

    <TextField
      title="Пароль ще раз"
      text="Довжина 8-72."
    />

    <SelectField
      title="Роль"
      text="Опцiонально."
      :list="itemsRole"
    />

    <p class="vd-heading-3 _underlined _font-weight-bold mb-3">
      <BaseIcon
        size="1"
        name="check-bold"
        color="grey"
      />

      Статистика
    </p>

    <div class="row">
      <div class="col-12 col-md-2">
        <p class="vd-heading-4 _text-align-right mb-2">Скидання пароля</p>
      </div>

      <div class="col-12 col-md-10">
        datepicker

        <p class="vd-heading-info">Опцiонально.</p>
      </div>
    </div>

      <div class="row">
        <div class="col-12 col-md-2">
          <p class="vd-heading-4 _text-align-right mb-2">Запам'ятований</p>
        </div>

        <div class="col-12 col-md-10">
          datepicker

          <p class="vd-heading-info">Опцiонально.</p>
        </div>
      </div>

    <TextField
      title="Количество входов"
      text="Опцiонально."
    />

    <div class="row">
      <div class="col-12 col-md-2">
        <p class="vd-heading-4 _text-align-right mb-2">Актуальний вход</p>
      </div>

      <div class="col-12 col-md-10">
        datepicker

        <p class="vd-heading-info">Опцiонально.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-2">
        <p class="vd-heading-4 _text-align-right mb-2">Останнiй вход</p>
      </div>

      <div class="col-12 col-md-10">
        datepicker

        <p class="vd-heading-info">Опцiонально.</p>
      </div>
    </div>

    <TextField
      title="Актуальний вхiд IP"
      text="Опцiонально, довжина не бiльше 255."
    />

    <TextField
      title="Останнiй вхiд IP"
      text="Опцiонально, довжина не бiльше 255."
    />

    <ControllButtons :list="controllButtons"/>
  </div>
</template>

<script lang="ts">
  import { Vue, Component } from 'vue-property-decorator';

  @Component({
    name: 'AdminUserItemEdit',
    components: {
      TextField: () => import('@/components/common/text-field/TextField.vue'),
      SelectField: () => import('@/components/common/select-field/SelectField.vue'),
      ControllButtons: () => import('@/components/common/controll-buttons/ControllButtons.vue')
    }
  })
  export default class AdminUserItemEdit extends Vue {
    controllButtons = [
      {
        icon: 'check-bold',
        color: 'primary',
        text: 'Зберегти',
        event: ''
      },
      {
        color: 'primary',
        text: 'Зберегти та додати новий',
        event: ''
      },
      {
        color: 'primary',
        text: 'Зберегти та продовжити редагування',
        event: ''
      },
      {
        icon: 'close-thick',
        color: 'grey',
        text: 'Вiдмiна',
        event: ''
      }
    ];

    itemsRole = [
      { value: '1', text: 'Адмiн' }
    ];
  }
</script>
