<template>
  <div class="vd-admin-abonent__list">
    <BaseDataTable
      name="Користувачi"
      actions
      disable-details
      :items="data"
      :headers="headers"
    />
  </div>
</template>

<script lang="ts">
  import { Vue, Component, Prop } from 'vue-property-decorator';

  @Component({
    name: 'AdminUsersList',
    components: { DataTableFilter: () => import('@/components/common/data-table-filter/DataTableFilter.vue') }
  })
  export default class AdminUsersList extends Vue {
    @Prop() data;
    @Prop() headers;
  }
</script>
