.vd-tabs {
  position: relative;
  width: 100%;
  margin-bottom: 0;
  display: inline-flex;

  &__scroller {
    display: flex;
    overflow-x: auto;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__wrapper {
    flex: 1;
    margin-bottom: 0;
    border-bottom: 1px solid var(--border-header);
  }

  &__item {
    margin-bottom: -1px;
    padding: .6rem .8rem;
    display: flex;
    align-items: center;
    border: 1px solid transparent;
    border-bottom: none;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    font-size: .9rem;
    cursor: pointer;
    white-space: nowrap;

    &._active {
      background-color: #fff;
      border-color: var(--border-header);
    }

    &:hover {
      border-color: var(--border-header);
      background-color: var(--background-breadcrumbs);
    }
  }

  &__select {
    box-shadow: none;

    &._empty .vd-select__title-text {
      color: var(--text-link);
    }
  }
}