#app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--background-primary);
  color: var(--text-primary);
  transition: 200ms;
  overflow: hidden;
}

#content-wrapper {
  flex: 1;
  display: flex;
  overflow: hidden;
}

#content {
  flex: 1;
  overflow: hidden;

  .scroller {
    width: 100%;
    height: 100%;
    padding: 1em;
    display: flex;
    overflow: hidden;
    overflow-y: auto;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;

    &__body {
      flex: 1;
      display: flex;
      flex-direction: column;
      z-index: 1;

      &._relative {
        position: relative;
      }
    }
  }
}
