<template>
  <div class="vd-home-page scroller__body">
    <div class="container">
      <div class="row">
        <SquareInfoBlock
          v-for="(item, ni) in reports"
          type="general"
          :village="item.village"
          :used-count="item.usedCount"
          :users-count="item.abonentsCount"
          :system="item.system"
          :cash="item.cash"
          :bank="item.bank"
          :subsidy="item.subsidy"
          :recount="item.recount"
          :privileges="item.privileges"
          :key="ni"
        />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
  import { Vue, Component } from 'vue-property-decorator';

  import { Villages } from '@/scripts/store';
  import Utils from '@/scripts/utils';

  @Component({
    name: 'AdminRecordTypesListPage',
    components: {
      SquareInfoBlock: () => import('@/components/common/square-info-block/SquareInfoBlock.vue')
    }
  })
  export default class AdminReportingGeneralPage extends Vue {
    @Villages.Getter('assignedList') villages;
    @Villages.Action('init') loadVillages;

    reports = [
      {
        village: 'Єрківці',
        abonentsCount: '123',
        usedCount: '2333',
        system: '-1738',
        cash: '1234',
        bank: '68765',
        subsidy: '0',
        recount: '1504',
        privileges: '0'
      },

      {
        village: 'Cомкова Долина',
        abonentsCount: '568546',
        usedCount: '4534',
        system: '-5544',
        cash: '3434',
        bank: '6666',
        subsidy: '3456',
        recount: '3435',
        privileges: '0'
      },

      {
        village: 'Шевченкове',
        abonentsCount: '9439',
        usedCount: '3',
        system: '-9',
        cash: '95',
        bank: '999',
        subsidy: '33',
        recount: '1504',
        privileges: '0'
      },

      {
        village: 'Сошників',
        abonentsCount: '45',
        usedCount: '3456',
        system: '-56',
        cash: '1234',
        bank: '456',
        subsidy: '0',
        recount: '456',
        privileges: '0'
      },

      {
        village: 'Старе',
        abonentsCount: '123',
        usedCount: '3452',
        system: '-888',
        cash: '888',
        bank: '999',
        subsidy: '0',
        recount: '1504',
        privileges: '0'
      },

      {
        village: 'Васильки',
        abonentsCount: '8890',
        usedCount: '2333',
        system: '-1738',
        cash: '1234',
        bank: '68765',
        subsidy: '0',
        recount: '1504',
        privileges: '0'
      }
    ];

    async mounted() {
      Utils.Document.setLoading(true);
      await this.loadVillages();
      Utils.Document.setLoading(false);
    }
  }
</script>
