<template>
  <div class="vd-home-page scroller__body">
    <div class="container">
      <div class="row">
        <p class="vd-heading-2 _underlined col-12">
          Абоненти яким робилось більше 2 перерахунків за рік <br>
          {{ village }}
        </p>
        <BaseDataTable
            disable-checkbox
            name="Абоненти"
            type="front"
            :items="users"
            :headers="headers"
        />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator';

@Component({
  name: 'ReportingRecalculationPage'
})
export default class ReportingRecalculationPage extends Vue {
  village = 'Єрківці';

  users = [
    {
      bill: '010310',
      name: 'Бойко Марія Семенівна',
      address: 'вул. Агрономічна 24 Єрківці',
      phone: '093-977-27-55 Галина Федорівна',
      privilege: 'уч. в.',
      accountingType: 'Лічильник ЛК-15Х',
      number: '5671201',
      installed: 'Вулиця',
      inspection: '2016-01-01',
      indicator: '135',
      balance: '48.7'
    },

    {
      bill: '010310',
      name: 'Бойко Марія Семенівна',
      address: 'вул. Агрономічна 24 Єрківці',
      phone: '093-977-27-55 Галина Федорівна',
      privilege: 'уч. в.',
      accountingType: 'Лічильник ЛК-15Х',
      number: '5671201',
      installed: 'Вулиця',
      inspection: '2016-01-01',
      indicator: '135',
      balance: '48.7'
    },

    {
      bill: '010310',
      name: 'Бойко Марія Семенівна',
      address: 'вул. Агрономічна 24 Єрківці',
      phone: '093-977-27-55 Галина Федорівна',
      privilege: 'уч. в.',
      accountingType: 'Лічильник ЛК-15Х',
      number: '5671201',
      installed: 'Вулиця',
      inspection: '2016-01-01',
      indicator: '135',
      balance: '48.7'
    }
  ];

  headers = [
    { text: 'Рахунок', value: 'bill' },
    { text: 'Прізвище, ім\'я', value: 'name' },
    { text: 'Адреса', value: 'address' },
    { text: 'Телефони', value: 'phone' },
    { text: 'Пільга', value: 'privilege' },
    { text: 'Тип обліку', value: 'accountingType' },
    { text: 'Номер', value: 'number' },
    { text: 'Встановлено', value: 'installed' },
    { text: 'Повірка', value: 'inspection' },
    { text: 'Показник', value: 'indicator' },
    { text: 'Баланс', value: 'balance' }
  ];
}
</script>
