<template>
  <div class="vd-home-page scroller__body">
    <div class="container">
      <div class="row">
        <p class="vd-heading-2 _underlined col-12">
          Статистика <br>
          (Поточне споживання: всього {{ allCube }} куб/Дачники {{ cube }} куб)
        </p>
        <BaseDataTable
            disable-checkbox
            name="Статистика"
            type="front"
            :items="users"
            :headers="headers"
        />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator';

@Component({
  name: 'ReportingTransactionPage'
})
export default class ReportingTransactionPage extends Vue {
  allCube = 2769;
  cube = 763;

  users = [
    {
      date: '2015-10',
      system: '0,00 ( 299 ) 36148,00 куб.',
      cash: '0,00 ( 0 ) 0,00 куб.',
      bank: '0,00 ( 0 ) 0,00 куб.',
      subsidy: '0,00 ( 0 ) 0,00 куб.',
      recalculation: '0,00 ( 0 ) 0,00 куб.',
      privilege: '0,00 ( 0 ) 0,00 куб.'
    },

    {
      date: '2015-10',
      system: '0,00 ( 299 ) 36148,00 куб.',
      cash: '0,00 ( 0 ) 0,00 куб.',
      bank: '0,00 ( 0 ) 0,00 куб.',
      subsidy: '0,00 ( 0 ) 0,00 куб.',
      recalculation: '0,00 ( 0 ) 0,00 куб.',
      privilege: '0,00 ( 0 ) 0,00 куб.'
    },

    {
      date: '2015-10',
      system: '0,00 ( 299 ) 36148,00 куб.',
      cash: '0,00 ( 0 ) 0,00 куб.',
      bank: '0,00 ( 0 ) 0,00 куб.',
      subsidy: '0,00 ( 0 ) 0,00 куб.',
      recalculation: '0,00 ( 0 ) 0,00 куб.',
      privilege: '0,00 ( 0 ) 0,00 куб.'
    }
  ];

  headers = [
    { text: 'Дата', value: 'date' },
    { text: 'Система', value: 'system' },
    { text: 'Готівка', value: 'cash' },
    { text: 'Банк', value: 'bank' },
    { text: 'Субсидія', value: 'subsidy' },
    { text: 'Перерахунок', value: 'recalculation' },
    { text: 'Пільги', value: 'privilege' }
  ];
}
</script>
