<template>
  <div class="vd-home-page scroller__body">
    <div class="vd-admin-abonent">
      <p class="vd-heading-2 _underlined">{{ title }}</p>

      <BaseBreadcrumbs fill/>

      <BaseTabs
        name="Види оплат"
        :tabs="tabs"
      />

      <AdminTypesList
        v-if="currentTab === 'list'"
        :items="items"
        :headers="headers"
      />

      <AdminTypeItemEdit v-if="currentTab === 'create'"/>

      <AdminTypesListExport v-if="currentTab === 'export'"/>
    </div>
  </div>
</template>

<script lang="ts">
  import { Vue, Component } from 'vue-property-decorator';

  import Utils from '@/scripts/utils';
  import { PaymentTypes } from '@/scripts/store';

  @Component({
    name: 'AdminPaymentTypesListPage',
    components: {
      AdminTypesListExport: () => import('@/components/page/admin/types-list/AdminTypesListExport.vue'),
      AdminTypeItemEdit: () => import('@/components/page/admin/types-list/AdminTypeItemEdit.vue'),
      AdminTypesList: () => import('@/components/page/admin/types-list/AdminTypesList.vue')
    }
  })
  export default class AdminPaymentTypesListPage extends Vue {
    @PaymentTypes.Getter('assignedList') paymentTypes;
    @PaymentTypes.Action('init') loadPaymentTypes;

    headers = [
      {
        text: 'id', value: 'id'
      },
      { text: 'Тип оплат', value: 'name' },
      { text: 'Created at', value: 'created_at' },
      { text: 'Updated at', value: 'updated_at' }
    ];

    tabs = [
      {
        id: 1,
        text: 'Список',
        iconBefore: 'view-list',
        to: {
          name: 'admin-payment-types-tab',
          params: { tab: 'list' }
        }
      },
      {
        id: 2,
        text: 'Створити',
        iconBefore: 'plus-thick',
        to: {
          name: 'admin-payment-types-tab',
          params: { tab: 'create' }
        }
      },
      {
        id: 3,
        text: 'Експорт',
        iconBefore: 'file-download',
        to: {
          name: 'admin-payment-types-tab',
          params: { tab: 'export' }
        }
      }
    ];

    get currentTab() {
      return this.$route.params.tab;
    }

    get title() {
      switch (this.currentTab) {
        case 'list':
          return 'Види оплат';
        case 'create':
          return 'Новий запис';
        case 'export':
          return 'Експорт видiв оплат';
        default:
          return 'Види оплат';
      }
    }

    get items() {
      return this.paymentTypes.map((item) => ({
        ...item
      }));
    }

    async mounted() {
      Utils.Document.setLoading(true);
      await this.loadPaymentTypes();
      Utils.Document.setLoading(false);
    }
  }
</script>
