@keyframes scale-in-center {
  0% {
    backdrop-filter: blur(15px);
    transform: scale(0);
    opacity: 0;
  }

  100% {
    backdrop-filter: blur(15px);
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes scale-out-center {
  0% {
    backdrop-filter: blur(15px);
    transform: scale(1);
    opacity: 1;
  }

  100% {
    backdrop-filter: blur(15px);
    transform: scale(0);
    opacity: 0;
  }
}
