
// Shadows
.vd-elevation, .vd-elevation-1 {
  box-shadow: var(--shadow-primary) 5px 5px 10px -5px;
  transition: 200ms box-shadow;
}

.vd-elevation-2 {
  box-shadow:
    var(--vd-transparent-black-lighten-3) 0 3px 1px -2px,
    var(--vd-transparent-black-lighten-4) 0 2px 2px 0,
    var(--vd-transparent-black-lighten-5) 0 1px 5px 0;

  transition: 200ms box-shadow;
}

// HR break line
.vd-break {
  margin: 1.5em 0;
  height: 1px;
}
