////////////
// Mixins //
////////////

@mixin blurredBackground($back: var(--background-blurred), $filter: 15px) {
  background: var(--background-no-blurred);

  @supports ((backdrop-filter: blur($filter))) or (-webkit-backdrop-filter: blur($filter)) {
    backdrop-filter: blur($filter);
    background: $back !important;
  }

  body:not(.is-chromium) &
  {
    backdrop-filter: none !important;
    background: var(--background-no-blurred) !important;
  }
}
