.vd-select {
  position: relative;
  display: inline-block;
  max-width: 100%;

  line-height: 1;
  border-radius: 3px;
  border: 1px solid transparent;
  background: var(--background-select);

  user-select: none;

  &__title {
    position: relative;
    padding: 0.532em 1em;

    display: flex;
    align-items: center;
    justify-content: space-between;

    cursor: pointer;
    background: inherit;
    z-index: 2;

    &-text {
      font-size: 1em;
      font-weight: normal;
      text-decoration: none;
      text-align: center;

      .vd-select._empty & {
        color: var(--vd-transparent-black-lighten-1);
      }

      .vd-select._empty.dark & {
        color: var(--vd-transparent-white-lighten-1);
      }
    }

    &-icon {
      margin-left: 0.5em;
      transition: 400ms transform;
      transform-origin: 50% 45%;

      .vd-select._opened & {
        transform: rotateZ(180deg);
      }
    }
  }

  &__wrapper {
    max-height: 14em;

    border-radius: 0 0 3px 3px;
    border: inherit;
    background: inherit;
    overflow-x: hidden;
    overflow-y: auto;
  }

  &__group {
    &-title {
      padding: 0.5em 1em;
      font-size: 0.8em;
      text-transform: uppercase;
      color: var(--vd-transparent-black-lighten-1);

      .vd-select__wrapper.dark & {
        color: var(--vd-transparent-white-lighten-1);
      }
    }
  }

  &__item {
    padding: 0.75em 1.5em;

    cursor: pointer;
    transition: 200ms background-color;

    &:hover {
      background-color: rgba(0, 0, 0, 0.05);
    }

    &._active {
      color: var(--vd-white);
      background-color: var(--btn-primary);
    }

    .vd-select__wrapper.dark &._active {
      color: var(--vd-black);
      background-color: var(--vd-white);
    }
  }
}
