<template>
  <div class="vd-home-page scroller__body">
    <div class="vd-admin-abonent">
      <p class="vd-heading-2 _underlined">{{ title }}</p>

      <BaseBreadcrumbs fill/>

      <BaseTabs :tabs="tabs"/>

      <InfoTabContent
        v-if="currentTab === 'info'"
        :data="infoData"
      />

      <AdminUserItemEdit
        v-if="currentTab === 'edit'"
      />

      <RemoveInfoTabContent
        v-if="currentTab === 'remove'"
        type="user"
      />
    </div>
  </div>
</template>

<script lang="ts">
  import { Vue, Component } from 'vue-property-decorator';

  @Component({
    name: 'AdminUserItemPage',
    components: {
      InfoTabContent: () => import('@/components/common/info-block/InfoTabContent.vue'),
      AdminUserItemEdit: () => import('@/components/page/admin/users/AdminUserItemEdit.vue'),
      RemoveInfoTabContent: () => import('@/components/common/remove-info-list/RemoveInfoTabContent.vue')
    }
  })
  export default class AdminUserItemPage extends Vue {
    tabs = [
      {
        id: 1,
        text: 'Iнформація',
        iconBefore: 'information',
        to: {
          name: 'admin-user-tab',
          params: { id: '1', tab: 'info' }
        }
      },
      {
        id: 2,
        text: 'Редагування',
        iconBefore: 'pencil',
        to: {
          name: 'admin-user-tab',
          params: { id: '1', tab: 'edit' }
        }
      },
      {
        id: 3,
        text: 'Видалення',
        iconBefore: 'close-thick',
        to: {
          name: 'admin-user-tab',
          params: { id: '1', tab: 'remove' }
        }
      }
    ];

    infoData = [
      {
        id: '1',
        title: 'E-mail',
        type: 'text',
        content: 'yasko@ukr.net'
      },
      {
        id: '2',
        title: 'Запам\'ятований',
        type: 'text',
        content: '10 липня 2020, 06:03'
      },
      {
        id: '3',
        title: 'Кiлькiсть входiв',
        type: 'text',
        content: '268'
      },
      {
        id: '4',
        title: 'Актуальний вход',
        type: 'text',
        content: '14 липня 2020, 06:14'
      },
      {
        id: '5',
        title: 'Останнiй вхiд',
        type: 'text',
        content: '13 липня 2020, 06:08'
      },
      {
        id: '6',
        title: 'Актуальний вход IP',
        type: 'text',
        content: '109.227.125.24'
      },
      {
        id: '7',
        title: 'Останнiй вхiд IP',
        type: 'text',
        content: '109.227.125.24'
      },
      {
        id: '8',
        title: 'Роль',
        type: 'text',
        content: 'Оператор'
      }
    ];

    get currentTab() {
      return this.$route.params.tab;
    }

    get title() {
      switch (this.currentTab) {
        case 'info':
          return 'Деталi користувача "Назва"';
        case 'edit':
          return 'Редагування користувача "Назва"';
        case 'remove':
          return 'Видалення користувача "Назва"';
        default:
          return 'Користувач "Назва"';
      }
    }
  }
</script>
