<template>
  <div class="vd-home-page scroller__body">
    <div class="vd-admin-abonent">
      <p class="vd-heading-2 _underlined">{{ title }}</p>

      <BaseBreadcrumbs fill/>

      <BaseTabs
        name="Користувачi"
        :tabs="tabs"
      />

      <AdminUsersList
        v-if="currentTab === 'list'"
        :data="items"
        :headers="headers"
      />

      <AdminUserItemEdit v-if="currentTab === 'create'"/>

      <AdminUsersExport v-if="currentTab === 'export'"/>
    </div>
  </div>
</template>

<script lang="ts">
  import { Vue, Component } from 'vue-property-decorator';

  import { Users } from '@/scripts/store';
  import Utils from '@/scripts/utils';

  @Component({
    name: 'AdminUsersListPage',
    components: {
      AdminUsersExport: () => import('@/components/page/admin/users/AdminUsersExport.vue'),
      AdminUserItemEdit: () => import('@/components/page/admin/users/AdminUserItemEdit.vue'),
      AdminUsersList: () => import('@/components/page/admin/users/AdminUsersList.vue')
    }
  })
  export default class AdminUsersListPage extends Vue {
    @Users.Getter('assignedList') users;
    @Users.Action('init') loadUsers;

    headers = [
      { text: 'id', value: 'id' },
      { text: 'E-mail', value: 'email' },
      { text: 'Сброс пароля отправлен', value: 'reset_password_sent_at' },
      { text: 'Запомнен', value: 'remember_created_at' },
      { text: 'Количество входов', value: 'sign_in_count' },
      { text: 'Текущий вход', value: 'current_sign_in_at' }
    ];

    tabs = [
      {
        id: 1,
        text: 'Список',
        iconBefore: 'view-list',
        to: {
          name: 'admin-users-tab',
          params: { tab: 'list' }
        }
      },
      {
        id: 2,
        text: 'Створити',
        iconBefore: 'plus-thick',
        to: {
          name: 'admin-users-tab',
          params: { tab: 'create' }
        }
      },
      {
        id: 3,
        text: 'Експорт',
        iconBefore: 'file-download',
        to: {
          name: 'admin-users-tab',
          params: { tab: 'export' }
        }
      }
    ];

    get currentTab() {
      return this.$route.params.tab;
    }

    get title() {
      switch (this.currentTab) {
        case 'list':
          return 'Користувачi';
        case 'create':
          return 'Новий користувач';
        case 'export':
          return 'Експорт користувачiв';
        default:
          return 'Користувачi';
      }
    }

    get items() {
      return this.users.map((item) => ({
        ...item
      }));
    }

    async mounted() {
      Utils.Document.setLoading(true);
      await this.loadUsers();
      Utils.Document.setLoading(false);
    }
  }
</script>
