.vd-info-block {
  &__title {
    padding: .1rem .4rem;
    color: #fff;
    background-color: var(--btn-primary);
    border-radius: 3px;
    font-size: .7rem;
    font-weight: 500;
    display: inline-block;
  }

  &__content {
    padding: 1rem;
    background-color: var(--background-breadcrumbs);
    border: 1px solid var(--border-header);
    border-radius: 3px;
    font-size: 1rem;
    font-weight: 300;
  }
}