<template>
  <header class="vd-the-header container-fluid">
    <div class="row">
      <div class="vd-the-header__col col-auto">
        <p class="vd-the-header__title">
          <b>Водогон</b>
        </p>
      </div>

      <div class="vd-the-header__menu col-auto">
        <BaseMenu
          v-for="(menu, im) in menus"
          :key="im"
        >
          <template #activator="{ on }">
            <BaseButton
              v-on="on"
              icon="chevron-down"
              height="100%"
              icon-right
              flat
              :text="menu.name"
            />
          </template>

          <ul
            v-for="(group, ig) in menu.groups || []"
            :key="ig"
            class="vd-the-header__menu-content"
          >
            <li
              v-for="(link, il) in group.items || []"
              :key="il"
            >
              <router-link
                v-if="link.text"
                class="vd-the-header__menu-link vd-heading-4 _font-weight-normal"
                tag="span"
                :to="link.to"
              >
                {{ link.text }}
              </router-link>

              <div
                v-else-if="link.submenu"
                class="vd-the-header__menu-submenu"
              >
                <span class="vd-the-header__menu-link _sub vd-heading-4 _font-weight-normal">
                  {{ link.submenu.name }}
                  <BaseIcon
                    class="ml-1"
                    name="chevron-right"
                  />
                </span>

                <ul
                  class="vd-the-header__menu-submenu-content vd-elevation"
                >
                  <li
                    v-for="(subitem, is) in link.submenu.links || []"
                    :key="is"
                  >
                    <router-link
                      v-if="subitem.text"
                      class="vd-the-header__menu-link vd-heading-4 _font-weight-normal"
                      tag="span"
                      :to="subitem.to"
                    >
                      {{ subitem.text }}
                    </router-link>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </BaseMenu>
      </div>

      <div class="vd-the-header__user-info col-auto">
        <BaseMenu
          x-from="right"
          x-to="left"
        >
          <template #activator="{ on }">
            <BaseButton
              v-on="on"
              icon="chevron-down"
              height="100%"
              text="usik@ukr.net"
              icon-right
              flat
            />
          </template>

          <span>User info</span>
        </BaseMenu>
      </div>
    </div>
  </header>
</template>

<script lang="ts">
  import { Vue, Component } from 'vue-property-decorator';

  @Component({})
  export default class TheAbonentHeader extends Vue {
    menus = [
      {
        name: 'Абоненти',
        groups: [
          {
            items: [
              {
                text: 'Всi абоненти',
                to: { name: 'admin' }
              },
              {
                text: 'Єркiвцi',
                to: { name: 'admin' }
              },
              {
                text: 'Сомкова Долина',
                to: { name: 'admin' }
              },
              {
                text: 'Шевченкове',
                to: { name: 'admin' }
              },
              {
                text: 'Рогозів',
                to: { name: 'admin' }
              },
              {
                text: 'Сошників',
                to: { name: 'admin' }
              },
              {
                text: 'Старе',
                to: { name: 'admin' }
              },
              {
                text: 'Васильки',
                to: { name: 'admin' }
              },
              {
                text: 'Головурів',
                to: { name: 'admin' }
              },
              {
                text: 'Хоцьки',
                to: { name: 'admin' }
              },
              {
                text: 'Сеньківка',
                to: { name: 'admin' }
              },
              {
                text: 'Велика Стариця',
                to: { name: 'admin' }
              },
              {
                text: 'Гланишів',
                to: { name: 'admin' }
              },
              {
                text: 'Вовчків',
                to: { name: 'admin' }
              },
              {
                text: 'Ревне',
                to: { name: 'admin' }
              },
              {
                text: 'Пристроми',
                to: { name: 'admin' }
              },
              {
                text: 'Дударків',
                to: { name: 'admin' }
              },
              {
                text: 'Вишеньки',
                to: { name: 'admin' }
              }
            ]
          },
          {
            items: [
              {
                submenu: {
                  name: 'Боржники',
                  links: [
                    {
                      text: 'Єркiвцi',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Сомкова Долина',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Шевченкове',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Рогозів',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Сошників',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Старе',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Васильки',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Головурів',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Хоцьки',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Сеньківка',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Велика Стариця',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Гланишів',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Вовчків',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Ревне',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Пристроми',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Дударків',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Вишеньки',
                      to: { name: 'admin' }
                    }
                  ]
                }
              }
            ]
          },
          {
            items: [
              {
                submenu: {
                  name: 'Пiльговики',
                  links: [
                    {
                      text: 'Єркiвцi',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Сомкова Долина',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Шевченкове',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Рогозів',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Сошників',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Старе',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Васильки',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Головурів',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Хоцьки',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Сеньківка',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Велика Стариця',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Гланишів',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Вовчків',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Ревне',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Пристроми',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Дударків',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Вишеньки',
                      to: { name: 'admin' }
                    }
                  ]
                }
              }
            ]
          },
          {
            items: [
              {
                submenu: {
                  name: 'Юредичнi',
                  links: [
                    {
                      text: 'Єркiвцi',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Сомкова Долина',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Шевченкове',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Рогозів',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Сошників',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Старе',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Васильки',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Головурів',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Хоцьки',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Сеньківка',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Велика Стариця',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Гланишів',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Вовчків',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Ревне',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Пристроми',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Дударків',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Вишеньки',
                      to: { name: 'admin' }
                    }
                  ]
                }
              }
            ]
          }
        ]
      },
      {
        name: 'Вода',
        groups: [
          {
            items: [
              {
                submenu: {
                  name: 'Субсидi',
                  links: [
                    {
                      text: 'Єркiвцi',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Сомкова Долина',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Шевченкове',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Рогозів',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Сошників',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Старе',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Васильки',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Головурів',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Хоцьки',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Сеньківка',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Велика Стариця',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Гланишів',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Вовчків',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Ревне',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Пристроми',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Дударків',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Вишеньки',
                      to: { name: 'admin' }
                    }
                  ]
                }
              },
              {
                submenu: {
                  name: 'Пiльговики',
                  links: [
                    {
                      text: 'Єркiвцi',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Сомкова Долина',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Шевченкове',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Рогозів',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Сошників',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Старе',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Васильки',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Головурів',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Хоцьки',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Сеньківка',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Велика Стариця',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Гланишів',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Вовчків',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Ревне',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Пристроми',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Дударків',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Вишеньки',
                      to: { name: 'admin' }
                    }
                  ]
                }
              }
            ]
          },
          {
            items: [
              {
                submenu: {
                  name: 'Лiчильники',
                  links: [
                    {
                      text: 'Єркiвцi',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Сомкова Долина',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Шевченкове',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Рогозів',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Сошників',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Старе',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Васильки',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Головурів',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Хоцьки',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Сеньківка',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Велика Стариця',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Гланишів',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Вовчків',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Ревне',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Пристроми',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Дударків',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Вишеньки',
                      to: { name: 'admin' }
                    }
                  ]
                }
              }
            ]
          },
          {
            items: [
              {
                submenu: {
                  name: 'Фiдерний баланс',
                  links: [
                    {
                      text: 'Єркiвцi',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Сомкова Долина',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Шевченкове',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Рогозів',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Сошників',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Старе',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Васильки',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Головурів',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Хоцьки',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Сеньківка',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Велика Стариця',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Гланишів',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Вовчків',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Ревне',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Пристроми',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Дударків',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Вишеньки',
                      to: { name: 'admin' }
                    }
                  ]
                }
              }
            ]
          }
        ]
      },
      {
        name: 'Оплата',
        groups: [
          {
            items: [
              {
                submenu: {
                  name: 'Банк',
                  links: [
                    {
                      text: 'Єркiвцi',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Сомкова Долина',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Шевченкове',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Рогозів',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Сошників',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Старе',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Васильки',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Головурів',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Хоцьки',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Сеньківка',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Велика Стариця',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Гланишів',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Вовчків',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Ревне',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Пристроми',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Дударків',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Вишеньки',
                      to: { name: 'admin' }
                    }
                  ]
                }
              },
              {
                submenu: {
                  name: 'Готiвка',
                  links: [
                    {
                      text: 'Єркiвцi',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Сомкова Долина',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Шевченкове',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Рогозів',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Сошників',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Старе',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Васильки',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Головурів',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Хоцьки',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Сеньківка',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Велика Стариця',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Гланишів',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Вовчків',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Ревне',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Пристроми',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Дударків',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Вишеньки',
                      to: { name: 'admin' }
                    }
                  ]
                }
              }
            ]
          }
        ]
      },
      {
        name: 'Звiтнiсть',
        groups: [
          {
            items: [
              {
                submenu: {
                  name: 'Транзакцi',
                  links: [
                    {
                      text: 'Єркiвцi',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Сомкова Долина',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Шевченкове',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Рогозів',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Сошників',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Старе',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Васильки',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Головурів',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Хоцьки',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Сеньківка',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Велика Стариця',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Гланишів',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Вовчків',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Ревне',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Пристроми',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Дударків',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Вишеньки',
                      to: { name: 'admin' }
                    }
                  ]
                }
              },
              {
                submenu: {
                  name: 'Зведена',
                  links: [
                    {
                      text: 'Єркiвцi',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Сомкова Долина',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Шевченкове',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Рогозів',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Сошників',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Старе',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Васильки',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Головурів',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Хоцьки',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Сеньківка',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Велика Стариця',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Гланишів',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Вовчків',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Ревне',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Пристроми',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Дударків',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Вишеньки',
                      to: { name: 'admin' }
                    }
                  ]
                }
              }
            ]
          },
          {
            items: [
              {
                submenu: {
                  name: 'Перерахунки',
                  links: [
                    {
                      text: 'Єркiвцi',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Сомкова Долина',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Шевченкове',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Рогозів',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Сошників',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Старе',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Васильки',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Головурів',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Хоцьки',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Сеньківка',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Велика Стариця',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Гланишів',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Вовчків',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Ревне',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Пристроми',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Дударків',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Вишеньки',
                      to: { name: 'admin' }
                    }
                  ]
                }
              }
            ]
          },
          {
            items: [
              {
                submenu: {
                  name: 'Графiки витрат',
                  links: [
                    {
                      text: 'Єркiвцi',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Сомкова Долина',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Шевченкове',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Рогозів',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Сошників',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Старе',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Васильки',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Головурів',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Хоцьки',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Сеньківка',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Велика Стариця',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Гланишів',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Вовчків',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Ревне',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Пристроми',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Дударків',
                      to: { name: 'admin' }
                    },
                    {
                      text: 'Вишеньки',
                      to: { name: 'admin' }
                    }
                  ]
                }
              }
            ]
          }
        ]
      }
    ];
  }
</script>
