<template>
  <header class="vd-the-header container-fluid">
    <div class="vd-the-header__wrapper row">
      <div class="vd-the-header__col col-auto">
        <p class="vd-the-header__title">
          <b>Vodogon</b>
          <span>Admin</span>
        </p>
      </div>

      <div class="vd-the-header__col-right col-auto">
        <BaseButton
          class="mr-2"
          small
          flat
          :to="{ name: 'develop' }"
        >
          DevPage
        </BaseButton>

        <BaseButton
          class="mr-2"
          small
          flat
          :to="{ name: 'admin-home' }"
        >
          Панель управління
        </BaseButton>

        <BaseButton
          class="mr-4"
          small
          flat
          :to="{ name: 'home' }"
        >
          Домівка
        </BaseButton>

        <BaseButton
          color="red"
          x-small
        >
          Вийти
        </BaseButton>
      </div>
    </div>
  </header>
</template>

<script lang="ts">
  import { Vue, Component } from 'vue-property-decorator';

  @Component({})
  export default class TheAdminHeader extends Vue {
  }
</script>
