<template>
  <BaseModal
    v-if="error"
    class-wrapper="the-error-modal"
    :opened="isOpened"
    :title="error.title"
    @close="close()"
  >
    <div class="the-error-modal__wrapper">
      <span>{{ error.msg }}</span>

      <BaseButton
        class="the-error-modal__btn"
        width="8em"
        @click="close()"
      >
        OK
      </BaseButton>
    </div>
  </BaseModal>
</template>

<script lang="ts">
  import { Vue, Component } from 'vue-property-decorator';

  import { Global } from '@/scripts/store';
  import { VDError } from '@/scripts/store/modules/Global';

  @Component({})
  export default class TheErrorModal extends Vue {
    @Global.State('error') error: VDError;
    @Global.Mutation('setError') setError;

    get isOpened() {
      return !!(this.error && this.error.msg);
    }

    close() {
      this.setError(null);
    }
  }
</script>
