<template>
  <header class="vd-the-header container-fluid">
    <div class="vd-the-header__wrapper row">
      <div class="vd-the-header__col col-auto">
        <p class="vd-the-header__title">
          <b>Водогон</b>
        </p>
      </div>

      <div class="vd-the-header__col-right col-auto">
        <BaseButton
          class="mr-2"
          small
          flat
          :to="{ name: 'reporting-general' }"
        >
          Звітність - зведена
        </BaseButton>

        <BaseButton
          class="mr-2"
          small
          flat
          :to="{ name: 'develop' }"
        >
          DevPage
        </BaseButton>

        <BaseButton
          class="mr-2"
          small
          flat
          :to="{ name: 'admin-home' }"
        >
          Панель управління
        </BaseButton>
      </div>
    </div>
  </header>
</template>

<script lang="ts">
  import { Vue, Component } from 'vue-property-decorator';

  @Component({})
  export default class TheHeader extends Vue {
  }
</script>
