<template>
  <div class="vd-the-sidebar container-fluid">
    <div class="vd-the-sidebar__wrapper row">
      <div class="col-12">
        <p class="vd-the-sidebar__title">Навигация</p>

        <div class="vd-the-sidebar__menu">
          <div
            v-for="(link, li) in links"
            class="vd-the-sidebar__menu-item"
            :key="li"
          >
            <router-link
              class="vd-the-sidebar__menu-item-title"
              :to="{ name: link.to }"
            >
              {{ link.title }}
            </router-link>

            <div
              v-if="(link.children || []).length"
              class="vd-the-sidebar__menu-item-children"
            >
              <div
                v-for="(subLink, si) in link.children"
                class="vd-the-sidebar__menu-item _sub"
                :key="si"
              >
                <router-link
                  class="vd-the-sidebar__menu-item-title"
                  :to="{ name: subLink.to }"
                >
                  {{ subLink.title }}
                </router-link>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
  import { Vue, Component } from 'vue-property-decorator';

  @Component({})
  export default class TheSidebar extends Vue {
    get links() {
      return [
        {
          to: 'admin-abonents',
          title: 'Абоненти',

          children: [
            {
              to: 'admin-payment-types',
              title: 'Види оплат'
            },
            {
              to: 'admin-privileges',
              title: 'Пільги'
            },
            {
              to: 'admin-villages',
              title: 'Села'
            },
            {
              to: 'admin-record-types',
              title: 'Типи обліку'
            },
            {
              to: 'admin-transactions',
              title: 'Транзакції'
            },
            {
              to: 'admin-users-legal',
              title: 'Юридичниi особи'
            }
          ]
        },
        {
          to: 'admin-companies',
          title: 'Господарства'
        },
        {
          to: 'admin-users',
          title: 'Користувачі'
        }
      ];
    }
  }
</script>
