.vd-admin-abonent {
  .vd-breadcrumbs {
    margin: 1.3rem 0;
  }

  .vd-tabs__scroller {
    margin-bottom: 1rem;
  }

  &__info {
    &-list {
      margin-top: .4rem;
      margin-bottom: 0;

      &-item {
        margin-bottom: 1rem;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  &__user {
    &-com {
      display: flex;
      flex-wrap: wrap;

      .vd-select {
        flex: 1;
      }

      .vd-modal {
        display: inline-flex;
      }
    }
  }
}