<template>
  <div class="vd-home-page scroller__body">
    <div class="vd-admin-abonent">
      <p class="vd-heading-2 _underlined">{{ title }}</p>

      <BaseBreadcrumbs fill/>

      <BaseTabs
        name="Юридичнi особи"
        :tabs="tabs"
      />

      <AdminUsersLegalList
        v-if="currentTab === 'list'"
        :data="items"
        :headers="headers"
      />

      <AdminUserLegalItemEdit v-if="currentTab === 'create'"/>

      <AdminUsersLegalListExport v-if="currentTab === 'export'"/>
    </div>
  </div>
</template>

<script lang="ts">
  import { Vue, Component } from 'vue-property-decorator';

  import { UsersLegal } from '@/scripts/store';
  import Utils from '@/scripts/utils';

  @Component({
    name: 'AdminUsersLegalListPage',
    components: {
      AdminUsersLegalListExport: () => import('@/components/page/admin/user-legal/AdminUsersLegalListExport.vue'),
      AdminUserLegalItemEdit: () => import('@/components/page/admin/user-legal/AdminUserLegalItemEdit.vue'),
      AdminUsersLegalList: () => import('@/components/page/admin/user-legal/AdminUsersLegalList.vue')
    }
  })
  export default class AdminUsersLegalListPage extends Vue {
    @UsersLegal.Getter('assignedList') usersLegal;
    @UsersLegal.Action('init') loadUsersLegal;

    headers = [
      { text: 'Name', value: 'name' },
      { text: 'Description', value: 'description' },
      { text: 'City', value: 'misto' },
      { text: 'Adress', value: 'adress' },
      { text: 'Rahunok', value: 'dogovor' }
    ];

    tabs = [
      {
        id: 1,
        text: 'Список',
        iconBefore: 'view-list',
        to: {
          name: 'admin-users-legal-tab',
          params: { tab: 'list' }
        }
      },
      {
        id: 2,
        text: 'Створити',
        iconBefore: 'plus-thick',
        to: {
          name: 'admin-users-legal-tab',
          params: { tab: 'create' }
        }
      },
      {
        id: 3,
        text: 'Експорт',
        iconBefore: 'file-download',
        to: {
          name: 'admin-users-legal-tab',
          params: { tab: 'export' }
        }
      }
    ];

    get currentTab() {
      return this.$route.params.tab;
    }

    get title() {
      switch (this.currentTab) {
        case 'list':
          return 'Юридичнi особи';
        case 'create':
          return 'Нова юридична особа';
        case 'export':
          return 'Експорт юридичної особи';
        default:
          return 'Юридичнi особи';
      }
    }

    get items() {
      return this.usersLegal.map((item) => ({
        ...item
      }));
    }

    async mounted() {
      Utils.Document.setLoading(true);
      await this.loadUsersLegal();
      Utils.Document.setLoading(false);
    }
  }
</script>
