<template>
  <div class="vd-home-page scroller__body">
    <div class="vd-admin-abonent">
      <p class="vd-heading-2 _underlined">{{ title }}</p>

      <BaseBreadcrumbs fill/>

      <BaseTabs :tabs="tabs"/>

      <InfoTabContent
        v-if="currentTab === 'info'"
        :data="infoData"
      />

      <AdminUserLegalItemEdit
        v-if="currentTab === 'edit'"
      />

      <RemoveInfoTabContent
        v-if="currentTab === 'remove'"
        type="user-legal"
      />
    </div>
  </div>
</template>

<script lang="ts">
  import { Vue, Component } from 'vue-property-decorator';

  @Component({
    name: 'AdminUserLegalItemPage',
    components: {
      InfoTabContent: () => import('@/components/common/info-block/InfoTabContent.vue'),
      RemoveInfoTabContent: () => import('@/components/common/remove-info-list/RemoveInfoTabContent.vue'),
      AdminUserLegalItemEdit: () => import('@/components/page/admin/user-legal/AdminUserLegalItemEdit.vue')
    }
  })
  export default class AdminUserLegalItemPage extends Vue {
    tabs = [
      {
        id: 1,
        text: 'Iнформація',
        iconBefore: 'information',
        to: {
          name: 'admin-user-legal-tab',
          params: { id: '1', tab: 'info' }
        }
      },
      {
        id: 2,
        text: 'Редагування',
        iconBefore: 'pencil',
        to: {
          name: 'admin-user-legal-tab',
          params: { id: '1', tab: 'edit' }
        }
      },
      {
        id: 3,
        text: 'Видалення',
        iconBefore: 'close-thick',
        to: {
          name: 'admin-user-legal-tab',
          params: { id: '1', tab: 'remove' }
        }
      }
    ];

    infoData = [
      {
        id: '1',
        title: 'Iм\'я',
        type: 'text',
        content: 'Киiв Град'
      },
      {
        id: '2',
        title: 'Опис',
        type: 'text',
        content: 'ТОВ'
      },
      {
        id: '3',
        title: 'Мiсто',
        type: 'text',
        content: 'Рогозiв'
      },
      {
        id: '4',
        title: 'Адреса',
        type: 'text',
        content: 'Центральна 97'
      },
      {
        id: '5',
        title: 'Телофон',
        type: 'text',
        content: '0675005507'
      },
      {
        id: '6',
        title: 'Село',
        type: 'link',
        text: 'Шевченкове',
        to: { name: 'admin-home' }
      },
      {
        id: '7',
        title: 'Договiр',
        type: 'text',
        content: '050626'
      }
    ];

    get currentTab() {
      return this.$route.params.tab;
    }

    get title() {
      switch (this.currentTab) {
        case 'info':
          return 'Деталi юридичної особи "Назва"';
        case 'edit':
          return 'Редагування юридичної особи "Назва"';
        case 'remove':
          return 'Видалення юридичної особи "Назва"';
        default:
          return 'Юридична особа "Назва"';
      }
    }
  }
</script>
