.vd-image {
  position: relative;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url('/assets/images/default.svg');
  background-color: var(--background-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 50%;
  border-radius: 3px;

  &._loaded {
    background: none;
  }

  &__item {
    width: 100%;
    height: 100%;
    display: flex;
    object-fit: cover;
    border-radius: inherit;
    transition: opacity .4s ease-in-out;
    opacity: 0;

    .vd-image._loaded & {
      opacity: 1;
    }
  }
}
