.vd-button {
  max-width: 100%;
  padding: 0;

  display: inline-flex;
  flex-direction: column;

  font-size: 1em;
  font-weight: normal;
  text-decoration: none;
  text-align: center;

  line-height: 1;
  border-radius: 3px;
  border: 1px solid var(--vd-blue);
  background: var(--vd-blue);

  outline: 0;
  cursor: pointer;
  overflow: hidden;
  user-select: none;
  white-space: nowrap;
  transition: 400ms box-shadow, 400ms color;
  -webkit-appearance: none;

  &:hover {
    box-shadow: inset #000 2px 2px 7px -5px;
  }

  &.flat:hover {
    box-shadow: none;
  }

  &__cnt {
    flex: 1;
    width: 100%;
    min-height: 2.5em;
    padding: 0 1em;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;
    transition: 400ms background-color;

    &._icon-right {
      flex-direction: row-reverse;
    }

    .vd-button:hover & {
      background-color: rgba(0, 0, 0, 0.1);
    }

    ////////////
    // Styles //
    ////////////

    .vd-button.flat:hover & {
      text-decoration: none;
      color: var(--vd-mosque);
    }

    ///////////
    // Sizes //
    ///////////

    .vd-button.xLarge & {
      min-height: 4.5em;
      padding: 0 3.5em;
    }

    .vd-button.large & {
      min-height: 3.5em;
      padding: 0 2.5em;
    }

    .vd-button.small & {
      min-height: 2em;
      padding: 0 0.7em;
      font-size: 0.9em;
    }

    .vd-button.xSmall & {
      min-height: 1.5em;
      padding: 0 0.6em;
      font-size: 0.8em;
    }
  }

  &__icon {
    margin-right: 0.5em;

    &._right {
      margin-left: 0.5em;
      margin-right: 0;
    }

    &._no-margin {
      margin-left: 0;
      margin-right: 0;
    }
  }
}
