<template>
  <div
    v-if="$route.name"
    id="app"
    data-app="true"
    :class="appClass"
    :theme="theme"
    :data-held="heldPages"
  >
    <component
      :is="$route.meta.header === undefined ? 'TheHeader' : $route.meta.header"
    />

    <div id="content-wrapper">
      <TheErrorModal/>

      <component
        :is="$route.meta.sidebar === undefined ? 'TheSidebar' : $route.meta.sidebar"
      />

      <div id="content">
        <div
          class="scroller"
          @scroll="scroll($event)"
        >
          <keep-alive :include="heldPages">
            <router-view/>
          </keep-alive>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
  import { Vue, Component } from 'vue-property-decorator';

  import Utils from '@/scripts/utils';
  import { Vendors, Global } from '@/scripts/store';
  import { routes } from '@/scripts/router/routes';

  @Component({
    components: {
      TheHeader: () => import('@/components/common/TheHeader.vue'),
      TheSidebar: () => import('@/components/common/TheSidebar.vue'),
      TheErrorModal: () => import('@/components/common/TheErrorModal.vue')
    }
  })
  export default class App extends Vue {
    @Vendors.State('libs') modules;
    @Vendors.Action('loadModule') loadModule;

    @Global.State('mainTheme') theme;
    @Global.Getter('isIOS') isIOS;
    @Global.Getter('isChromium') isChromium;

    window = {
      width: 0,
      height: 0
    };

    get appClass() {
      const meta = this.$route.meta || {};
      return [
        `app-page-${this.$route.name.toLowerCase()}`,
        {
          [`app-page-${meta.class}`]: meta.class,
          [`app-page-group-${meta.group}`]: meta.group
        }
      ];
    }

    get heldPages() {
      return routes
        .filter((route) => route.meta.keep)
        .map((route) => route.component.split('/').reverse()[0])
        .filter((name, index, arr) => arr.indexOf(name) === index)
        .join(',');
    }

    created() {
      Utils.Console.timelapse('App/created');
    }

    mounted() {
      Utils.Console.timelapse('App/mounted');

      window.addEventListener('resize', this.handleResize);
      window.addEventListener('orientationchange', this.handleResize);
      this.handleResize();
    }

    beforeDestroy() {
      window.removeEventListener('resize', this.handleResize);
      window.removeEventListener('orientationchange', this.handleResize);
    }

    handleResize() {
      this.window.height = window.innerHeight;
      if (this.isIOS) document.body.classList.add('is-ios');
      if (this.isChromium) document.body.classList.add('is-chromium');
      document.body.style.height = `${this.window.height}px`;
    }

    scroll() {
      window.dispatchEvent(new Event('scroll'));
    }
  }
</script>
