.vd-abonent {
  &__content {
    padding-top: 1rem;
  }

  &__info {
    &-item {
      padding-bottom: .5rem;
    }

    &-header {
      margin-bottom: 0;
      font-size: .9rem;
    }

    &-value {
      margin-bottom: 0;
      font-size: .9rem;
    }
  }

  &__recalculation {
    display: flex;

    &-item {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-right: 1rem;

      .vd-input {
        min-width: 100px !important;
        width: 100px;
      }

      p, label {
        margin-bottom: 0;
        padding: 0 .3rem;
      }
    }
  }
}