.vd-the-header {
  background-color: var(--background-header);
  border-bottom: 1px solid var(--border-header);

  &__wrapper {
    justify-content: space-between;
  }

  &__col {
    &-left, &-right {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__title {
    margin: 0;
    padding: 0.75em 0;
    color: var(--text-header-title);

    b {
      margin-right: 0.25em;
      font-weight: 500;
    }
  }

  &__menu {
    display: flex;

    &-content {
      margin: 0;
      border-bottom: 1px solid var(--border-header);

      &:last-child {
        border: none;
      }

      .vd-menu {
        width: 100%;
      }
    }

    &-link {
      padding: .25rem 1rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      white-space: nowrap;
      cursor: pointer;

      &._sub {
        padding: .25rem .5rem .25rem 1rem;
      }

      &:hover {
        background-color: rgba(0, 0, 0, 0.1);
      }
    }

    &-submenu {
      position: relative;

      &-content {
        display: none;
        position: absolute;
        top: 0;
        left: 100%;
        background: var(--background-menu);
        border-radius: 3px;
      }

      &:hover {
        .vd-the-header__menu-submenu-content {
          display: block;
        }
      }
    }
  }

  &__user-info {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }
}
