<template>
  <div class="vd-home-page scroller__body">
    <div class="vd-admin-abonent">
      <p class="vd-heading-2 _underlined">{{ title }}</p>

      <BaseBreadcrumbs fill/>

      <BaseTabs :tabs="tabs"/>

      <AdminControlBlock class="mb-2"/>
    </div>
  </div>
</template>

<script lang="ts">
  import { Vue, Component } from 'vue-property-decorator';

  @Component({
    name: 'AdminHomePage',
    components: {
      AdminControlBlock: () => import('@/components/page/admin/control-block/AdminControlBlock.vue')
    }
  })
  export default class AdminHomePage extends Vue {
    tabs = [
      {
        id: 1,
        text: 'Панель управлiння',
        iconBefore: 'home',
        selected: true
      }
    ];

    get currentTab() {
      return this.$route.params.tab;
    }

    get title() {
      switch (this.currentTab) {
        default:
          return 'Управлiння сайтом';
      }
    }
  }
</script>
