<template>
  <div class="vd-home-page scroller__body">
    <div class="container">
      <div class="row">
        <div class="col-12 px-0">
          <div class="vd-auth__wrapper">
            <div class="vd-auth__header">
              <p class="vd-heading-3 py-2 px-3">Ввiйти</p>
            </div>

            <div class="vd-auth__content py-3 px-3">
              <p class="vd-heading-4 mb-1">E-mail:</p>
              <BaseInput
                class="mb-3"
                placeholder=""
                width="100%"
              />

              <p class="vd-heading-4 mb-1">Пароль:</p>
              <BaseInput
                placeholder=""
                width="100%"
              />

              <p class="vd-heading-4 _font-weight-normal mt-3">checkbox - запам'ятати мене</p>

              <BaseButton
                class="mt-3"
                color="primary"
                text="Ввiйти"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
  import { Vue, Component } from 'vue-property-decorator';

  @Component({
    name: 'AdminAuthPage'
  })
  export default class AdminAuthPage extends Vue {
  }
</script>
