<template>
  <div class="row">
    <div class="col-12 col-md-2">
      <p class="vd-heading-4 _text-align-right mb-2">{{ title }}</p>
    </div>

    <div class="col-12 col-md-10">
      <div class="vd-admin-abonent__user-com">
        <BaseSelect
          class="mb-2 flex-1"
          :items="list"
          :placeholder="placeholder"
        />
      </div>

      <p class="vd-heading-info">{{ text }}</p>
    </div>
  </div>
</template>

<script lang="ts">
  import { Vue, Component, Prop } from 'vue-property-decorator';

  @Component({})
  export default class SelectField extends Vue {
    @Prop(Array) list;
    @Prop(String) text;
    @Prop(String) title;
    @Prop({ type: String, default: '' }) placeholder; // Переназначение BaseSelect
  }
</script>
