.vd-breadcrumbs {
  margin: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  
  &._fill {
    padding: .45rem .8rem;
    background-color: var(--background-breadcrumbs);
    border-radius: 3px;
  }

  &__item {
    margin-right: .4rem;
    color: var(--text-breadcrumbs);
    font-size: .9rem;

    &-link {
      margin-right: .3rem;
      color: var(--text-breadcrumbs-link);
    }
  }
}