<template>
  <button
    v-on="$listeners"
    class="vd-button"
    :class="{ xLarge, large, small, xSmall, flat }"
    :style="localStyles"
  >
    <component
      class="vd-button__cnt"
      :is="to ? 'router-link' : 'div'"
      :class="{ '_icon-right': iconRight }"
      :to="to"
    >
      <!-- Set icon -->
      <BaseIcon
        v-if="icon"
        class="vd-button__icon"
        stroke-color="white"
        :class="{ _right: iconRight, '_no-margin': !text && !this.$slots.default }"
        :color="light || flat ? 'grey' : 'white'"
        :name="icon"
      />

      <!-- Set content of button -->
      <span
        v-if="text"
        class="vd-button__text"
      >
        {{ text }}
      </span>

      <slot v-else/>
    </component>
  </button>
</template>

<script lang="ts">
  import { Vue, Component, Prop } from 'vue-property-decorator';

  import Utils from '@/scripts/utils';
  import { Vendors } from '@/scripts/store';

  @Component({})
  export default class BaseButton extends Vue {
    @Prop(Object) to;
    @Prop(String) text;
    @Prop(String) icon;
    @Prop(String) color;
    @Prop(String) height;
    @Prop(String) width;
    @Prop(String) borderColor;
    @Prop(String) borderWidth;
    @Prop(Boolean) iconRight;
    @Prop(Boolean) flat;
    @Prop(Boolean) block;
    @Prop(Boolean) light;
    @Prop(Boolean) large;
    @Prop(Boolean) small;
    @Prop(Boolean) xLarge;
    @Prop(Boolean) xSmall;

    @Vendors.Action('loadStyle') loadStyle;

    get localStyles() {
      const styles = {
        color: `var(--vd-${this.light || this.flat ? 'grey' : 'white'})`
      } as any;

      // Sizes
      if (this.block) styles.width = '100%';
      if (this.width) styles.width = Utils.String.cssPropFit(this.width);
      if (this.height) styles.height = Utils.String.cssPropFit(this.height);
      if (this.borderWidth) styles.borderWidth = Utils.String.cssPropFit(this.borderWidth);

      // Colors
      if (this.color) styles.backgroundColor = Utils.String.cssColorChain(this.color);
      if (this.color) styles.borderColor = Utils.String.cssColorChain(this.color);
      if (this.borderColor) styles.borderColor = Utils.String.cssColorChain(this.borderColor);
      if (this.flat) styles.backgroundColor = 'transparent';
      if (this.flat) styles.borderColor = 'transparent';

      return styles;
    }

    created() {
      this.loadStyle({ path: 'common/ui/button/button', force: true });
    }
  }
</script>
