<template>
  <ul
    class="vd-breadcrumbs"
    :class="{ _fill: fill }"
  >
    <li
      v-for="(link, li) in routes"
      class="vd-breadcrumbs__item"
      :key="li"
    >
      <span v-if="li === routes.length - 1">{{ link.text }}</span>

      <span v-else>
        <router-link
          class="vd-breadcrumbs__item-link"
          tag="a"
          :to="link.to"
        >
          {{ link.text }}
        </router-link> /
      </span>
    </li>
  </ul>
</template>

<script lang="ts">
  import { Vue, Component, Prop } from 'vue-property-decorator';

  import { Vendors } from '@/scripts/store';

  @Component({})
  export default class BaseBreadcrumbs extends Vue {
    @Prop({ type: Boolean, default: false }) fill;

    @Vendors.Action('loadStyle') loadStyle;

    created() {
      this.loadStyle({ path: 'common/ui/breadcrumbs/breadcrumbs', force: true });
    }

    get routes() {
      const path = this.$route.fullPath;
      const id = /\d+/;
      const breadcrumbs = [];
      console.log(path);

      if (path.includes('/develop')) {
        breadcrumbs.push(
          {
            id: 1,
            text: 'Панель управління',
            to: { name: 'admin-home' }
          }
        );

        breadcrumbs.push(
          {
            id: 2,
            text: 'Абоненти',
            to: { name: 'admin-abonents' }
          }
        );
      }

      if (path.includes('/admin')) {
        breadcrumbs.push(
          {
            id: 1,
            text: 'Панель управління',
            to: { name: 'admin-home' }
          }
        );
      }

      if (path.includes('/abonents')) {
        breadcrumbs.push(
          {
            id: 2,
            text: 'Абоненти',
            to: { name: 'admin-abonents' }
          }
        );
      }

      if (path.includes('/abonent') && path.match(id)) {
        breadcrumbs.push(
          {
            id: 2,
            text: 'Абоненти',
            to: { name: 'admin-abonents' }
          }
        );

        breadcrumbs.push(
          {
            id: 3,
            text: 'Iм\'я абонента',
            to: { name: 'admin-abonent' }
          }
        );
      }

      // payment-types
      if (path.includes('/payment-types')) {
        breadcrumbs.push(
          {
            id: 2,
            text: 'Абоненти',
            to: { name: 'admin-abonents' }
          }
        );

        breadcrumbs.push(
          {
            id: 3,
            text: 'Види оплат',
            to: { name: 'admin-payment-types' }
          }
        );
      }

      if (path.includes('/payment-type') && path.match(id)) {
        breadcrumbs.push(
          {
            id: 2,
            text: 'Абоненти',
            to: { name: 'admin-abonents' }
          }
        );

        breadcrumbs.push(
          {
            id: 3,
            text: 'Види оплат',
            to: { name: 'admin-payment-types' }
          }
        );

        breadcrumbs.push(
          {
            id: 4,
            text: 'Назва виду оплату',
            to: { name: 'admin-payment-type' }
          }
        );
      }
      // payment-types

      // privilages
      if (path.includes('/privileges')) {
        breadcrumbs.push(
          {
            id: 2,
            text: 'Абоненти',
            to: { name: 'admin-abonents' }
          }
        );

        breadcrumbs.push(
          {
            id: 3,
            text: 'Пiльги',
            to: { name: 'admin-privileges' }
          }
        );
      }

      if (path.includes('/privilege') && path.match(id)) {
        breadcrumbs.push(
          {
            id: 2,
            text: 'Абоненти',
            to: { name: 'admin-abonents' }
          }
        );

        breadcrumbs.push(
          {
            id: 3,
            text: 'Пiльги',
            to: { name: 'admin-privileges' }
          }
        );

        breadcrumbs.push(
          {
            id: 4,
            text: 'Назва пiльги',
            to: { name: 'admin-privilege' }
          }
        );
      }
      // privilages

      // villages
      if (path.includes('/villages')) {
        breadcrumbs.push(
          {
            id: 2,
            text: 'Абоненти',
            to: { name: 'admin-abonents' }
          }
        );

        breadcrumbs.push(
          {
            id: 3,
            text: 'Села',
            to: { name: 'admin-villages' }
          }
        );
      }

      if (path.includes('/village') && path.match(id)) {
        breadcrumbs.push(
          {
            id: 2,
            text: 'Абоненти',
            to: { name: 'admin-abonents' }
          }
        );

        breadcrumbs.push(
          {
            id: 3,
            text: 'Села',
            to: { name: 'admin-villages' }
          }
        );

        breadcrumbs.push(
          {
            id: 4,
            text: 'Назва села',
            to: { name: 'admin-village' }
          }
        );
      }
      // villages

      // record-types
      if (path.includes('/record-types')) {
        breadcrumbs.push(
          {
            id: 2,
            text: 'Абоненти',
            to: { name: 'admin-abonents' }
          }
        );

        breadcrumbs.push(
          {
            id: 3,
            text: 'Типи облiку',
            to: { name: 'admin-record-types' }
          }
        );
      }

      if (path.includes('/record-type') && path.match(id)) {
        breadcrumbs.push(
          {
            id: 2,
            text: 'Абоненти',
            to: { name: 'admin-abonents' }
          }
        );

        breadcrumbs.push(
          {
            id: 3,
            text: 'Типи облiку',
            to: { name: 'admin-record-types' }
          }
        );

        breadcrumbs.push(
          {
            id: 4,
            text: 'Назва типу облiку',
            to: { name: 'admin-record-type' }
          }
        );
      }
      // record-types

      // transactions
      if (path.includes('/transactions')) {
        breadcrumbs.push(
          {
            id: 2,
            text: 'Абоненти',
            to: { name: 'admin-abonents' }
          }
        );

        breadcrumbs.push(
          {
            id: 3,
            text: 'Транзакцiї',
            to: { name: 'admin-transactions' }
          }
        );
      }

      if (path.includes('/transaction') && path.match(id)) {
        breadcrumbs.push(
          {
            id: 2,
            text: 'Абоненти',
            to: { name: 'admin-abonents' }
          }
        );

        breadcrumbs.push(
          {
            id: 3,
            text: 'Транзакцiї',
            to: { name: 'admin-transactions' }
          }
        );

        breadcrumbs.push(
          {
            id: 4,
            text: 'Назва транзакцiї',
            to: { name: 'admin-transaction' }
          }
        );
      }
      // transactions

      // users-legal
      if (path.includes('/users-legal')) {
        breadcrumbs.push(
          {
            id: 2,
            text: 'Абоненти',
            to: { name: 'admin-abonents' }
          }
        );

        breadcrumbs.push(
          {
            id: 3,
            text: 'Юридичнi особи',
            to: { name: 'admin-users-legal' }
          }
        );
      }

      if (path.includes('/user-legal') && path.match(id)) {
        breadcrumbs.push(
          {
            id: 2,
            text: 'Абоненти',
            to: { name: 'admin-abonents' }
          }
        );

        breadcrumbs.push(
          {
            id: 3,
            text: 'Юридичнi особи',
            to: { name: 'admin-users-legal' }
          }
        );

        breadcrumbs.push(
          {
            id: 4,
            text: 'Юридична особа "назва"',
            to: { name: 'admin-user-legal' }
          }
        );
      }
      // users-legal

      // companies
      if (path.includes('/companies')) {
        breadcrumbs.push(
          {
            id: 2,
            text: 'Господарства',
            to: { name: 'admin-companies' }
          }
        );
      }

      if (path.includes('/company') && path.match(id)) {
        breadcrumbs.push(
          {
            id: 2,
            text: 'Господарства',
            to: { name: 'admin-companies' }
          }
        );

        breadcrumbs.push(
          {
            id: 4,
            text: 'Господарство "назва"',
            to: { name: 'admin-company' }
          }
        );
      }
      // companies

      // users
      if (path.includes('/users')) {
        breadcrumbs.push(
          {
            id: 2,
            text: 'Користувачi',
            to: { name: 'admin-users' }
          }
        );
      }

      if (path.includes('/user') && path.match(id)) {
        breadcrumbs.push(
          {
            id: 2,
            text: 'Користувачi',
            to: { name: 'admin-users' }
          }
        );

        breadcrumbs.push(
          {
            id: 4,
            text: 'Користувач "назва"',
            to: { name: 'admin-user' }
          }
        );
      }
      // users

      // default
      if (path.includes('/list')) {
        breadcrumbs.push(
          {
            id: 10,
            text: 'Список'
          }
        );
      }

      if (path.includes('/info')) {
        breadcrumbs.push(
          {
            id: 10,
            text: 'Iнформацiя'
          }
        );
      }

      if (path.includes('/edit')) {
        breadcrumbs.push(
          {
            id: 10,
            text: 'Редагування'
          }
        );
      }

      if (path.includes('/create')) {
        breadcrumbs.push(
          {
            id: 10,
            text: 'Створення'
          }
        );
      }

      if (path.includes('/export')) {
        breadcrumbs.push(
          {
            id: 10,
            text: 'Експорт'
          }
        );
      }

      if (path.includes('/remove')) {
        breadcrumbs.push(
          {
            id: 10,
            text: 'Видалення'
          }
        );
      }

      return breadcrumbs;
    }
  }
</script>
