<template>
  <div class="vd-modal">
    <slot
      name="activator"
      :on="{
        click: () => this.$emit('change', true)
      }"
    />

    <div
      ref="wrapper"
      class="vd-modal__wrapper"
      :class="[classWrapper, { _shown: isOpened }]"
    >
      <div
        class="vd-modal__overlay"
        @click="close()"
      />

      <div
        class="vd-modal__content vd-elevation"
        :class="classContent"
        :style="localStyles"
      >
        <div
          v-if="title"
          class="vd-modal__header"
        >
          <span class="vd-modal__header-text">
            {{ title }}
          </span>
        </div>

        <div>
          <slot/>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
  import { Vue, Component, Watch, Prop, Model, Ref, Emit } from 'vue-property-decorator';

  import { Vendors } from '@/scripts/store';
  import Utils from '@/scripts/utils';

  @Component({})
  export default class BaseModal extends Vue {
    @Model('change', { type: Boolean }) opened;
    @Prop(String) classWrapper;
    @Prop(String) classContent;
    @Prop(String) title;
    @Prop(String) width;

    @Ref() wrapper: HTMLDivElement;

    @Vendors.Action('loadStyle') loadStyle;

    isOpened = false;

    get localStyles() {
      const styles = {} as any;

      // Sizes
      if (this.width) styles.width = Utils.String.cssPropFit(this.width);

      return styles;
    }

    @Watch('opened') onOpenedStateChanged(after) {
      this.isOpened = after;
    }

    created() {
      this.loadStyle({ path: 'common/ui/modal/modal', force: true });
    }

    mounted() {
      document.body.insertBefore(this.wrapper, null);

      this.onOpenedStateChanged(this.opened);
      this.$on('change', this.onOpenedStateChanged);
    }

    beforeDestroy() {
      this.wrapper.remove();
      this.$off('change', this.onOpenedStateChanged);
    }

    @Emit()
    close() {
      this.$emit('change', false);
    }
  }
</script>
