<template>
  <div class="vd-tabs__scroller">
    <div class="vd-tabs__wrapper">
      <ul class="vd-tabs">
        <li
          v-for="(tab, ti) in tabs"
          class="vd-tabs__item"
          :key="ti"
          :class="getClasses(tab)"
          @click="onTabClick(tab.to)"
        >
          <BaseIcon
            class="mr-1"
            size="1"
            stroke-color="grey"
            :name="tab.iconBefore"
          />

          <span>{{ tab.text }}</span>
        </li>
      </ul>
    </div>
  </div>
</template>

<script lang="ts">
  import { Vue, Component, Prop } from 'vue-property-decorator';

  import { Vendors } from '@/scripts/store';

  @Component({})
  export default class BaseTabs extends Vue {
    @Prop(String) name;
    @Prop({ type: Array, default: () => [] }) tabs;

    @Vendors.Action('loadStyle') loadStyle;

    get currentTab() {
      return this.$route.params.tab;
    }

    getClasses({ to, selected }) {
      return {
        _active: selected || (this.currentTab && (to.params || {}).tab === this.currentTab)
      };
    }

    created() {
      this.loadStyle({ path: 'common/ui/tabs/tabs', force: true });
    }

    onTabClick(tab) {
      if (tab) {
        if (tab.params) {
          if (this.$route.params.tab !== tab.params.tab) this.$router.push(tab);
        } else {
          this.$router.push(tab);
        }
      }
    }
  }
</script>
