<template>
  <section>
    <DataTableFilter
      :additional-filter="additionalFilter"
      :filters="headers"
      :name="name"
      @delete="deleteItem"
      @changed="addFilter"
      @apply="filters = JSON.parse(JSON.stringify(additionalFilter))"
      @remove="additionalFilter = []; filters = JSON.parse(JSON.stringify(additionalFilter))"
    />

    <div class="vd-data-table">
      <table class="vd-table">
        <thead class="vd-table__head">
          <tr class="vd-table__tr vd-table__tr_head">
            <th
              v-if="!disableCheckbox"
              class="vd-table__th"
            >
              <input
                type="checkbox"
                class="form-check-input"
                @click="allChecked = !allChecked"
              >
              <label
                class="form-check-label"
              />
            </th>
            <th
              v-for="(header, hi) in filteredHeaders"
              class="vd-table__th"
              scope="col"
              :key="hi"
              @click="sortColumn(header)"
            >
              {{ header.text }}
              <BaseIcon
                class="vd-table__th_arrows _arrow-up"
                :class="{'_active _up': sortField === header.value && sort === 'ascending'}"
              >
                menu-up
              </BaseIcon>

              <BaseIcon
                class="vd-table__th_arrows"
                :class="{'_active _down': sortField === header.value && sort === 'descending'}"
              >
                menu-down
              </BaseIcon>
            </th>

            <th
              v-if="actions"
              class="vd-table__th"
            >
              Дії
            </th>
          </tr>
        </thead>

        <tbody>
          <tr
            v-if="!filteredItems.length"
            class="vd-table__tr vd-table__tr_body"
          >
            <td
              :colspan="headers.length"
              class="vd-table__td"
            >
              <slot name="empty">
                Дані відсутні
              </slot>
            </td>
          </tr>
          <tr
            v-else
            v-for="(item, ii) in sortedItems"
            class="vd-table__tr vd-table__tr_body"
            :key="ii"
          >
            <td
              v-if="!disableCheckbox"
              class="vd-table__td"
            >
              <div class="vd-table__check">
                <input
                  type="checkbox"
                  class="form-check-input"
                  :checked="allChecked"
                >
                <label
                  class="form-check-label"
                />
              </div>
            </td>
            <td
              v-for="(header, hi) in headers"
              class="vd-table__td"
              :class="{'_wide': type==='front'}"
              :key="hi"
            >
              <slot
                v-bind="{ item, header, ii }"
                :name="`item.${header.value}`"
              >
                {{ item[header.value] }}
              </slot>
            </td>
            <slot
              v-if="actions"
              name="actions"
            >
              <td class="vd-table__td">
                <a

                  class="vd-table__action"
                  href="#"
                >
                  <BaseIcon
                    v-if="type === 'front'"
                    color="blue"
                  >
                    currency-usd
                  </BaseIcon>
                </a>
                <a
                  class="vd-table__action"
                  href="#"
                >
                  <BaseIcon color="blue">
                    information
                  </BaseIcon>
                </a>

                <a
                  class="vd-table__action"
                  href="#"
                >
                  <BaseIcon
                    v-if="!disableEdit"
                    color="blue"
                  >
                    pencil
                  </BaseIcon>
                </a>
                <a
                  class="vd-table__action"
                  href="#"
                >
                  <BaseIcon
                    v-if="!disableDelete"
                    color="blue"
                  >
                    delete-forever
                  </BaseIcon>
                </a>
                <a
                  class="vd-table__action"
                  href="#"
                >
                  <BaseIcon
                    v-if="!disableDetails"
                    color="blue"
                  >
                    eye
                  </BaseIcon>
                </a>
              </td>
            </slot>
          </tr>
        </tbody>
      </table>
      <p class="vd-table__counter">{{ items.length }} {{ name }}</p>
    </div>
  </section>
</template>

<script lang="ts">
  import { Vue, Component, Prop } from 'vue-property-decorator';

  import Utils from '@/scripts/utils';
  import { Vendors } from '@/scripts/store';

  @Component({
    name: 'AbonentsListAllPage',
    components: {
      DataTableFilter: () => import('@/components/common/data-table-filter/DataTableFilter.vue')
    }
  })
  export default class BaseDataTable extends Vue {
    @Vendors.Action('loadStyle') loadStyle;

    @Prop({ type: Boolean, default: false }) disableCheckbox;
    @Prop({ type: Boolean, default: false }) disableDetails;
    @Prop({ type: Boolean, default: false }) disableDelete;
    @Prop({ type: Boolean, default: false }) disableEdit;
    @Prop({ type: Boolean, default: false }) actions;
    @Prop({ type: String, default: 'admin' }) type;
    @Prop(String) name;
    @Prop() headers;
    @Prop() items;

    additionalFilter = [];
    allChecked = false;
    arrowUp = false;
    arrowDown = false;
    sort = '';
    sortField = '';
    filters = [];

    created() {
      Utils.Console.timelapse('HomePage/created');
      this.loadStyle({ path: 'page/home/home' });
    }

    mounted() {
      Utils.Console.timelapse('HomePage/mounted');
    }

    get filteredItems() {
      return this.items.filter((item) => {
        if (item.id === 0) return false;

        let isValid = true;

        this.filters.forEach((filter) => {
          const value = String(item[filter.value]).toLowerCase();
          const input = String(filter.input).toLowerCase();
          const input2 = String(filter.input2).toLowerCase();

          if (filter.select.value) {
            switch (filter.select.value) {
              case 'contains':
                if (!(value.indexOf(input) >= 0)) {
                  isValid = false;
                }

                break;

              case 'exactly':
                if (!(value === input)) {
                  isValid = false;
                }

                break;

              case 'between':
                if (!(value >= input && value <= input2)) {
                  isValid = false;
                }

                break;

              case 'empty':
                if (!((value === 'undefined') || (value.split(' ').join(' ') === ''))) {
                  isValid = false;
                }

                break;

              case 'non-empty':
                if ((value === 'undefined') || (value.split(' ').join(' ') === '')) {
                  isValid = false;
                }

                break;

              case 'started':
                if (!(value.startsWith(input))) {
                  isValid = false;
                }

                break;

              case 'ended':
                if (!(value.endsWith(input))) {
                  isValid = false;
                }

                break;
            }
          }
        });

        return isValid;
      });
    }

    get sortedItems() {
      return this.filteredItems.slice(0).sort((a, b) => {
        switch (this.sort) {
          case 'ascending':
            return this.checkSort(a, b, this.sortField) * -1;
          case 'descending':
            return this.checkSort(a, b, this.sortField);
        }

        return 0;
      });
    }

    get filteredHeaders() {
      return this.headers;
    }

    checkSort(a, b, field) {
      const valueA = a[field];
      const valueB = b[field];

      if (valueA > valueB) return 1;
      if (valueA < valueB) return -1;

      return 0;
    }

    sortColumn(header) {
      this.sortField = header.value;

      switch (this.sort) {
        case 'ascending':
          this.sort = 'descending';

          break;

        case 'descending':
          this.sort = 'ascending';

          break;

        default:
          this.sort = 'ascending';

          break;
      }
    }

    deleteItem(index) {
      this.additionalFilter.splice(index, 1);
    }

    addFilter(item) {
      this.additionalFilter.push({
        ...item,
        input: '',
        input2: '',
        select: { value: '' }
      });
    }
  }
</script>
