<template>
  <div class="vd-progress-bar">
    <span
      class="vd-progress-bar__indicator vd-heading-4 _font-weight-normal"
      :class="{_default: isStart, _animated: animation}"
      :style="styles"
    >
      {{ value }}
    </span>
  </div>
</template>

<script lang="ts">
  import { Vue, Component, Prop } from 'vue-property-decorator';

  import { Vendors } from '@/scripts/store';

  @Component({})
  export default class BaseProgressBar extends Vue {
    @Prop({ type: String, default: '0' }) value;
    @Prop({ type: String, default: '100' }) maxVal;
    @Prop({ type: String, default: '20px' }) height;
    @Prop({ type: String, default: '' }) lastTimeChanges;

    isStart = true;

    @Vendors.Action('loadStyle') loadStyle;

    getColor(width) {
      if (width > 0 && width <= 25) return 'var(--vd-strong-cyan)';
      if (width > 25 && width <= 50) return 'var(--vd-indigo)';
      if (width > 50 && width <= 75) return 'var(--vd-amber)';
      if (width > 75 && width <= 100) return 'var(--vd-orange)';
      return 'var(--vd-deep-orange)';
    }

    get animation() {
      if (+this.lastTimeChanges > 0) return true;
      return false;
    }

    get styles() {
      const width = (100 * +this.value) / +this.maxVal;

      return {
        height: this.height,
        width: width > 100 ? '100%' : `${width}%`,
        backgroundColor: this.getColor(width)
      };
    }

    mounted() {
      setTimeout(() => { this.isStart = false; }, 300);
    }

    created() {
      this.loadStyle({ path: 'common/ui/progress-bar/progress-bar', force: true });
    }
  }
</script>
