<template>
  <div
    v-click-outside="() => $emit('change', false)"
    ref="wrapper"
    class="vd-menu"
  >
    <slot
      name="activator"
      :on="{
        click: () => $emit('change', !isOpened)
      }"
    />

    <div
      ref="menu"
      class="vd-menu__wrapper vd-elevation"
      :class="[classWrapper, { _shown: isOpened }]"
      :style="localStyles"
    >
      <slot/>
    </div>
  </div>
</template>

<script lang="ts">
  import { Vue, Component, Watch, Prop, Model, Ref, Emit } from 'vue-property-decorator';

  import Utils from '@/scripts/utils';
  import { Vendors } from '@/scripts/store';

  @Component({})
  export default class BaseMenu extends Vue {
    @Model('change', { type: Boolean }) opened;
    @Prop(String) classWrapper;
    @Prop(String) width;
    @Prop(String) height;
    @Prop(Boolean) fillWidth;
    @Prop(Boolean) fillHeight;

    // Offsets
    @Prop(String) xOffset;
    @Prop(String) yOffset;

    // Centering by axis
    @Prop(Boolean) xCenter;
    @Prop(Boolean) yCenter;

    // Positioning from by x-axis
    @Prop({
      type: String,
      default: 'left',
      validator: (v) => ['left', 'right'].includes(v)
    }) xFrom;

    // Positioning from by y-axis
    @Prop({
      type: String,
      default: 'bottom',
      validator: (v) => ['top', 'bottom'].includes(v)
    }) yFrom;

    // Positioning to by x-axis
    @Prop({
      type: String,
      default: 'right',
      validator: (v) => ['left', 'right'].includes(v)
    }) xTo;

    // Positioning to by y-axis
    @Prop({
      type: String,
      default: 'bottom',
      validator: (v) => ['top', 'bottom'].includes(v)
    }) yTo;

    @Ref() wrapper: HTMLDivElement;
    @Ref() menu: HTMLDivElement;

    @Vendors.Action('loadStyle') loadStyle;

    isOpened = false;
    pos = {
      top: 0,
      left: 0,
      right: 0,
      bottom: 0
    };

    get localStyles() {
      const styles = {
        top: Utils.String.cssPropFit(this.pos.top || 'auto'),
        left: Utils.String.cssPropFit(this.pos.left || 'auto'),
        right: Utils.String.cssPropFit(this.pos.right || 'auto'),
        bottom: Utils.String.cssPropFit(this.pos.bottom || 'auto')
      } as any;

      // Sizes
      styles.minWidth = Utils.String.cssPropFit(this.getWrapperWidth());
      styles.minHeight = Utils.String.cssPropFit(this.getWrapperHeight());

      return styles;
    }

    @Watch('opened') onOpenedStateChanged(after) {
      this.isOpened = after;

      this.$emit('update:click-outside', after);
    }

    created() {
      this.loadStyle({ path: 'common/ui/menu/menu', force: true });
    }

    mounted() {
      document.body.insertBefore(this.menu, null);
      window.addEventListener('scroll', this.onWindowScroll);

      this.onWindowScroll();
      this.onOpenedStateChanged(this.opened);
      this.$on('change', this.onOpenedStateChanged);
    }

    beforeDestroy() {
      this.$off('change', this.onOpenedStateChanged);
      this.menu.remove();

      window.removeEventListener('scroll', this.onWindowScroll);
    }

    @Emit()
    close() {
      this.$emit('change', false);
    }

    getWrapperWidth() {
      if (this.fillWidth && this.wrapper) return this.wrapper.getBoundingClientRect().width;
      if (this.width) return this.width;

      return 'auto';
    }

    getWrapperHeight() {
      if (this.fillHeight && this.wrapper) return this.wrapper.getBoundingClientRect().height;
      if (this.height) return this.height;

      return 'auto';
    }

    /**
     * Detect direction and position. Calculating css-coords.
     * {$side} - start (main) position
     * $side - end position
     * => / <= - visual direction
     */
    onWindowScroll() {
      const rect = this.wrapper.getBoundingClientRect();
      const menuRect = this.menu.getBoundingClientRect();
      const pos = {
        top: 0,
        left: 0,
        right: 0,
        bottom: 0
      };

      // X-axis
      if (this.xCenter) {
        pos.left = rect.left - ((menuRect.width - rect.width) / 2);

        // //////////////////////////////////////
        // If no centering, then calculate aligns
      } else if (this.xFrom === 'left') {
        if (this.xTo === 'left') {
          // left <= {left}
          pos.right = (window.innerWidth - rect.right) + rect.width;
        } else {
          // Default
          // {left} => right
          pos.left = rect.left;
        }
      } else if (this.xFrom === 'right') {
        if (this.xTo === 'left') {
          // left <= {right}
          pos.right = (window.innerWidth - rect.right);
        } else {
          // {right} => right
          pos.left = rect.left + rect.width;
        }
      }

      // Y-axis
      if (this.yCenter) {
        pos.top = rect.top - ((menuRect.height - rect.height) / 2);

        // //////////////////////////////////////
        // If no centering, then calculate aligns
      } else if (this.yFrom === 'top') {
        if (this.yTo === 'top') {
          // top <= {top}
          pos.bottom = (window.innerHeight - rect.bottom) + rect.height;
        } else {
          // {top} => bottom
          pos.top = rect.top;
        }
      } else if (this.yFrom === 'bottom') {
        if (this.yTo === 'top') {
          // top <= {bottom}
          pos.bottom = (window.innerHeight - rect.bottom);
        } else {
          // Default
          // {bottom} => bottom
          pos.top = rect.top + rect.height;
        }
      }

      // Applying X-offset
      const xOffset = parseInt(this.xOffset, 10);
      if (xOffset) {
        if (pos.left) pos.left += xOffset;
        if (pos.right) pos.right -= xOffset;
      }

      // Applying Y-offset
      const yOffset = parseInt(this.yOffset, 10);
      if (yOffset) {
        if (pos.top) pos.top += yOffset;
        if (pos.bottom) pos.bottom -= yOffset;
      }

      this.pos = pos;
    }
  }
</script>
