<template>
  <BaseMenu
    v-bind="menuProps"
    v-model="isOpened"
    class="vd-select vd-elevation-2"
    :class="localClasses"
    :style="localStyles"
    @change="$emit('update:opened', $event)"
  >
    <template #activator>
      <div
        class="vd-select__title"
        @click="$emit('update:opened', !isOpened)"
      >
        <span class="vd-select__title-text">{{ title }}</span>

        <BaseIcon
          class="vd-select__title-icon"
          size="1.4em"
          :name="icon"
          :color="iconColor"
        />
      </div>
    </template>

    <div
      class="vd-select__wrapper"
      :class="localClasses"
      :style="colorStyles"
    >
      <div
        v-for="(groupItems, groupName) in groups"
        class="vd-select__group"
        :key="groupName"
      >
        <div
          v-if="groupName"
          class="vd-select__group-title"
        >
          {{ groupsTexts[groupName] || groupName }}
        </div>

        <div class="vd-select__group-list">
          <div
            v-for="(item, ii) in groupItems"
            class="vd-select__item"
            :key="ii"
            :class="{ _active: (current || {})[itemKey] === item[itemKey] && item[itemKey] }"
            @click="onClickItem(item, ii)"
          >
            <BaseIcon
              v-if="item.icon"
              class="vd-select__item-icon"
              :name="item.icon"
            />

            <span class="vd-select__item-text">
              {{ item[itemText] }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </BaseMenu>
</template>

<script lang="ts">
  import { Vue, Component, Prop, Model, Watch, Emit } from 'vue-property-decorator';

  import Utils from '@/scripts/utils';
  import { Vendors } from '@/scripts/store';

  @Component({})
  export default class BaseSelect extends Vue {
    // State
    @Model('input') value;
    @Prop({ type: Boolean }) opened;

    // Data
    @Prop({ type: Array, default: () => [] }) items;
    @Prop({ type: Object, default: () => ({}) }) groupsTexts;

    // Visual effects
    @Prop(Object) menu;
    @Prop(Boolean) flat;
    @Prop(Boolean) dark;
    @Prop(Boolean) block;
    @Prop(String) color;
    @Prop(String) borderColor;
    @Prop(String) borderWidth;
    @Prop({ type: String, default: () => '200px' }) width;
    @Prop({ type: String, default: () => 'text' }) itemText;
    @Prop({ type: String, default: () => 'value' }) itemKey;
    @Prop({ type: String, default: () => 'menu-down' }) icon;
    @Prop({ type: String, default: () => 'grey' }) iconColor;
    @Prop({ type: String, default: () => 'Select value...' }) placeholder;

    @Vendors.Action('loadStyle') loadStyle;

    isOpened = false;
    current = null;

    get localClasses() {
      return {
        flat: this.flat,
        dark: this.dark,
        _opened: this.isOpened,
        _empty: !this.current
      };
    }

    get localStyles() {
      const styles = { ...this.colorStyles } as any;

      // Sizes
      if (this.block) styles.width = '100%';
      if (this.width) styles.minWidth = Utils.String.cssPropFit(this.width);
      if (this.borderWidth) styles.borderWidth = Utils.String.cssPropFit(this.borderWidth);

      return styles;
    }

    get colorStyles() {
      const styles = {
        color: `var(--vd-${this.dark || this.flat ? 'white' : 'black'})`
      } as any;

      if (this.color) styles.backgroundColor = Utils.String.cssColorChain(this.color);
      if (this.color) styles.borderColor = Utils.String.cssColorChain(this.color);
      if (this.borderColor) styles.borderColor = Utils.String.cssColorChain(this.borderColor);
      if (this.flat) styles.backgroundColor = 'transparent';
      if (this.flat) styles.borderColor = 'transparent';

      return styles;
    }

    get menuProps() {
      return {
        fillWidth: true,
        yOffset: '-1',
        ...this.menu
      };
    }

    get title() {
      return (this.current || {})[this.itemText] || this.placeholder;
    }

    get groups() {
      const groups = { '': [] };

      this.items.forEach((item) => {
        if (!item.group) {
          groups[''].push(item);
        } else {
          if (!groups[item.group]) groups[item.group] = [];
          groups[item.group].push(item);
        }
      });

      return groups;
    }

    @Watch('value') onValueChanged(after) {
      this.current = after;
    }

    @Watch('opened') onOpenedStateChanged(after) {
      this.isOpened = after;
    }

    created() {
      this.loadStyle({ path: 'common/ui/select/select', force: true });
    }

    mounted() {
      this.onValueChanged(this.value);
      this.onOpenedStateChanged(this.opened);

      this.$on('input', this.onValueChanged);
      this.$on('update:opened', this.onOpenedStateChanged);
    }

    beforeDestroy() {
      this.$off('input', this.onValueChanged);
      this.$off('update:opened', this.onOpenedStateChanged);
    }

    onClickItem(item) {
      this.$emit('input', item);
      this.close();
    }

    @Emit()
    close() {
      this.$emit('update:opened', false);
    }
  }
</script>
