<template>
  <input
    class="vd-input vd-elevation-2"
    :class="localClasses"
    :style="localStyles"
    :value="value"
    :placeholder="placeholder"
    @input="$emit('input', $event.target.value)"
  >
</template>

<script lang="ts">
  import { Vue, Component, Prop, Model } from 'vue-property-decorator';

  import Utils from '@/scripts/utils';
  import { Vendors } from '@/scripts/store';

  @Component({})
  export default class BaseInput extends Vue {
    // State
    @Model('input') value;

    // Visual effects
    @Prop(Boolean) flat;
    @Prop(Boolean) dark;
    @Prop(Boolean) block;
    @Prop(String) color;
    @Prop(String) borderColor;
    @Prop(String) borderWidth;
    @Prop({ type: String, default: () => '200px' }) width;
    @Prop({ type: String, default: () => 'Input value...' }) placeholder;

    @Vendors.Action('loadStyle') loadStyle;

    get localClasses() {
      return {
        flat: this.flat,
        dark: this.dark
      };
    }

    get localStyles() {
      const styles = { ...this.colorStyles } as any;

      // Sizes
      if (this.block) styles.width = '100%';
      if (this.width) styles.minWidth = Utils.String.cssPropFit(this.width);
      if (this.borderWidth) styles.borderWidth = Utils.String.cssPropFit(this.borderWidth);

      return styles;
    }

    get colorStyles() {
      const styles = {
        color: `var(--vd-${this.dark || this.flat ? 'white' : 'black'})`
      } as any;

      if (this.color) styles.backgroundColor = Utils.String.cssColorChain(this.color);
      if (this.color) styles.borderColor = Utils.String.cssColorChain(this.color);
      if (this.borderColor) styles.borderColor = Utils.String.cssColorChain(this.borderColor);
      if (this.flat) styles.backgroundColor = 'transparent';
      if (this.flat) styles.borderColor = 'transparent';

      return styles;
    }

    created() {
      this.loadStyle({ path: 'common/ui/input/input', force: true });
    }
  }
</script>
