<template>
  <figure
    class="vd-image"
    :class="{
      '_loaded': isLoaded,
      '_loaded-failed': isLoadedFailed,
      'vd-elevation-2': !isLoaded
    }"
    :style="localStyles"
    @click="$emit('click')"
  >
    <img
      ref="image"
      class="vd-image__item"
      :class="classes"
      :src="src"
      :alt="alt"
    >
  </figure>
</template>

<script lang="ts">
  import { Vue, Component, Prop, Watch, Ref } from 'vue-property-decorator';

  import Utils from '@/scripts/utils';
  import { Vendors } from '@/scripts/store';

  @Component({})
  export default class BaseImage extends Vue {
    @Prop(String) width;
    @Prop(String) height;
    @Prop(String) classes;
    @Prop({ required: true }) src;
    @Prop({ type: String, default: 'Image' }) alt;

    @Ref() image: HTMLImageElement;

    @Vendors.Action('loadStyle') loadStyle;

    isLoaded = false;
    isLoadedFailed = false;

    get localStyles() {
      const styles = {} as any;

      // Sizes
      if (this.width) styles.width = Utils.String.cssPropFit(this.width);
      if (this.width) styles.minWidth = Utils.String.cssPropFit(this.width);
      if (this.height) styles.height = Utils.String.cssPropFit(this.height);

      return styles;
    }

    @Watch('src') onSrcChanged() {
      if (!this.src) this.onError();
    }

    created() {
      this.loadStyle({ path: 'common/ui/image/image', force: true });
    }

    mounted() {
      this.image.addEventListener('load', this.onLoad);
      this.image.addEventListener('error', this.onError);
      this.onSrcChanged();
    }

    beforeDestroy() {
      this.image.removeEventListener('load', this.onLoad);
      this.image.removeEventListener('error', this.onError);
    }

    onLoad() {
      this.isLoaded = true;
      this.isLoadedFailed = false;
    }

    onError() {
      this.isLoaded = false;
      this.isLoadedFailed = true;
    }
  }
</script>
