<template>
  <div class="vd-home-page scroller__body">
    <div class="container">
      <div class="row">
        <div class="vd-promiser__filters">
          <div class="vd-promiser__filter">
            <p>Сума боргу</p>
            <BaseInput
              v-model="summDebt"
            />
          </div>

          <div class="vd-promiser__filter">
            <p>Місяців несплати</p>
            <BaseInput
              v-model="monthsDebt"
            />
          </div>

          <div class="vd-promiser__filter">
            <input type="checkbox">
            <label>+ Дачники</label>
          </div>

          <BaseButton
            class="ml-2"
            color="primary"
            text="Фільтрувати"
          />
        </div>
        <p class="vd-heading-2 _underlined col-12">
          Боржники
        </p>

        <BaseDataTable
          disable-checkbox
          name="Боржники"
          type="front"
          :items="users"
          :headers="headers"
        >
          <template
            #item.account="{ item }"
          >
            <router-link
              to="/abonent/1"
            >
              {{ item.account }}
            </router-link>
          </template>
        </BaseDataTable>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
  import { Vue, Component } from 'vue-property-decorator';

  @Component({
    name: 'AbonentsListPromisersPage'
  })
  export default class AbonentsListPromisersPage extends Vue {
    summDebt = '-10';
    monthsDebt = '2';
    cottagers = '';

    users = [
      {
        account: '010198',
        name: 'Степаненко Оксана Василівна',
        address: 'вул. Жовтнева 24 Єрківці',
        phone: '0954690942',
        privileges: 'ЧАЕС',
        accountingType: 'Лічильник ЛК-15Х',
        number: '1081576',
        set: 'вул.',
        revise: '2018-05-01',
        indicator: '380',
        balance: '-225.68',
        paymentDate: '22-06-2020',
        subsidyDate: '15-02-2019',
        privilegesDate: '21-10-2019'
      },

      {
        account: '010198',
        name: 'Степаненко Оксана Василівна',
        address: 'вул. Жовтнева 24 Єрківці',
        phone: '0954690942',
        privileges: 'ЧАЕС',
        accountingType: 'Лічильник ЛК-15Х',
        number: '1081576',
        set: 'вул.',
        revise: '2018-05-01',
        indicator: '380',
        balance: '-225.68',
        paymentDate: '22-06-2020',
        subsidyDate: '15-02-2019',
        privilegesDate: '21-10-2019'
      }
    ];

    headers = [
      { text: 'Рахунок', value: 'account' },
      { text: 'Прізвище, ім\'я', value: 'name' },
      { text: 'Адреса', value: 'address' },
      { text: 'Телефони', value: 'phone' },
      { text: 'Пільга', value: 'privileges' },
      { text: 'Тип', value: 'accountingType' },
      { text: 'Номер', value: 'number' },
      { text: 'Встановлено', value: 'set' },
      { text: 'Повірка', value: 'revise' },
      { text: 'Показник', value: 'indicator' },
      { text: 'Баланс', value: 'balance' },
      { text: 'Оплата', value: 'paymentDate' },
      { text: 'Субсидii', value: 'subsidyDate' },
      { text: 'Пiльги', value: 'privilegesDate' }
    ];
  }
</script>
