<template>
  <div class="vd-home-page scroller__body">
    <div class="container">
      <div class="row">
        <BaseDataTable
          actions
          disable-details
          disable-checkbox
          name="Абоненти"
          type="front"
          :items="users"
          :headers="headers"
        />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
  import { Vue, Component } from 'vue-property-decorator';

  @Component({
    name: 'AbonentsListAllPage'
  })
  export default class AbonentsListAllPage extends Vue {
    users = [
      {
        account: '010001',
        abonentNamePhone: 'Перчук Тетяна Миколаївна 0638596636',
        address: 'вул. Жовтнева 24 Єрківці',
        peopleCounter: '1',
        privileges: 'Лічильник ЛК-15Г вдова ветерана',
        balance: '360.2 грн.448 куб. ( 431 / 2019-03-31 )'
      },

      {
        account: '010002',
        abonentNamePhone: 'Сагайдак Сергій Олександрович 067-730-14-73',
        address: 'вул. Польова 4в Єрківці',
        peopleCounter: '1',
        privileges: 'Лічильник ЛК-15Х Без пільг',
        balance: '-3416.0 грн. 372 куб. ( 372 / 2020-04-30 )'
      }
    ];

    headers = [
      { text: 'Рахунок', value: 'account' },
      { text: 'Абонент/Телефон', value: 'abonentNamePhone' },
      { text: 'Адреса', value: 'address' },
      { text: 'К-сть осіб', value: 'peopleCounter' },
      { text: 'Примітки/Пільги', value: 'privileges' },
      { text: 'Баланс/Показник', value: 'balance' }
    ];
  }
</script>
