<template>
  <div class="vd-home-page scroller__body">
    <div class="vd-home-page scroller__body">
      <div class="container">
        <div class="row">
          <p class="vd-heading-2 _underlined col-12">
            Пільговики {{ village }}
          </p>

          <BaseDataTable
            disable-checkbox
            name="Пільговики"
            type="front"
            :items="users"
            :headers="headers"
          >
            <template
              #item.account="{ item }"
            >
              <router-link
                to="/abonent/1"
              >
                {{ item.account }}
              </router-link>
            </template>
          </BaseDataTable>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
  import { Vue, Component } from 'vue-property-decorator';

  @Component({
    name: 'AbonentsListPrivilegedPage'
  })
  export default class AbonentsListPrivilegedPage extends Vue {
    village = 'Єрківці';

    users = [
      {
        account: '010198',
        name: 'Степаненко Оксана Василівна',
        address: 'вул. Жовтнева 24 Єрківці',
        phone: '0954690942',
        privileges: 'ЧАЕС',
        accountingType: 'Лічильник ЛК-15Х',
        number: '1081576',
        privilegesSum: '32.22',
        indicator: '380',
        balance: '-225.68'
      },

      {
        account: '010198',
        name: 'Степаненко Оксана Василівна',
        address: 'вул. Жовтнева 24 Єрківці',
        phone: '0954690942',
        privileges: 'ЧАЕС',
        accountingType: 'Лічильник ЛК-15Х',
        number: '1081576',
        privilegesSum: '23.23',
        indicator: '380',
        balance: '-225.68'
      },

      {
        account: '010198',
        name: 'Степаненко Оксана Василівна',
        address: 'вул. Жовтнева 24 Єрківці',
        phone: '0954690942',
        privileges: 'ЧАЕС',
        accountingType: 'Лічильник ЛК-15Х',
        number: '1081576',
        privilegesSum: '22.33',
        indicator: '380',
        balance: '-225.68'
      },

      {
        account: '010198',
        name: 'Степаненко Оксана Василівна',
        address: 'вул. Жовтнева 24 Єрківці',
        phone: '0954690942',
        privileges: 'ЧАЕС',
        accountingType: 'Лічильник ЛК-15Х',
        number: '1081576',
        privilegesSum: '2.29',
        indicator: '380',
        balance: '-225.68'
      },

      {
        account: '010198',
        name: 'Степаненко Оксана Василівна',
        address: 'вул. Жовтнева 24 Єрківці',
        phone: '0954690942',
        privileges: 'ЧАЕС',
        accountingType: 'Лічильник ЛК-15Х',
        number: '1081576',
        privilegesSum: '0.33',
        indicator: '380',
        balance: '-225.68'
      },

      {
        account: '010198',
        name: 'Степаненко Оксана Василівна',
        address: 'вул. Жовтнева 24 Єрківці',
        phone: '0954690942',
        privileges: 'ЧАЕС',
        accountingType: 'Лічильник ЛК-15Х',
        number: '1081576',
        privilegesSum: '0.00',
        indicator: '380',
        balance: '-225.68'
      }
    ];

    headers = [
      { text: 'Рахунок', value: 'account' },
      { text: 'Прізвище, ім\'я', value: 'name' },
      { text: 'Адреса', value: 'address' },
      { text: 'Телефони', value: 'phone' },
      { text: 'Пільга', value: 'privileges' },
      { text: 'Тип обліку', value: 'accountingType' },
      { text: 'Номер', value: 'number' },
      { text: 'Сумма пiльг', value: 'privilegesSum' },
      { text: 'Показник', value: 'indicator' },
      { text: 'Баланс', value: 'balance' }
    ];
  }
</script>
