<template>
  <div class="vd-home-page scroller__body">
    <div class="container">
      <div class="row">
        <p class="vd-heading-2 _underlined col-12">
          Абонент {{ user.fullName.value }} {{ user.account.value }}
        </p>
      </div>
      <div class="vd-abonent__content row">
        <div class="vd-abonent__info col-2">
          <div
            v-for="(item, ii) in user"
            class="vd-abonent__info-item"
            :key="ii"
          >
            <h4 class="vd-abonent__info-header">
              {{ item.text }}
            </h4>
            <p class="vd-abonent__info-value">
              {{ item.value }}
            </p>
          </div>
        </div>
        <div class="vd-abonent__actions col-10">
          <p class="col-12">
            Оплачено по 380 куб. Звiрка 2020-07-27 380 куб. Споживання 4.4545 куб.
          </p>
          <div class="vd-abonent__recalculation col-12">
            <div class="vd-abonent__recalculation-item">
              <p>Баланс</p>
              <BaseInput
                v-model="balance"
                placeholder=""
              />
            </div>

            <div class="vd-abonent__recalculation-item">
              <p>Показник</p>
              <BaseInput
                v-model="index"
                placeholder=""
              />
            </div>

            <div class="vd-abonent__recalculation-item">
              <p>Причина</p>
              <BaseInput
                v-model="reason"
                placeholder=""
              />
            </div>
            <BaseButton
              class="ml-2"
              color="primary"
              text="Перерахувати"
            />
          </div>

          <BaseDataTable
            disable-checkbox
            name="Дії"
            type="front"
            :items="userActions"
            :headers="headers"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
  import { Vue, Component } from 'vue-property-decorator';

  @Component({
    name: 'AbonentItemPage'
  })
  export default class AbonentItemPage extends Vue {
    balance = '';
    index = '';
    reason = '';

    user = {
      account: { text: 'Рахунок', value: '010198' },
      fullName: { text: 'Прізвище, ім\'я', value: 'Степаненко Оксана Василівна' },
      village: { text: 'Село', value: 'Єрківці' },
      address: { text: 'Адреса', value: 'вуд Весняна 30' },
      passport: { text: 'Паспорт', value: 'СО 963641' },
      inn: { text: 'Ідент.код', value: '2206923581' },
      phone: { text: 'Телефони', value: '0954690942' },
      privileges: { text: 'Пільга', value: 'ЧАЕС' },
      notes: { text: 'Примітки', value: '' },
      accoutingType: { text: 'Тип обліку', value: 'Лічильник ЛК-15Х' },
      number: { text: 'Номер', value: '1081576' },
      seal: { text: 'Пломба', value: '' },
      installed: { text: 'Встановлено', value: 'вул.' },
      revise: { text: 'Повірка', value: '' },
      index: { text: 'Показник', value: '380' },
      balance: { text: 'Баланс', value: '-225.68' }
    };

    userActions = [
      {
        description: 'Нараховано 4куб.',
        wasUah: '-169.68',
        addedUah: '-56.0',
        sumUah: '-225.68',
        wasCube: '376',
        addedCube: '4',
        sumCube: '380',
        priceCube: '14.0',
        paymentType: 'Система',
        user: 'yasko@ukr.net',
        date: '27 лип., 12:05'
      },

      {
        description: 'Нараховано 4куб.',
        wasUah: '-169.68',
        addedUah: '-56.0',
        sumUah: '-225.68',
        wasCube: '376',
        addedCube: '4',
        sumCube: '380',
        priceCube: '14.0',
        paymentType: 'Система',
        user: 'yasko@ukr.net',
        date: '27 лип., 12:05'
      },

      {
        description: 'Нараховано 4куб.',
        wasUah: '-169.68',
        addedUah: '-56.0',
        sumUah: '-225.68',
        wasCube: '376',
        addedCube: '4',
        sumCube: '380',
        priceCube: '14.0',
        paymentType: 'Система',
        user: 'yasko@ukr.net',
        date: '27 лип., 12:05'
      },

      {
        description: 'Нараховано 4куб.',
        wasUah: '-169.68',
        addedUah: '-56.0',
        sumUah: '-225.68',
        wasCube: '376',
        addedCube: '4',
        sumCube: '380',
        priceCube: '14.0',
        paymentType: 'Система',
        user: 'yasko@ukr.net',
        date: '27 лип., 12:05'
      }
    ];

    headers = [
      { text: 'Опис', value: 'description' },
      { text: 'Було, грн', value: 'wasUah' },
      { text: 'Додано, грн', value: 'addedUah' },
      { text: 'Стало, грн', value: 'sumUah' },
      { text: 'Було, куб', value: 'wasCube' },
      { text: 'Додано, куб', value: 'addedCube' },
      { text: 'Стало, куб', value: 'sumCube' },
      { text: 'Ціна за куб', value: 'priceCube' },
      { text: 'Тип оплати', value: 'paymentType' },
      { text: 'Користувач', value: 'user' },
      { text: 'Дата', value: 'date' }
    ];
  }
</script>
