<template>
  <div class="vd-home-page scroller__body">
    <div class="container">
      <div class="row">
        <div class="vd-bill__actions col-12">
          <div class="vd-bill__action">
            <BaseButton
              class="ml-2"
              color="error"
              text="Рахунки"
            />
          </div>

          <div class="vd-bill__action">
            <input type="file">

            <BaseButton
              class="ml-2"
              color="primary"
              text="<-Завантажити шаблон на сервер"
            />
            <div class="vd-bill__action-button">
              <BaseButton
                class="ml-2"
                color="primary"
                text="Скачать шаблон на комп"
              />
            </div>
          </div>
        </div>
        <p class="vd-heading-2 _underlined col-12">
          Рахунки-попередження {{ village }}
        </p>

        <BaseDataTable
          disable-checkbox
          name="Рахунки-попередження"
          type="front"
          :items="users"
          :headers="headers"
        >
          <template
            #item.account="{ item }"
          >
            <router-link
              to="/abonent/1"
            >
              {{ item.account }}
            </router-link>
          </template>
        </BaseDataTable>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
  import { Vue, Component } from 'vue-property-decorator';

  @Component({
    name: 'BillingWarningsPage'
  })
  export default class BillingWarningsPage extends Vue {
    village = 'Єрківці';

    users = [
      {
        account: '010198',
        name: 'Степаненко Оксана Василівна',
        address: 'вул. Жовтнева 24 Єрківці',
        phone: '0954690942',
        privileges: 'ЧАЕС',
        accountingType: 'Лічильник ЛК-15Х',
        balance: '-225.68',
        monthsOfDept: '2',
        cubeOfDept: '3',
        debtAll: '-281.68',
        payment: '22-06-2020'
      },

      {
        account: '010198',
        name: 'Степаненко Оксана Василівна',
        address: 'вул. Жовтнева 24 Єрківці',
        phone: '0954690942',
        privileges: 'ЧАЕС',
        accountingType: 'Лічильник ЛК-15Х',
        balance: '-225.68',
        monthsOfDept: '2',
        cubeOfDept: '3',
        debtAll: '-281.68',
        payment: '22-06-2020'
      },

      {
        account: '010198',
        name: 'Степаненко Оксана Василівна',
        address: 'вул. Жовтнева 24 Єрківці',
        phone: '0954690942',
        privileges: 'ЧАЕС',
        accountingType: 'Лічильник ЛК-15Х',
        balance: '-225.68',
        monthsOfDept: '2',
        cubeOfDept: '3',
        debtAll: '-281.68',
        payment: '22-06-2020'
      },

      {
        account: '010198',
        name: 'Степаненко Оксана Василівна',
        address: 'вул. Жовтнева 24 Єрківці',
        phone: '0954690942',
        privileges: 'ЧАЕС',
        accountingType: 'Лічильник ЛК-15Х',
        balance: '-225.68',
        monthsOfDept: '2',
        cubeOfDept: '3',
        debtAll: '-281.68',
        payment: '22-06-2020'
      }
    ];

    headers = [
      { text: 'Рахунок', value: 'account' },
      { text: 'Прізвище, ім\'я', value: 'name' },
      { text: 'Адреса', value: 'address' },
      { text: 'Телефони', value: 'phone' },
      { text: 'Пільга', value: 'privileges' },
      { text: 'Тип обліку', value: 'accountingType' },
      { text: 'Баланс', value: 'balance' },
      { text: 'Мiсяцiв боргу', value: 'monthsOfDept' },
      { text: 'Кубiв боргу', value: 'cubeOfDept' },
      { text: 'Всього борг', value: 'debtAll' },
      { text: 'Оплата', value: 'payment' }
    ];
  }
</script>
