<template>
  <div class="row">
    <div class="col-12 col-md-10 offset-md-2">
      <BaseButton
        v-for="(button, ib) in list"
        :key="ib"
        class="mr-2 mt-2"
        :color="button.color"
        :icon="button.icon"
        :text="button.text"
        @click="button.event || null"
      />
    </div>
  </div>
</template>

<script lang="ts">
  import { Vue, Component, Prop } from 'vue-property-decorator';

  @Component({})
  export default class ControllButtons extends Vue {
    @Prop(Array) list;
  }
</script>
